<div *ngIf="!isBanner">
  <owl-carousel
    [options]="carousalOptions"
    *ngIf="data?.length"
    [carouselClasses]="['owl-carousel']"
  >
    <div class="item" *ngFor="let product of data; let i = index">
      <a (click)="openDialog(product.sku)">
        <img src="{{ product.main_image }}" alt="" />
        <div class="inner">
          <span class="product_brand">{{ product.site }}</span>
          <br />
          <span class="product_name">{{ product.name }}</span>
          <br />
          <span
            *ngIf="product.is_price == product.was_price"
            class="current-price"
            >${{ product.is_price }}</span
          >
          <span
            *ngIf="!(product.is_price == product.was_price)"
            class="current-price"
            >${{ product.is_price }} &nbsp;
            <s class="old-price"> ${{ product.was_price }}</s></span
          >
        </div>
      </a>
    </div>
  </owl-carousel>
</div>

<div *ngIf="isBanner">
  <owl-carousel
    [options]="bannerCarousalOptions"
    *ngIf="data?.length"
    [carouselClasses]="['owl-carousel']"
  >
    <div class="item" *ngFor="let product of data; let i = index">
      <a href="{{ product.link }}">
        <img class="owl-item-bg" src="{{ product.image }}" alt="Owl Image" />
      </a>
    </div>
  </owl-carousel>
</div>
