<div class="homepage">
  <div class="main-container">
    <h1>Search America's top Home brands in one go</h1>
    <app-search-bar class="section"></app-search-bar>
    <div class="section">
      <app-browse-by-room></app-browse-by-room>
      <br /><br />
      <app-banner></app-banner>
      <br /><br />
      <app-brand-footer></app-brand-footer>
      <br />
      <app-new-arrivals></app-new-arrivals>
      <br />
      <app-top-deals></app-top-deals>
      <br />
      <app-create-your-style></app-create-your-style>
      <br />
      <app-best-sellers></app-best-sellers>
      <br />
      <app-email-subscription></app-email-subscription>
    </div>
  </div>
</div>
