<div class="homepage">
    <div class="main-container">

        <!-- <h1 class="search-title">Search America's top Home brands in one go</h1> -->

        <!-- <app-search-bar class="section"></app-search-bar> -->

        <!--        Uncomment below 2 lines for Flash sale components-->
        <!--        <app-flash-sale *ngIf="!isHandset"></app-flash-sale>-->
        <!--        <app-flash-sale-mobile *ngIf="isHandset"></app-flash-sale-mobile>-->
        <!--        <app-banner [isHandset]="isHandset"></app-banner>-->

        <div [class]="isHandset ? '' : 'mh2'">
            <app-best-sellers [isHandset]="isHandset"></app-best-sellers>
            <app-new-arrivals [isHandset]="isHandset"></app-new-arrivals>
        </div>

        <app-featured-brands [isHandset]="isHandset"></app-featured-brands>
        <app-browse-by-room [isHandset]="isHandset"></app-browse-by-room>
        <app-brand-footer [isHandset]="isHandset"></app-brand-footer>
        <app-about-small [isHandset]="isHandset"></app-about-small>
        <div class="reviews-section" [ngClass]="{'ptstandard pbstandard':!isHandset,'pt56 pb56':isHandset}">
            <div class="header mb3">Don't take our word for it</div>
            <div class="flex-ns review-cards-container">
                <ng-container *ngIf="false;else mobileCarousel">
                    <p-carousel
                            contentClass="carousel-items"
                            [numVisible]="3"
                            [numScroll]="1"
                            [value]="reviews"
                            [circular]="false"
                    >
                        <ng-template let-data pTemplate="item">
                            <div class="review-card">
                                <a href="https://www.trustpilot.com/review/www.lazysuzy.com">
                                    <div class="trustpilot-images">
                                        <img [src]="trustPilotStarsPath"/>
                                        <img [src]="trustPilotLogoPath"/>
                                    </div>
                                    <div class="content">
                                        <div class="review-title">{{ data.title }}</div>
                                        <div class="review-writer">by {{ data.writer }}</div>
                                        <div class="review-content">{{ data.review }}</div>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                    </p-carousel>
                </ng-container>
                <ng-template #mobileCarousel>
                    <div style="width: 100%;" id="testimonials">
                        <owl-carousel
                                [options]="carousalOptions"
                                [items]="reviews"
                                *ngIf="reviews?.length"
                                [carouselClasses]="['owl-theme']"
                        >
                            <div [ngClass]="{'item': !isHandset}" class="carousel-item"
                                 style="display: flex;height: 100%"
                                 *ngFor="let data of reviews; let i = index">
                                <div class="mobile-review-card carousel-box">
                                    <a class="sane-image-width"
                                       href="https://www.trustpilot.com/review/www.lazysuzy.com">
                                        <div class="trustpilot-images">
                                            <img [src]="trustPilotStarsPath"/>
                                            <img [src]="trustPilotLogoPath"/>
                                        </div>
                                        <div class="content">
                                            <div class="review-title">{{ data.title }}</div>
                                            <div class="review-writer">by {{ data.writer }}</div>
                                            <div class="review-content">{{ data.review }}</div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!--                            <div style="display: flex;" *ngFor="let data of reviews; let i = index">-->
                            <!--                                <div class="mobile-review-card">-->
                            <!--                                    <p>Hello</p>-->
                            <!--                                </div>-->
                            <!--                                                            <div class="review-card">-->

                            <!--                                                            </div>-->
                            <!--                            </div>-->
                        </owl-carousel>
                    </div>

                </ng-template>
            </div>
        </div>
        <app-delivery-details [isHandset]="isHandset"></app-delivery-details>
        <div [class]="isHandset ? '' : 'mh2'">
            <app-shop-this-look [isHandset]="isHandset"></app-shop-this-look>
            <!--            <app-top-deals [isHandset]="isHandset"></app-top-deals>-->
        </div>


        <app-subscribe [homePage]="true"></app-subscribe>
    </div>
</div>
