.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.mat-form-field {
  min-width: 100%;
}
.invalid {
  color: #ff0000;
  font-size: 10px;
  margin: -12px 0 12px 4px;
}

[data-title] {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  vertical-align: middle;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -40px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: pre-wrap;
  left: -350px;
  max-width: 350px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  [data-title]:hover::before {
    display: none;
  }
}
