<div class="flex">
  <mat-icon
  class="account-icon pointer"
  aria-hidden="false"
  *ngIf="!userCookie; else userName"
  aria-label="Account"
  data-target="#signUpModal"
  data-toggle="modal"
  >
  account_circle</mat-icon
  >
  <span *ngIf="!handset" class="signup-link ml1">Sign Up</span>
</div>
<ng-template #userName>
  <span class="profile-name" [matMenuTriggerFor]="optionsMenu">
    {{ user.name }}
  </span>
</ng-template>

<!-- <mat-menu #accountMenu="matMenu">
  <span (mouseleave)="closeMyMenu()">
    <button mat-menu-item data-toggle="modal" data-target="#signInModal">
      Sign In
    </button>
    <button mat-menu-item data-toggle="modal" data-target="#signUpModal">
      Sign Up
    </button>
  </span>
</mat-menu>-->

<mat-menu #optionsMenu="matMenu">
  <span (mouseleave)="closeMyMenu()">
    <button mat-menu-item (click)="logout()">Logout</button>
  </span>
</mat-menu> 
<!--SignIn Modal -->
<div
  class="modal fade"
  id="signInModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog opacity-animate" role="document">
    <div class="modal-content">
      <div class="modal-title">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          #closeLoginModal
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-heading" id="signInModalLabel">Hey, Star Stuff!</h5>
        <br />
        <div class="socialButtons">
          <button
            type="button"
            class="btn btn-primary facebookBtn"
            style="background: #3b5998;"
          >
            <a [href]="facebookRedirect" class="white">
              <i class="fab fa-facebook-f"
                >&nbsp;<b>Continue with Facebook</b></i
              >
            </a>
          </button>
          <br />
          <button type="button" class="btn btn-light googleBtn">
            <a [href]="googleRedirect" class="black">
              <i class="fab fa-google">&nbsp;<b>Continue with Google</b></i>
            </a>
          </button>
        </div>
        <hr />
      </div>

      <div class="modal-body">
        <div class="span-line text-center">Not Feeling Social?</div>
        <br />
        <form role="form" (submit)="login(email, password)">
          <!-- <form role="form"> -->
          <div class="formGroup">
            <input
              type="email"
              class="form-control text-input"
              name="email"
              placeholder="Email"
              required
              [(ngModel)]="email"
            />

            <input
              type="password"
              class="form-control text-input password"
              name="password"
              placeholder="Password"
              required
              [(ngModel)]="password"
            />
            <span class="error-msg {{ error ? 'visible' : 'invisible' }}">{{
              errorMsg
            }}</span>
            <button type="submit" class="form-control btn btn-dark submit">
              Login
            </button>
            <br />
            <a class="resetPassword" routerLink="/forgotpassword"
              >Reset Password</a
            >
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <span class="footer-content"
          >Not a member yet?&nbsp;
          <button
            class="btn btn-sm btn-light signUpLink"
            data-toggle="modal"
            data-target="#signUpModal"
            data-dismiss="modal"
          >
            Join Now.
          </button></span
        >
      </div>
    </div>
  </div>
</div>

<!--SignUp Modal -->
<div
  class="modal fade"
  id="signUpModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog opacity-animate" role="document">
    <div class="modal-content">
      <div class="modal-title">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeSignupModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="signup-modal-heading" id="signInModalLabel">
          Hey, Star Stuff!
        </h5>
        <br />
        <div class="socialButtons">
          <button
            type="button"
            class="btn btn-primary facebookBtn"
            style="background: #3b5998;"
          >
            <a [href]="facebookRedirect" class="white">
              <i class="fab fa-facebook-f"
                >&nbsp;<b>Continue with Facebook</b></i
              >
            </a>
          </button>
          <br />
          <button type="button" class="btn btn-light googleBtn">
            <a [href]="googleRedirect" class="black">
              <i class="fab fa-google">&nbsp;<b>Continue with Google</b></i>
            </a>
          </button>
        </div>
        <hr />
      </div>

      <div class="modal-body">
        <div class="span-line text-center">Not Feeling Social?</div>
        <br />
        <form role="form" (submit)="signup(name, email, password)">
          <div class="signUpformGroup">
            <input
              type="name"
              class="form-control text-input"
              name="name"
              placeholder="Name"
              required
              [(ngModel)]="name"
            />
            <br />
            <input
              type="email"
              class="form-control text-input"
              name="email"
              placeholder="Email"
              required
              [(ngModel)]="email"
            />
            <br />
            <input
              type="password"
              class="form-control text-input"
              name="password"
              placeholder="Password"
              required
              [(ngModel)]="password"
            />
            <span class="error-msg {{ error ? 'visible' : 'invisible' }}">{{
              errorMsg
            }}</span>
            <button type="submit" class="form-control btn btn-dark submit">
              Signup
            </button>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <span class="signup-footer-content {{thanksMsg?'dn':''}}"
          >Already Joined&nbsp;
          <button
            class="btn btn-sm btn-light signUpLink"
            data-toggle="modal"
            data-target="#signInModal"
            data-dismiss="modal"
          >
            Sign In.
          </button>
        </span>
        <div class="tc w-100 {{thanksMsg?'':'dn'}}">
          <span>
            Thanks for signing up
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
