<div *ngIf="initialized">
  <span
    *ngIf="isCurrentUserGuest(); else userName"
    (click)="openSignupDialog()"
  >
    <mat-icon
      class="default-account-icon pointer"
      aria-hidden="false"
      aria-label="Account"
    >
     person_outline
    </mat-icon>
  </span>

  <ng-template #userName>
    <img
      *ngIf="hasPicture; else showInitials"
      [src]="user.picture"
      class="profile-avatar"
      [matMenuTriggerFor]="optionsMenu"
    />
    <ng-template #showInitials>
      <span class="profile-name pointer" [matMenuTriggerFor]="optionsMenu">
        {{ initials }}
      </span>
    </ng-template>
  </ng-template>

  <mat-menu #optionsMenu="matMenu">
    <span>
      <button
        mat-menu-item
        [routerLink]="['/settings/profile']"
        routerLinkActive="router-link-active"
      >
        Profile
      </button>
    </span>
    <span>
      <button mat-menu-item (click)="logout()">Logout</button>
    </span>
  </mat-menu>
</div>
