<div *ngIf="initialized">
  <div class="flex" *ngIf="isCurrentUserGuest(); else userName" (click)="openSignupDialog()">
    <mat-icon class="account-icon pointer" aria-hidden="false" aria-label="Account">
        account_circle
    </mat-icon>
  </div>
  
  <ng-template #userName>
    <span class="profile-name pointer" [matMenuTriggerFor]="optionsMenu">
      {{ initials }}
    </span>
  </ng-template>
  
  <mat-menu #optionsMenu="matMenu">
    <span>
      <button mat-menu-item (click)="logout()">Logout</button>
    </span>
  </mat-menu>
</div>
