<div class="flex flex-column">
  <h4 class="category-title">{{ category }}</h4>
  <mat-toolbar>
    <mat-toolbar-row class="flex justify-around">
      <app-product-filters
        [productFilters]="productFilters"
        (setFilters)="onSetFilters($event)"
        class="flex justify-start w-75"
      ></app-product-filters>
      <div>{{ total_count }} Results</div>
      <app-sort-type [sortTypeList]="sortTypeList"> </app-sort-type>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="flex flex-wrap justify-between">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      class="w-25-ns"
    ></app-product>
  </div>
</div>
