.category-title {
  color: #b76e79;
  text-transform: uppercase;
  margin: 0px 10px;
  font-size: 14px;
}

.clear-filter-text {
  color: #b76e79;
  cursor: pointer;
  text-decoration: none;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.sticky-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

.filter-panel {
  background: #f8fafc;
  box-shadow: 0 0 1px 1px #eee;
  margin: 0px 10px 10px 10px;
  transition: max-height 0.4s ease-in-out;
}

.scroll-to-btn {
  position: fixed;
  bottom: 120px;
  right: 15px;
  border-radius: 100%;
  padding: 10px 13px;
}

.loader {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mobile-filter-panel {
  display: flex;
  background-color: #f8fafc;
  padding: 20px;
  justify-content: center;
}

.mobile-filter-panel.fixed {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #0c1c31;
  color: #ffcc00;
}

.filter-icons {
  margin: 0 10px;
}

.icon-title {
  margin: 2px 5px;
}

.icon-container {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .invalid-url-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.products-container {
  margin-right: 230px;
  margin-left: 230px;
  justify-content: flex-start;

  a {
    color: black;
  }

  a.active {
    text-decoration: underline !important;
    font-weight: bold;
  }
}


.brandlist-container {
  width: 250px;
  padding-right: 15px;

  ul {
    list-style-type: none;
  }
}

.brandlist-left {
  position: absolute;
  left: 0px;
}

.brandlist-right {
  position: absolute;
  right: 0px;
}

.branddata-container {
  width: 100%;

  .brand-name {
    // font-size: 20px;
    text-align: center;
    font-weight: bold;
  }

  .brand-description {
    text-align: center;
  }
}

//Custom row and column css
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto {
  float: left;
}


.col-md-12 {
  width: 100%;
}

.col-md-11 {
  width: 91.66666667%;
}

.col-md-10 {
  width: 83.33333333%;
}

.col-md-9 {
  width: 75%;
}

.col-md-8 {
  width: 66.66666667%;
}

.col-md-7 {
  width: 58.33333333%;
}

.col-md-6 {
  width: 50%;
}

.col-md-5 {
  width: 41.66666667%;
}

.col-md-4 {
  width: 33.33333333%;
}

.col-md-3 {
  width: 25%;
}

.col-md-2 {
  width: 16.66666667%;
}

.col-md-1 {
  width: 8.33333333%;
}

.col-md-pull-12 {
  right: 100%;
}

.filter-icon {
  font-size: 20px;
  margin-top: 0.1rem;
  text-align: center;
  vertical-align: middle;
}

.slide-down {
  animation: slide 0.4s ease;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}