<div class="w-40-ns reset-container">
  <h4 class="mb4 tc">Reset Password</h4>

  <div *ngIf="isValidToken">
    <form>
      <div class="form-group">
        <label for="email" class="mr2">E-Mail Address</label>

        <div>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="email"
            placeholder="Email"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="mr2">Password</label>

        <div>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="password"
            placeholder="Password"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="mr2">Confirm Password</label>

        <div>
          <input
            type="password"
            class="form-control"
            name="cpassword"
            [(ngModel)]="cpassword"
            placeholder="Confirm Password"
            required
          />
        </div>
      </div>
      <div class="error-msg {{ error ? 'visible' : 'invisible' }}">
        {{ message }}
      </div>
      <div *ngIf="isSuccess" class="success tc">
        {{ message }}
      </div>
      <div class="form-group mb-0 tc">
        <button type="submit" class="btn" (click)="sendPasswordReset()">
          Set New Password
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="!isValidToken" class="tc">
    Your token is expired/invalid
  </div>
</div>
