.reset-container {
  margin: auto;
  max-width: 480px;
}

.btn {
  background: #0c1c31;
  color: #ffcc00;
  height: 40px;
  border-radius: 2px;
  font-weight: bold;
}

.form-control {
  box-shadow: none;
  border-radius: 2px;
  font-size: 14px;
  height: 40px;
}

.error-msg {
  color: #ff0000;
  font-size: 14px;
  display: block;
  visibility: hidden;
}

.error-msg.visible {
  visibility: visible;
}

.success {
  color: #b76e79;
}
