.header-container {
  background: black;
  padding: 0.5rem;
  .header {
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 48px;
    font-weight: bold;
  }
}
.deals-container{
//  background: #ebebeb;
  display: flex;
  flex-direction: column;
}