<div class="spinner">
    <app-loader *ngIf="showLoader"></app-loader>
</div>

<main *ngIf="loaded">
    <h1 style="text-align: center; padding: 1rem 0;">Home Musings</h1>
    <div
        infinite-scroll 
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance" 
        [infiniteScrollThrottle]="throttle" 
        (scrolled)="onScrollDown()"
        class="post-list post-list_columns">
        <!-- Post 1 -->
        
        <div *ngFor="let post of posts;" trackBy="post.id" (click)="goToPost(post.id)" class="post-list__post post">
            <figure class="post__preview-img">
                <a routerLink="{{post.id}}">
                    <img *ngIf="!post.better_featured_image" src="./../../../../../../assets/images/Mirrors.png"
                        alt="{{post.title}}">

                    <img *ngIf="post.better_featured_image" [src]="post.better_featured_image.source_url"
                        alt="{{post.title}}">
                </a>
            </figure>

            <div class="post__header">
                <time datetime="2019-12-12" class="post__time">{{post.date | date: 'longDate'}}</time>
                <h2><a routerLink="{{post.id}}">{{decodeHtml(post?.title?.rendered)}}</a></h2>
            </div>
            <div class="post__meta">
                <a routerLink="{{post.slug}}">By: {{post.x_author}} </a>
                <!-- <a routerLink="{{post.slug}}" class="post__comments">10</a> -->
            </div>
            <div class="post__announce" [innerHTML]="post?.excerpt?.rendered">
            </div>
        </div>
    </div>
</main>
