<div class="login-container flex-ns items-center justify-center">
    <div>
        <h3 class="mr-auto open-sans-18">Track Your Order</h3>
        <div class="flex-ns mt4-ns">
            <div class="flex flex-column w-50-ns">
                <span class="open-sans-18-ns open-sans-14 dark-grey upper-case mb3">
                    Sign In to view order history
                </span>
                <div class="">
                    <button class="btn btn-light googleBtn black" (click)="socialSignIn('google')">
                        <i class="fab fa-google">&nbsp;</i>
                        Continue with Google
                    </button>
                    <button class="btn btn-primary facebookBtn white" (click)="socialSignIn('facebook')">
                        <i class="fab fa-facebook-f">&nbsp;</i>Continue with Facebook
                    </button>
                </div>
                <hr style="border-top: 1px solid #606060">

                <form [formGroup]="signInForm" class="">
                    <span *ngIf="email.errors?.email && (email.touched || email.dirty)" class="invalid-label lato-18">
                        Please Enter a Valid Email id
                    </span>
                    <span *ngIf="email.errors?.required && (email.touched || email.dirty)"
                          class="invalid-label lato-18">
                        Please Enter an Email id
                    </span>
                    <input class="form-control custom-input mb3" type="email"
                           placeholder="Email"
                           formControlName="email"
                           [class.invalid-input]="email.invalid && (email.touched || email.dirty)"
                    >

                    <span *ngIf="password.errors?.minlength && (password.touched|| password.dirty)"
                          class="invalid-label lato-18">
                        Password should atleast be 8 characters
                    </span>
                    <span *ngIf="password.errors?.required && (password.touched|| password.dirty)"
                          class="invalid-label lato-18">
                        Password Field is Required
                    </span>
                    <input class="form-control custom-input" type="Password"
                           placeholder="Password" formControlName="password"
                           [class.invalid-input]="password.invalid && (password.touched|| password.dirty)"
                    >
                    <span class="error-msg" *ngIf="error">{{
                        errorMsg
                        }}</span>
                    <button type="submit" class="submit-btn w-100 mt3" (click)="login($event,email,password)">Sign In
                    </button>
                    <div class="flex mt3 lato-18-ns lato-12 gray">
                        <a class="link" [routerLink]="['/forgot-password']">Forgot Password</a>
                        <span class="mh4-ns mh3">|</span>
                        <a class="link lato-18-ns lato-12" (click)="openSignUpDialog()">Create an Account</a>
                    </div>
                </form>

            </div>
            <div class="vertical-line"></div>
            <form class="w-50-ns" [formGroup]="orderDetailsForm" (ngSubmit)="submitOrderDetails()">
                <div class="flex flex-column">
                    <span class="open-sans-18-ns open-sans-14 dark-grey upper-case mb5">Look up Your Order</span>
                    <span *ngIf="orderNumber.invalid && orderNumber.touched" class="invalid-label lato-18">
                        Please Enter Your Order Number
                    </span>
                    <input class="form-control custom-input mb3" type="text"
                           formControlName="orderNumber"
                           placeholder="Order Number"
                           [class.invalid-input]="orderNumber.invalid && orderNumber.touched"
                    >
                    <span *ngIf="zipCode.invalid && zipCode.touched" class="invalid-label lato-18">
                         Please enter your zip code.
                    </span>

                    <input class="form-control custom-input mb3" type="text"
                           formControlName="zipCode"
                           placeholder="ZIP Code"
                           [class.invalid-input]="zipCode.invalid && zipCode.touched"
                    >
                    <input type="submit" class="mt3  submit-btn" value="Track Order">
                    <p class="open-sans-12 red" *ngIf="orderDetailsFormError">
                        {{orderDetailsErrorFormMessage}}
                    </p>
                    <p class="gray lato-18-ns lato-12 mt3">
                        Please contact us at
                        <a class="gray lato-18-ns lato-12"
                           href="mailto:hello@lazysuzy.com">hello@lazysuzy.com</a> if you need
                        further assistance.
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>