<div class="canvas-content">
  <div class="d-flex" style="visibility: visible;">
    <div class="canvas-title-bar">
      <div class="canvas-icons">
      </div>
    </div>
    <div class="w-38">
      <input class="form-control board-title" placeholder="Board title">
    </div>
  </div>
  <div class="canvas">
    <div id="canvas-droparea">
      <div class="canvas-inner-container"
        style="width: 912px; height: 512.36px; position: relative; user-select: none;">
        <canvas id="canvas-area"
          style="border: 1px solid black; position: absolute; width: 912px; height: 512.36px; left: 0px; top: 0px; touch-action: none; user-select: none;"
          class="lower-canvas" width="912" height="512"></canvas>
        <canvas class="upper-canvas " width="912" height="512"
          style="border: 1px solid black; position: absolute; width: 912px; height: 512.36px; left: 0px; top: 0px; touch-action: none; user-select: none; cursor: default;">
        </canvas>
      </div>
    </div>
  </div>
</div>