<div class="canvas-content">
  <div class="d-flex" style="visibility: visible;">
    <div class="canvas-title-bar">
      <div class="canvas-icons">
      </div>
    </div>
    <div class="w-38">
      <input class="form-control board-title" placeholder="Board title">
    </div>
    <!-- <div>
      No of Items in this board: {{boardService.currentBoardProducts?.length}}
    </div> -->
  </div>
  <div class="canvas">
    <div id="canvas-droparea">
      <canvas id="canvas-area" style="border:1px solid black"></canvas>
    </div>
  </div>
</div>