.detail-container {
  height: 50px;
  // margin-bottom: 10px;
}
.preview-close-icon {
  font-size: 18px;
  margin: -5px 0 0;
  color: #b7b4b4;
}
.preview-icons {
  margin: 0 5px 5px 0;
  float: right;
}
.preview-icons-column {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.image {
  overflow: hidden;
  max-width: 100px;
}
.edit-btn {
  position: absolute;
  right: -15px;
  color: #b8b5b5;
  top: 0px;
  cursor: pointer;
  z-index: 1;
}
