<div class="catalog-content">
    <form class="icon lg add-new dz-clickable">
        <div class="dropzone-previews dz-message">
            Click to Upload or Drag &amp; Drop Here
        </div>
    </form>
    <div class="mb-3">
        <span class="add-new-url" (click)="openDialog()">Or add via URL</span>
        <span class="add-new-url-msg"><i class="mdi mdi-information" aria-hidden="true"></i> Must
            be .jpg or .png file</span>
    </div>
    <div class="d-flex mb-3">
        <mat-tab-group>
            <mat-tab label="My Items">
                <app-board-products [products]="myItems" (previewProduct)="handlePreviewProduct($event)"></app-board-products>
            </mat-tab>
            <mat-tab label="All Uploads">
                <app-board-products [products]="allUploads" (previewProduct)="handlePreviewProduct($event)"></app-board-products>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="items-board active">
        <div class="flex-grid">
            <div class="flex-grid-item" *ngFor="let product of customProducts">
                <div class="product-image" data-product="0" type="custom">
                    <img drop-type="image" draggable="true" src={{product.main_image}}>
                </div>
            </div>
        </div>
    </div>
</div>
