<div class="flex flex-column">
    <div class="order-details-container flex flex-column" *ngFor="let order of orderDetails;let i = index">
        <div class="flex flex-column">
            <div class="flex">
                <span class="open-sans-14 w-30 bold upper-case">Order No.:</span>
                <span class="open-sans-14 w-70">{{order.order_id}}</span>
            </div>
            <div class="flex">
                <span class="open-sans-14 w-30 bold upper-case">Order Date:</span>
                <span class="open-sans-14 w-70">{{order.created_at}}</span>
            </div>
            <div class="flex">
                <span class="open-sans-14 w-30 bold upper-case">Ship to:</span>
                <div class="open-sans-14 w-70">
                    <p class="open-sans-14">{{order.shipping_f_name}} {{order.shipping_l_name}}</p>
                    <p class="open-sans-14">{{order.shipping_address_line1}} </p>
                    <p class="open-sans-14" *ngIf="order.shipping_address_line2">{{order.shipping_address_line2}} </p>
                    <p class="open-sans-14">{{order.shipping_city}} {{order.shipping_state}} {{order.shipping_zipcode}}</p>
                </div>
            </div>
            <div class="flex justify-center mt3" *ngIf="!orderDetailsOpenStatus[i]">
                <span class="open-sans-14 bold upper-case" (click)="expandItem(i)">
                    See More <mat-icon>expand_more</mat-icon></span>
            </div>
            <ng-container *ngIf="orderDetailsOpenStatus[i]">
                <ng-container *ngFor="let product of order.products">
                    <hr class="w-100">
                    <div class="flex flex-column">
                        <div class="flex">
                            <img class="w-30" [src]="product.image">
                            <div class="flex flex-column w-70">
                                <span>{{product.product_sku}}</span>
                                <span>{{product.product_name}}</span>
                                <span>by {{product.brand_name}}</span>
                                <span>${{product.price}}</span>
                                <span>Qty: {{product.quantity}}</span>
                            </div>
                        </div>
                        <span class="open-sans-18 mt3 bold upper-case">{{product.status}}</span>
                        <span>Estimated Delivery: </span>
                        <a *ngIf="product.tracking_url"
                           class="mt3 w-100 btn btn-default custom-button lato-14 upper-case"
                           target="_blank"
                           [href]="product.tracking_url">Track Order</a>
                        <span>Tracking: {{product.tracking}}</span>
                    </div>
                </ng-container>


                <div class="flex justify-center mt3">
                    <span class="open-sans-14 bold upper-case" (click)="closeItem(i)">
                        Close <mat-icon>expand_less</mat-icon></span>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<!--<div class="flex flex-column">-->
<!--    <span class="open-sans-14 bold upper-case">Order No.</span>-->
<!--  -->
<!--    -->
<!--</div>-->
<!--<div class="flex flex-column">-->
<!--    <span class="open-sans-14">{{order.order_id}}</span>-->
<!--    -->
<!--    -->
<!--    -->
<!--    -->
<!--    -->
<!--</div>-->