@dark-grey: #606060;
@dark-blue: #0c1c31;

.dark-gray {
  color: @dark-grey;
}

.dark-blue {
  color: @dark-blue;
}

p {
  margin-bottom: 0;
}

.order-details-container {
  border: 1px solid #606060;
  padding: 1rem;
}

hr {
  margin: 2rem 0;
}

mat-icon {
  vertical-align: middle;
}

.custom-button {
  padding: 0.5rem;
}