@heading-color: #b76e79;
@sub-text: #0c1c31;

.create_style_section{
    margin-top: 10%;
}

.video-text{
    margin-top: 8%;
}

.create-text{
    font-size: 31px;
    font-weight: 700;
    text-align: left;
    font-family: "Fenix", Roboto, "Helvetica Neue", sans-serif;
    color: @heading-color;
    margin-left: 25%;  
}

.sub-text{
    color: @sub-text;
    margin-top: 8%;
    margin-left: 28%;
    width: 46%;
    font-weight: 700;
    font-size: 28px;
    text-align: left;
}

video{
    width: 60%;
    height: 100%;
}

@media(max-width:767px){
    .create-text{ font-size: 25px; text-align: left; margin-top: 0%; margin-right: 2%; margin-left: 3%;}
    .sub-text{ font-size: 22px; margin-top: 2%; text-align: left; width: 98%; margin-left: 3%;  padding-right: 2%;}
    .video-text{ margin-top: 0%;} 
    video{  width: 100% !important; right: 15px;}
}