<div id="desktop" class="pt113 flex flex-column about" *ngIf="!isHandset else handset">
    <div class="pb3">
        <span class="about-header">Who is LazySuzy?</span>
    </div>
    <div class="mt3 ph4 flex justify-around mb6">
        <div class="w-33 pa4">
            <h3 class="question">Destination for your home</h3>
            <p class="answer">LazSyuzy is an online marketplace where you can find timeless classics and the hottest designs
                for your home all in one place. </p>
        </div>
        <div class="w-33 pa4">
            <h3 class="question">Supporting independent makers</h3>
            <p class="answer">Local homegrown makers + the top creative artists. Find unique designs for your home all in one
                place.</p>
        </div>
        <div class="w-33 pa4">
            <h3 class="question">Peace of mind</h3>
            <p class="answer"> Hassle free search + browsing and access to our 24x7 personal concierge + design consultation.
                We are here to help. </p>
        </div>
    </div>
</div>
<ng-template #handset>
    <div id="handset">
        <div  class="flex flex-column about">
            <div class="pt6 pb3">
                <span class="about-header">Who is LazySuzy?</span>
            </div>
            <div class="mt3 ph4 flex flex-column justify-around mb6">
                <div class="pa4">
                    <h3 class="question">Destination for your home</h3>
                    <p class="answer">LazSyuzy is an online marketplace where you can find timeless classics and the hottest designs
                        for your home all in one place. </p>
                </div>
                <div class="pa4">
                    <h3 class="question">Supporting independent makers</h3>
                    <p class="answer">Local homegrown makers + the top creative artists. Find unique designs for your home all in one
                        place.</p>
                </div>
                <div class="pa4">
                    <h3 class="question">Peace of mind</h3>
                    <p class="answer"> Hassle free search + browsing and access to our 24x7 personal concierge + design consultation.
                        We are here to help. </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>