<div class="products">
    <div class="flex-grid" *ngIf="products.length">
        <div class="flex-grid-item" *ngFor="let product of products">
            <div class="product-image" type="default" attr.data-product="{{product.refId}}" (click)="previewProductFn(product)">
                <img drop-type="image" draggable="true" src={{product.main_image}} />
            </div>
        </div>
    </div>
    <div *ngIf="!products.length">
        No Products found. Try another category.
    </div>
</div>
