<ng-container *ngIf="hideBar; else showBar">

    <div class="flex items-center justify-center header pv2">
        <a
                routerLink="/"
                routerLinkActive="active"
                class="no-underline flex items-center"
        >
            <img class="logo-size grow" [src]="logoPath" alt="Lazy Suzy Home"/>
        </a>
    </div>
</ng-container>

<ng-template #showBar>
    <div class="flex items-center header">
        <div class="w-60 flex">
            <ng-container>
                <button
                        mat-icon-button
                        id="side-nav-btn"
                        (click)="drawer.toggle()"
                        class="fixed top-0 z-99"
                >
                    <mat-icon class="account-icon">menu</mat-icon>
                </button>
                <!--                Main SideBar-->
                <mat-sidenav #drawer class="mobile-menu-container" [mode]="'over'">
                    <div class="flex flex-column" style="height: 95vh">

                        <ul class="department-container">
                            <li class="department-list">
                                <div>
                                    <span class="department-title" (click)="toNewArrivalsPage()"> Latest Arrival</span>
                                </div>
                            </li>
                            <li class="department-list">
                                <div>
                                    <span class="department-title" (click)="toTopDealsPage()">Sale + Clearance</span>
                                </div>
                            </li>
                            <hr class="navbar-horizontal-row">
                            <li class="department-list">
                                <div>
                                <span class="department-title"
                                      (click)="departmentSideNav.open()">
                                    Departments
                                </span>
                                    <mat-icon
                                            class="department-list-icon"
                                            aria-hidden="false"
                                            aria-label="Search">
                                        chevron_right
                                    </mat-icon>
                                </div>
                            </li>
                            <li class="department-list">
                                <div>
                                    <span class="department-title" (click)="brandSideNav.open();">Brand</span>
                                    <mat-icon
                                            class="department-list-icon"
                                            aria-hidden="false"
                                            aria-label="Search">
                                        chevron_right
                                    </mat-icon>
                                </div>
                            </li>
                            <li class="department-list">
                                <div>
                                    <span class="department-title"
                                          (click)="collectionSideNav.open();">Collections</span>
                                    <mat-icon
                                            class="department-list-icon"
                                            aria-hidden="false"
                                            aria-label="Search">
                                        chevron_right
                                    </mat-icon>
                                </div>
                            </li>

                        </ul>
                        <div class="nav-close-div">
                            <button class="nav-close-button" (click)="closeAll();">Close</button>
                        </div>
                    </div>
                </mat-sidenav>

                <!--                 Department SideBar-->
                <mat-sidenav #departmentSideNav class="mobile-menu-container" [mode]="'over'">
                    <div class="flex flex-column" style="height: 95vh">
                        <div class="nav-back-div">
                            <mat-icon
                                    class="nav-back-icon"
                                    aria-hidden="false"
                                    aria-label="Search">
                                chevron_left
                            </mat-icon>
                            <span (click)="departmentSideNav.close()">Back</span>
                        </div>
                        <div>
                            <ul class="department-container">
                                <li *ngFor="let department of departments" class="department-list">
                                    <div (click)="showDepartmentChild(department.department)">
                                    <span
                                            class="department-title
                                            {{showDepartment === department.department ? 'active' : 'none'}}"
                                    >
                                        {{ department.department | titlecase }}
                                    </span>
                                        <mat-icon
                                                class="department-list-icon"
                                                *ngIf="showDepartment !== department.department"
                                                aria-hidden="false"
                                                aria-label="Search">
                                            chevron_right
                                        </mat-icon>
                                        <mat-icon
                                                class="department-list-icon active"
                                                *ngIf="showDepartment === department.department"
                                                aria-hidden="false"
                                                aria-label="Search"
                                        >
                                            expand_more
                                        </mat-icon>
                                    </div>
                                    <ul
                                            class="category-container {{
                                                        showDepartment === department.department ? 'show' : 'hide'
                                                      }}"
                                    >
                                        <li *ngFor="let category of department.categories"
                                            class="category-list">
                                            <a class="category-title" (click)="departmentSideNav.close()"
                                               [routerLink]="category.link"
                                            >{{ category.category }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="nav-close-div">
                            <button class="nav-close-button" (click)="closeAll();">Close</button>
                        </div>
                    </div>
                </mat-sidenav>
                <!--                 Brand SideBar-->
                <mat-sidenav #brandSideNav class="mobile-menu-container">
                    <div class="flex flex-column"  style="height: 95vh">
                        <div class="nav-back-div">
                            <mat-icon
                                    class="nav-back-icon"
                                    aria-hidden="false"
                                    aria-label="Search">
                                chevron_left
                            </mat-icon>
                            <span (click)="brandSideNav.close()">Back</span>
                        </div>
                        <div>
                            <ul class="department-container">
                                <li *ngFor="let brand of brands" class="department-list">
                                    <div (click)="toBrandPage(brand)">
                                    <span
                                            class="department-title"
                                    >
                                        {{ brand.name | titlecase }}
                                    </span>
                                        <mat-icon
                                                class="department-list-icon"
                                                aria-hidden="false"
                                                aria-label="Search">
                                            chevron_right
                                        </mat-icon>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="nav-close-div">
                            <button class="nav-close-button" (click)="closeAll();">Close</button>
                        </div>
                    </div>
                </mat-sidenav>
                <!--                 Collection SideBar-->
                <mat-sidenav #collectionSideNav class="mobile-menu-container">
                    <div class="flex flex-column"  style="height: 95vh">
                        <div class="nav-back-div">
                            <mat-icon
                                    class="nav-back-icon"
                                    aria-hidden="false"
                                    aria-label="Search">
                                chevron_left
                            </mat-icon>
                            <span (click)="collectionSideNav.close()">Back</span>
                        </div>
                        <div>
                            <ul class="department-container">
                                <li *ngFor="let collection of collections" class="department-list">
                                    <div class="flex justify-between"  (click)="toCollectionPage(collection)">
                                    <span
                                            class="department-title"
                                    >
                                        {{ collection.name | titlecase }}
                                    </span>
                                        <mat-icon
                                                class="department-list-icon"
                                                aria-hidden="false"
                                                aria-label="Search">
                                            chevron_right
                                        </mat-icon>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="nav-close-div">
                            <button class="nav-close-button" (click)="closeAll();">Close</button>
                        </div>
                    </div>
                </mat-sidenav>
            </ng-container>

            <a
                    routerLink="/"
                    routerLinkActive="active"
                    class="no-underline flex items-center ml-1"
            >
                <img class="logo-size grow" [src]="logoPath" alt="Lazy Suzy Home"/>
            </a>
        </div>

        <div class="flex items-center navbar-icons w-40 justify-end">
            <div class="header-link">
                <mat-icon
                        class="account-icon"
                        *ngIf="notHome || isBoard"
                        aria-hidden="false"
                        (click)="showSearchBar()"
                >search
                </mat-icon>
            </div>
            <!--      *ngIf="!notHome"-->
            <div class="header-link">
                <mat-icon
                        class="account-icon"

                        aria-hidden="false"
                        [routerLink]="['/board']"
                >dashboard
                </mat-icon
                >
            </div>

            <span class="flex items-center header-link">
        <mat-icon
                class="account-icon"
                aria-hidden="false"
                [routerLink]="['/wishlist']"
        >favorite_border</mat-icon
        >
      </span>
            <span class="flex items-center header-link">
        <mat-icon
                class="account-icon"
                [matBadge]="cartProduct > 0 ? cartProduct : null"
                matBadgeColor="#b76379"
                matBadgeSize="small"
                aria-hidden="false"
                [routerLink]="['/cart']"
        >shopping_cart</mat-icon
        >
      </span>
            <app-auth class="account-menu" [isHandset]="true"></app-auth>
        </div>
        <app-search-bar
                (searchComplete)="onSearchComplete($event)"
                *ngIf="showSearchComponent"
                class="section"
                [notHome]="notHome"
                [isBoard]="isBoard"
        ></app-search-bar>
    </div>
</ng-template>
