<ng-container *ngIf="hideBar; else showBar">

    <div class="flex items-center justify-center header pv2">
        <a
                routerLink="/"
                routerLinkActive="active"
                class="no-underline flex items-center"
        >
            <img class="logo-size grow" [src]="logoPath" alt="Lazy Suzy Home"/>
        </a>
    </div>
</ng-container>

<ng-template #showBar>
    <div class="offer-rail" *ngIf="showOffer">
        <ng-container *ngFor="let deal of mobileDeals|slice:0:1;let i=index">
            <a [href]="deal.url" class="absolute-anchor-tag">
                <span class="offer-details"> {{deal.title | uppercase}}</span>
            </a>
            <span class="offer-details" style="margin: 0 1rem" *ngIf="i<0 && i<deals.length-1">|</span>
        </ng-container>

        <span class="all-offers" (click)="openOfferModal()">View all offers</span>
    </div>
    <div class="flex items-center header">
        <div class="w-60 flex">
            <ng-container>
                <button
                        mat-icon-button
                        id="side-nav-btn"
                        (click)="drawer.toggle()"
                        class="fixed top-0 z-99"
                >
                    <mat-icon class="account-icon">menu</mat-icon>
                </button>
                <!--                Main SideBar-->
                <mat-sidenav #drawer [fixedInViewport]="true" class="mobile-menu-container" [mode]="'over'">
                    <div class="flex flex-column" style="height:100%">

                        <ul class="department-container">
                            <li class="department-list">
                                <div>
                                    <span class="department-title" (click)="toNewArrivalsPage()">Latest Arrivals</span>
                                </div>
                            </li>
                            <li class="department-list">
                                <div>
                                    <span class="department-title" (click)="toTopDealsPage()">Sale + Clearance</span>
                                </div>
                            </li>
                            <hr class="navbar-horizontal-row">
                            <li class="department-list">
                                <div (click)="departmentSideNav.open()">
                                <span class="department-title">
                                    Departments
                                </span>
                                    <mat-icon
                                            class="department-list-icon"
                                            aria-hidden="false"
                                            aria-label="Search">
                                        chevron_right
                                    </mat-icon>
                                </div>
                            </li>
                            <li class="department-list">
                                <div (click)="brandSideNav.open();">
                                    <span class="department-title">Brand</span>
                                    <mat-icon
                                            class="department-list-icon"
                                            aria-hidden="false"
                                            aria-label="Search">
                                        chevron_right
                                    </mat-icon>
                                </div>
                            </li>
                            <li class="department-list">
                                <div (click)="collectionSideNav.open();">
                                    <span class="department-title"
                                    >Collections</span>
                                    <mat-icon
                                            class="department-list-icon"
                                            aria-hidden="false"
                                            aria-label="Search">
                                        chevron_right
                                    </mat-icon>
                                </div>
                            </li>

                        </ul>
                        <div class="nav-close-div">
                            <button class="nav-close-button" (click)="closeAll();">Close</button>
                        </div>
                    </div>
                </mat-sidenav>

                <!--                 Department SideBar-->
                <mat-sidenav #departmentSideNav class="mobile-menu-container" [mode]="'over'">
                    <div class="flex flex-column" style="height:100%">
                        <div class="nav-back-div" (click)="departmentSideNav.close()">
                            <mat-icon
                                    class="nav-back-icon"
                                    aria-hidden="false"
                                    aria-label="Search">
                                chevron_left
                            </mat-icon>
                            <span>Back</span>
                        </div>
                        <div>
                            <ul class="department-container">
                                <li *ngFor="let department of departments" class="department-list">
                                    <div (click)="showDepartmentChild(department.department)">
                                    <span
                                            class="department-title
                                            {{showDepartment === department.department ? 'active' : 'none'}}"
                                    >
                                        {{ department.department | titlecase }}
                                    </span>
                                        <mat-icon
                                                class="department-list-icon"
                                                *ngIf="showDepartment !== department.department"
                                                aria-hidden="false"
                                                aria-label="Search">
                                            chevron_right
                                        </mat-icon>
                                        <mat-icon
                                                class="department-list-icon active"
                                                *ngIf="showDepartment === department.department"
                                                aria-hidden="false"
                                                aria-label="Search"
                                        >
                                            expand_more
                                        </mat-icon>
                                    </div>
                                    <ul
                                            class="category-container {{
                                                        showDepartment === department.department ? 'show' : 'hide'
                                                      }}"
                                    >
                                        <li *ngFor="let category of department.categories"
                                            class="category-list">
                                            <a class="category-title" (click)="closeAll()"
                                               [routerLink]="category.link"
                                            >{{ category.category }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <div class="nav-close-div">
                            <button class="nav-close-button" (click)="closeAll();">Close</button>
                        </div>
                    </div>
                </mat-sidenav>
                <!--                 Brand SideBar-->
                <mat-sidenav #brandSideNav class="mobile-menu-container">
                    <div class="flex flex-column" style="height:100%">
                        <div class="nav-back-div" (click)="brandSideNav.close()">
                            <mat-icon
                                    class="nav-back-icon"
                                    aria-hidden="false"
                                    aria-label="Search">
                                chevron_left
                            </mat-icon>
                            <span>Back</span>
                        </div>
                        <div>
                            <ul class="department-container">
                                <li *ngFor="let brand of brands" class="department-list">
                                    <div (click)="toBrandPage(brand)">
                                    <span
                                            class="department-title"
                                    >
                                        {{ brand.name | titlecase }}
                                    </span>
                                        <mat-icon
                                                class="department-list-icon"
                                                aria-hidden="false"
                                                aria-label="Search">
                                            chevron_right
                                        </mat-icon>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="nav-close-div">
                            <button class="nav-close-button" (click)="closeAll();">Close</button>
                        </div>
                    </div>
                </mat-sidenav>
                <!--                 Collection SideBar-->
                <mat-sidenav #collectionSideNav class="mobile-menu-container">
                    <div class="flex flex-column" style="height:100%">
                        <div class="nav-back-div" (click)="collectionSideNav.close()">
                            <mat-icon
                                    class="nav-back-icon"
                                    aria-hidden="false"
                                    aria-label="Search">
                                chevron_left
                            </mat-icon>
                            <span>Back</span>
                        </div>
                        <div>
                            <ul class="department-container">
                                <li *ngFor="let collection of collections" class="department-list">
                                    <div class="flex justify-between" (click)="toCollectionPage(collection)">
                                    <span
                                            class="department-title">
                                        {{ collection.name | titlecase }}
                                    </span>
                                        <mat-icon
                                                class="department-list-icon"
                                                aria-hidden="false"
                                                aria-label="Search">
                                            chevron_right
                                        </mat-icon>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="nav-close-div">
                            <button class="nav-close-button" (click)="closeAll();">Close</button>
                        </div>
                    </div>
                </mat-sidenav>
            </ng-container>

            <a
                    routerLink="/"
                    routerLinkActive="active"
                    class="no-underline flex items-center"
            >
                <img class="logo-size grow" [src]="logoPath" alt="Lazy Suzy Home"/>
            </a>
        </div>

        <div class="flex items-center navbar-icons w-40 justify-end">
            <div class="header-link">
                <mat-icon
                        class="account-icon"
                        *ngIf="notHome || isBoard"
                        aria-hidden="false"
                        (click)="showSearchBar()"
                >search
                </mat-icon>
            </div>
            <!--      *ngIf="!notHome"-->
            <div class="header-link">
                <mat-icon
                        class="account-icon"
                        aria-hidden="false"
                        [routerLink]="['/board']"
                >dashboard
                </mat-icon
                >
            </div>

            <span class="flex items-center header-link">
        <mat-icon
                class="account-icon"
                aria-hidden="false"
                [routerLink]="['/wishlist']"
        >favorite_border</mat-icon
        >
      </span>
            <span class="flex items-center header-link">
                  <ng-container *ngIf="!cartProduct; else filledCartIcon">
                     <mat-icon
                             class="account-icon"
                             [matBadge]="cartProduct > 0 ? cartProduct : null"
                             matBadgeColor="#b76379"
                             matBadgeSize="small"
                             aria-hidden="false"
                             [routerLink]="['/cart']"
                     >
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag" fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd"
                                       d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
                        </svg>
                     </mat-icon>
                    </ng-container>
                    <ng-template #filledCartIcon>
                          <mat-icon
                                  class="account-icon"
                                  [matBadge]="cartProduct > 0 ? cartProduct.toString() : null"
                                  matBadgeColor="#b76379"
                                  matBadgeSize="small"
                                  aria-hidden="false"
                                  [routerLink]="['/cart']"
                          >
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-fill"
                                   fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd"
                                        d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
                                </svg>
                          </mat-icon>
                    </ng-template>
      </span>
            <app-auth class="account-menu" [isHandset]="true"></app-auth>
        </div>
        <app-search-bar
                (searchComplete)="onSearchComplete($event)"
                *ngIf="showSearchComponent"
                class="section"
                [notHome]="notHome"
                [isBoard]="isBoard"
        ></app-search-bar>
    </div>
</ng-template>
