<div class="flex items-center justify-between header">
    <ng-container>
        <button mat-icon-button id="side-nav-btn" [matMenuTriggerFor]="navMenu" class="fixed top-0 z-9999">
            <mat-icon class="account-icon">menu</mat-icon>
        </button>
        <mat-menu #navMenu="matMenu">
            <button *ngFor="let department of departments" mat-menu-item>{{ department.display | titlecase }}</button>
        </mat-menu>
    </ng-container>

    <a routerLink="/" routerLinkActive="active" class="no-underline flex items-center">
        <img class="w4 grow" [src]="logoPath" alt="Lazy Suzy Home" />
    </a>

    <div class="flex">
        <mat-icon class="account-icon" aria-hidden="false">search</mat-icon>
        <mat-icon class="account-icon" aria-hidden="false" aria-label="Account">
            account_circle</mat-icon>
        <a routerLink="/wishlist" class="flex items-center header-link">
            <mat-icon aria-hidden="false">favorite_border</mat-icon>
        </a>
    </div>
</div>