<div class="top-panel row top-panel-hide">
    <div class="col-sm-2  state-icons order-sm-1 ">
        <i class="mdi mdi-magnify-minus" onclick="zoomOut()" aria-hidden="true"></i>
        <i class="mdi mdi-magnify-plus" onclick="zoomIn()" aria-hidden="true"></i>
        <i class="mdi mdi-undo" onclick="undo()" aria-hidden="true"></i>
        <i class="mdi mdi-redo" onclick="redo()" aria-hidden="true"></i>
    </div>
    <div class="col-sm-6 text-right order-last order-sm-2 ">
        <!-- <span data-title="Change color">
  <i class="mdi mdi-format-color-text" aria-hidden="true"></i>
</span>
<span data-title="Bold">
  <i class="mdi mdi-format-bold" aria-hidden="true"></i>
</span>
<span data-title="Italic">
  <i class="mdi mdi-format-italic" aria-hidden="true"></i>
</span>
<span data-title="Underline">
  <i class="mdi mdi-format-underline" aria-hidden="true"></i>
</span>
<span data-title="Uppercase">
  <i class="mdi mdi-format-letter-case" style="font-size: 1.3em" aria-hidden="true"></i>
</span> -->
        <div class="editor-icons" style="display: none;">
            <select class="js-font-select">
                <option value="Helvetica" class="helvetica">Helvetica</option>
                <option value="Times New Roman" class="times-new-roman">Times New Roman</option>
                <option value="Courier New" class="courier-new">Courier New</option>
                <option value="Georgia" class="georgia">Georgia</option>
                <option value="Arial" class="arial" selected="">Arial</option>
            </select>
            <select class="js-font-select-size">
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="14" selected="">14</option>
                <option value="18">18</option>
                <option value="24">24</option>
                <option value="30">30</option>
                <option value="36">36</option>
                <option value="48">48</option>
                <option value="60">60</option>
                <option value="72">72</option>
                <option value="96">96</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4 order-sm-3">
        <div class="item-action-icons">
            <span data-title="Remove Background" class="image-icons do-transparent"
                onclick="action('transparent')" style="display: none;">
                <i class="mdi mdi-auto-fix" aria-hidden="true"></i>
            </span>
            <span data-title="Apply Background" class="image-icons undo-transparent"
                onclick="action('undoTransparent')" style="display: none;">
                <i class="mdi mdi-format-paint" aria-hidden="true"></i>
            </span>
            <span class="background-msg hide">
                <i class="mdi mdi-arrow-up-bold background-msg-arrow" aria-hidden="true"></i>
                <i class="mdi mdi-close close-background-msg" aria-hidden="true"></i>
                Click here to remove background
            </span>
            <span class="image-icons" data-title="Duplicate" onclick="action('duplicate')"
                style=""><i class="mdi mdi-content-copy" aria-hidden="true"></i></span>
            <span data-title="Crop" onclick="handleCrop()" class="image-icons" style=""><i
                    class="mdi mdi-crop" aria-hidden="true"></i></span>
            <span class="image-icons" data-title="Flip" onclick="action('flip')" style="">
                <i class="mdi mdi-autorenew" aria-hidden="true"></i>
            </span>
            <span data-title="Send Backward" class="image-icons" onclick="action('sendBackward')"
                style="">
                <i class="mdi mdi-arrange-send-backward" aria-hidden="true"></i>
            </span>
            <span data-title="Bring Forward" class="image-icons" onclick="action('bringForward')"
                style="">
                <i class="mdi mdi-arrange-bring-forward" aria-hidden="true"></i>
            </span>
            <span data-title="Delete" class="image-icons" onclick="action('delete')" style="">
                <i class="mdi mdi-delete" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</div>
<div class="top-panel row top-panel-hide crop-toolbar">
    <div class="col-sm-12 ">
        <button class="btn" onclick="handleCrop(true)">
            <i class="mdi mdi-check" aria-hidden="true"></i> Crop
        </button>
        <button class="btn" onclick="handleCrop(false)">
            <i class="mdi mdi-undo" aria-hidden="true"></i> Cancel
        </button>
        <button class="btn" onclick="handleCrop(false, true)">
            <i class="mdi mdi-minus" aria-hidden="true"></i> Revert
        </button>
    </div>
</div>
<div class="top-panel row top-panel-wrapper d-xl-none" data-interval="false"
    style="display: block;">
    <div class="top-panel-container">
        <div class="top-panel-scroll-contents editor-icons ml-2" id="canvasPalleteScrollContents"
            style="display: none;">
            <span class="state-icons order-sm-1 state-icons-hide">
                <i class="mdi mdi-magnify-minus" onclick="zoomOut()" aria-hidden="true"></i>
                <i class="mdi mdi-magnify-plus" onclick="zoomIn()" aria-hidden="true"></i>
                <i class="mdi mdi-undo" onclick="undo()" aria-hidden="true"></i>
                <i class="mdi mdi-redo" onclick="redo()" aria-hidden="true"></i>
            </span>
            <!-- <input class="js-font-select" type="text"> -->

            <!-- <span data-title="Change color">
    <i class="mdi mdi-format-color-text" aria-hidden="true"></i>
  </span>
  <span data-title="Bold">
    <i class="mdi mdi-format-bold" aria-hidden="true"></i>
  </span>
  <span data-title="Italic">
    <i class="mdi mdi-format-italic" aria-hidden="true"></i>
  </span>
  <span data-title="Underline">
    <i class="mdi mdi-format-underline" aria-hidden="true"></i>
  </span>
  <span data-title="Uppercase">
    <i class="mdi mdi-format-letter-case" aria-hidden="true"></i>
  </span> -->

            <select class="js-font-select">
                <option value="Helvetica" class="helvetica">Helvetica</option>
                <option value="Times New Roman" class="times-new-roman">Times New Roman</option>
                <option value="Courier New" class="courier-new">Courier New</option>
                <option value="Georgia" class="georgia">Georgia</option>
                <option value="Arial" class="arial" selected="">Arial</option>
            </select>
            <select class="js-font-select-size">
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="14" selected="">14</option>
                <option value="18">18</option>
                <option value="24">24</option>
                <option value="30">30</option>
                <option value="36">36</option>
                <option value="48">48</option>
                <option value="60">60</option>
                <option value="72">72</option>
                <option value="96">96</option>
            </select>

            <span data-title="Remove Background" class="image-icons do-transparent"
                onclick="action('transparent')" style="display: none;">
                <i class="mdi mdi-auto-fix" aria-hidden="true"></i>
            </span>
            <span data-title="Apply Background" class="image-icons undo-transparent"
                onclick="action('undoTransparent')" style="display: none;">
                <i class="mdi mdi-format-paint" aria-hidden="true"></i>
            </span>
            <span data-title="Duplicate" onclick="action('duplicate')"><i
                    class="mdi mdi-content-copy" aria-hidden="true"></i></span>
            <span data-title="Crop" onclick="handleCrop()" class="image-icons" style=""><i
                    class="mdi mdi-crop" aria-hidden="true"></i></span>
            <span data-title="Flip" onclick="action('flip')">
                <i class="mdi mdi-autorenew" aria-hidden="true"></i>
            </span>
            <span data-title="Send Backward" onclick="action('sendBackward')">
                <i class="mdi mdi-arrange-send-backward" aria-hidden="true"></i>
            </span>
            <span data-title="Bring Forward" onclick="action('bringForward')">
                <i class="mdi mdi-arrange-bring-forward" aria-hidden="true"></i>
            </span>
            <span data-title="Delete" onclick="action('delete')">
                <i class="mdi mdi-delete" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</div>