<div class="homepage">
  <div class="main-container">
    <!-- <h1 class="search-title">Search America's top Home brands in one go</h1> -->
    <div class="section" style="margin-top: 20px;"></div>
    <div class="section">
      <div class="mh2 pad-h">
        <div class="categories-section container-fluid">
          <div class="row">
            <div
              class="content-item col-md-3 col-sm-6"
              *ngFor="let category of categories"
            >
              <div class="pic">
                <a [routerLink]="category.link">
                  <img
                    class="img"
                    src="{{ category.image + '?v=1.0.0' }}"
                    alt="{{ category.category }}"
                  />
                </a>
              </div>
              <div class="badge">{{ category.category }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
