<div class="profile-container">
  <div class="title b">Edit Profile</div>
  <div class="profile-form-container">
    <form
      name="profile-form"
      class="w-100"
      (ngSubmit)="profileUpdate()"
      #profileForm="ngForm"
    >
      <div class="w-100 account-avatar-row">
        <input
          type="file"
          accept=".jpg,.png"
          name="profileImage"
          class="profile-image-input pointer"
          (mouseover)="over()"
          (mouseout)="out()"
          (change)="readFile($event)"
        />
        <span class="edit-image {{ hasEditIcon ? '' : 'dn' }}">
          <mat-icon
            class="pointer"
            aria-hidden="false"
            aria-label="Edit-Image"
            *ngIf="!imageSrc"
            >edit</mat-icon
          >
        </span>
        <mat-icon
          class="account-icon"
          aria-hidden="false"
          aria-label="Account"
          *ngIf="!imageSrc"
        >
          account_circle
        </mat-icon>
        <img [src]="imageSrc" *ngIf="imageSrc" class="profile-avatar" />
        <span class="form-msg"
          >Let the LazySuzy community get to know you with the info below</span
        >
      </div>
      <div class="w-100 input-container">
        <div class="flex justify-between items-center">
          <label class="db">User Name</label>
          <span class="profile-link"
            >www<span
              >.lazysuzy<span>.com</span>/{{ profileData.username }}</span
            ></span
          >
        </div>
        <input
          class="form-input w-100"
          name="profileUserName"
          #profileUserName="ngModel"
          [(ngModel)]="profileData.username"
        />
        <span *ngIf="hasUsernameError" class="error-msg">
          The username has already been taken.
        </span>
      </div>
      <div class="flex-ns input-container">
        <div class="w-50-ns w-100">
          <label class="db">First Name</label>
          <input
            class="form-input input-50"
            name="profileFirstName"
            #profileFirstName="ngModel"
            [(ngModel)]="profileData.firstName"
          />
        </div>
        <div class="w-50-ns w-100 tr">
          <label class="db last-name">Last Name</label>
          <input
            class="form-input input-50"
            name="profileLastName"
            #profileLastName="ngModel"
            [(ngModel)]="profileData.lastName"
          />
        </div>
      </div>
      <div class="w-100 input-container">
        <label class="db">Tag line</label>
        <textarea
          class="form-input w-100 text-area tag-line-container"
          name="profileTagline"
          rows="2"
          maxlength="80"
          #profileTagline="ngModel"
          [(ngModel)]="profileData.tag_line"
        >
        </textarea>
      </div>
      <div class="w-100 input-container">
        <label class="db">About yourself</label>
        <textarea
          class="form-input w-100 text-area"
          name="profileDescription"
          rows="5"
          maxlength="240"
          #profileDescription="ngModel"
          [(ngModel)]="profileData.description"
        >
        </textarea>
      </div>
      <div class="w-100 input-container">
        <label class="db">Location</label>
        <input
          class="form-input w-100"
          name="profileLocation"
          #profileLocation="ngModel"
          [(ngModel)]="profileData.location"
        />
      </div>
      <div class="w-100 input-container">
        <label class="db">Website</label>
        <input
          class="form-input w-100"
          name="profileWebsite"
          #profileWebsite="ngModel"
          [(ngModel)]="profileData.website"
        />
        <span *ngIf="hasWebsiteError" class="error-msg"
          >The website format is invalid.</span
        >
      </div>

      <div class="action-buttons-row">
        <button class="profile-cancel-btn b">CANCEL</button>
        <button class="profile-update-btn b ml3">UPDATE</button>
      </div>
    </form>
    <div class="update-msg" *ngIf="isProfileUpdated">
      <span>Profile Updated</span>
    </div>
  </div>
</div>
<img *ngIf="isLoading" [src]="spinner" class="loader" />
