.email-text {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
}

.btn-dark {
  background: black;
  color: #f8cb00;
  width: 70px;
  border-radius: 5px;
  font-size: 16px;
}
.btn {
  width: 10%;
  color: #f8cb00;
  background: black;
  font-size: 20px;
}

input{ width: 40%; height: 45px; margin-left: 25%;}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}
