<div class="col-md-12 emailForm">
    <p-toast></p-toast>
    <form [formGroup]="emailForm" (submit)="onSubmit(emailForm.value)">
        <div *ngIf="!emailSubmitted" class="form-group">
            <h3 class="email-text">new deals & styles, in your inbox first</h3>
            <div class="row">
                <input type="email" formControlName="email" name="email" class="form-control" id="email"
                    placeholder="Enter your email address">
                &nbsp;
                <button class="btn btn-dark" type="submit">Submit</button>
            </div>
        </div>

        <div *ngIf="emailSubmitted">
            <span class="thanks-text">Thanks for signing up. You'll be the first to receive updates about new collections, top brands and exclusive products.</span>
        </div>

    </form>
</div>