<div class="new-arrivals">
    <h2 class="title-new-arrivals">New Arrivals</h2>
    <div *ngIf="!newProducts">
        <img src="../../../../assets/images/three-dots.svg" width="60" height="46" alt="">
    </div>
</div>
<div *ngIf="newProducts">
    <button type="button" class="btn btn-sm btn-dark" (click)="seeAll()">See all</button>
    <p-carousel [value]="newProducts" [numVisible]="4" [numScroll]="3">
        <ng-template let-data pTemplate="item">
            <div class="product">
                <a target="_blank" href="{{data.product_detail_url}}">
                    <img class="product_image" src={{data.main_image}} alt="Owl Image">
                </a>
                <div class="product_detail">
                    <span>{{data.site}}</span>
                    <br>
                    <span style="color: grey;">{{data.name}}</span>
                    <br>
                    <span style="color: blue;">${{data.is_price}} &nbsp; <s style="color: red;">
                            ${{data.was_price}}</s></span>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>