.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 8px solid rgb(0, 0, 0);
}

.filter-name {
  text-transform: capitalize;
}

.menu-item {
  width: 200px;
  display: block;
}

.price-menu {
  width: 300px;
  padding: 10px 35px 10px 10px;
}
