<mat-toolbar>
    <mat-toolbar-row class="flex justify-around">


        <ng-container *ngFor="let filter of productFilters">
            <span class="flex items-center grow pointer ph2 f5">
                <span [matMenuTriggerFor]="filterMenu">{{ filter.display | titlecase }}</span>
                <div class="ml2 arrow-down"></div>
            </span>
            <mat-menu #filterMenu="matMenu">
                <mat-checkbox *ngFor="let option of filter.options; let i = index" [value]="filter.options[i].value"
                    (change)="onCheckChange($event, filter.display)">
                    {{ filter.options[i].display }}</mat-checkbox>
            </mat-menu>
        </ng-container>


    </mat-toolbar-row>
</mat-toolbar>