<div class="aboutus">
  <h2 class="main-heading">OUR STORY</h2>
  <div class="first-section mv3">
    What if one search was all it took to furnish your home?
  </div>
  <div class="flex flex-wrap items-center ph7-ns ph3 mv5 tc">
    <div class="w-50-ns w-100">
      <img src="//www.lazysuzy.com/images/about/sf.png" alt="" />
    </div>
    <div class="w-50-ns w-100 pl5">
      After buying a home in San Francisco, we thought we were past the hardest
      part.
    </div>
  </div>
  <div class="flex flex-wrap items-center ph7-ns ph3 mv5 tc">
    <div class="w-50-ns w-100 pr5">
      Turns out creating a space we would love was not going to be any easier.
    </div>
    <div class="w-50-ns w-100">
      <img src="//www.lazysuzy.com/images/about/home.png" alt="" />
    </div>
  </div>
  <div class="flex flex-wrap items-center ph7-ns ph3 mv5 tc">
    <div class="w-50-ns w-100">
      <img src="//www.lazysuzy.com/images/about/shop.png" alt="" />
    </div>
    <div class="w-50-ns w-100 pl5">
      After spending countless hours online, running the same searches on dozens
      of home sites again & again..
    </div>
  </div>

  <div class="mv5 tc">
    We figured there had to be a better way and figured why not build it
    ourselves...
  </div>

  <div class="logo-section">
    <img
      class="center-logo pointer grow title-image"
      [src]="logoPath"
      alt="Lazy Suzy Home"
    />
  </div>
  <div class="mv6 ph6-ns ph3 quote-section">
    <div>
      "Lazy Susan"
    </div>
    <div>
      - a community center piece to easily share and distribute all section
      choices across dinner table
    </div>
  </div>
  <div class="mv5 ph6-ns ph3 pv3 promise-section">
    <h4 class="mv4">OUR PROMISE TO YOU</h4>
    <div class="flex flex-wrap">
      <div class="w-33-ns w-100 pr4">
        <img src="//www.lazysuzy.com/images/about/transparency.png" alt="" />
        <h5 class="mv2">TRANSPARENCY</h5>
        <div>
          Feature-rich capabilities for side-by-side listing of furniture lines
          to make for easier comparing and shortlisting.
        </div>
      </div>
      <div class="w-33-ns w-100 pr4">
        <img src="//www.lazysuzy.com/images/about/reliability.png" alt="" />
        <h5 class="mv2">RELIABILITY</h5>
        <div>
          Brining you quality furniture from brands you know and can trust
          without the impartiality of us being an independent platform.
        </div>
      </div>
      <div class="w-33-ns w-100 pr4">
        <img src="//www.lazysuzy.com/images/about/creativity.png" alt="" />
        <h5 class="mv2">CREATIVITY</h5>
        <div>
          Ready access to more unique styles than ever before t so that
          designing the home of your dreams is more easier than ever.
        </div>
      </div>
    </div>
  </div>
</div>
