<div class="aboutus flex items-center flex-column">
    <span class="main-header open-sans-18 w-100" *ngIf="!isHandset else mobileHeader">MEET AMERICA'S MAKERS & <br>DESIGNERS FOR YOUR HOME</span>
    <div class="w-40-ns mt56 open-sans-18 flex flex-column items-center main-content">
        <p>What is LazySuzy? Your favorite home brands and independent boutiques—all in one place. Because finding
            quality, tasteful, and timeless homeware + home décor shouldn’t be harder than finding your home itself.
            You've done the hard work of finding a place to call home. Now let's give your dream home some style &
            character. </p>
        <p class="mt4">LazySuzy thoughtfully aggregates the best home products from around the world, creating an
            expertly curated
            shopping experience for you and a superior platform for designers and off-the-beaten-path makers alike.
            Think of us as your shortcut to style for your home.</p>
    </div>
    <div class="our-features justify-between mt113 w-100">
        <div class="flex flex-column feature-container">
            <h3 class="open-sans-18 feature-header">TRANSPARENCY</h3>
            <p class="lato-16 feature-detail">We are an impartial platform where you can search for furniture and décor
                from America's top-rated home
                brands and independent designers with one click. </p>
        </div>
        <div class="flex flex-column feature-container">
            <h3 class="open-sans-18 feature-header">RELIABILITY</h3>
            <p class="lato-16 feature-detail">We curate brands and makers that stand for quality and source only the
                best furniture materials without sacrificing style or burning your budget.</p>
        </div>
        <div class="flex flex-column feature-container">
            <h3 class="open-sans-18 feature-header">INSPIRATION</h3>
            <p class="lato-16 feature-detail">Our design studio allows you to mix and match furniture from anywhere on
                the web to preview what combination works for your home before you buy online.</p>
        </div>
    </div>
</div>
<ng-template #mobileHeader>
     <span class="main-header open-sans-18 w-100">
         MEET AMERICA'S<br> MAKERS & DESIGNERS <br> FOR YOUR HOME
     </span>
</ng-template>