@primary-text-color: #0C1C31;
.aboutus {
  background: #f8f4ea;
  font-size: 24px;
  padding-top: 113px;
  color: @primary-text-color;

  .main-header {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .main-content {
    font-size: 24px;
    text-align: center;
  }
}

.our-features {
  display: flex;
  background: url("https://www.lazysuzy.com/images/landing/WhoIsLZ_d.png");
  background-size: cover;
  padding: 6em 10em;

  .feature-container {
    width: 30%;

    .feature-header {
      font-weight: bold;
      font-size: 24px;

    }

    .feature-detail {
      margin-top: 3em;
      font-size: 24px;

    }
  }

}

@media (max-width: 768px) {

  .aboutus{
    padding-top: 56px;
    .main-header {
      font-size: 28px;
    }
    .main-content {
      font-size: 18px;
      text-align: center;
      padding: 0 1rem;
    }
  }

  .our-features {
    display: flex;
    flex-direction: column;
    background: url("https://www.lazysuzy.com/images/landing/WhoIsLZ_m.png");
    background-size: cover;
    padding: 1em 2em;

    .feature-container {
      width: 100%;
      margin-top: 1em;
      .feature-header {
        font-weight: bold;
        font-size: 18px;
      }

      .feature-detail {
        margin-top: 1em;
        font-size: 18px;

      }
    }
  }

}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
