<mat-toolbar class="fixed">
    <mat-toolbar-row class="flex justify-around">
        <ng-container *ngFor="let category of categories; let i = index">
            <span class="grow pointer ph2 f5" [matMenuTriggerFor]="menu">{{ category.display }}</span>
            <mat-menu #menu="matMenu">
                <a *ngFor="let subcategory of category.subCategories" [routerLink]="subcategory.route"
                    routerLinkActive="active" class="no-underline">
                    <button mat-menu-item>{{ subcategory.display | titlecase }}</button>
                </a>
            </mat-menu>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>