.mat-toolbar-row.w-75 {
  width: 75%;
}

.mat-toolbar-multiple-rows {
  min-height: 0rem;
}

.mat-toolbar-row.header {
  background-color: #0c1c31;
}

mat-icon.account-icon {
  color: #ffcc00;
}

.header-link {
  color: #ffcc00;
  margin-right: 15px;
  text-decoration: none;
}
.header-link * {
  vertical-align: text-bottom;
}
