.mat-toolbar-row.w-75 {
  width: 75%;
}

.mat-toolbar-multiple-rows {
  min-height: 0rem;
}

.mat-toolbar-row.header {
  //background-color: #0c1c31;
}

mat-toolbar-row {
  padding-left: 2.3rem;
}

mat-icon.account-icon {
  color: #ffcc00;
}

.header-link {
  color: #0c1c31;
  margin-right: 25px;
  text-decoration: none;

  mat-icon {
    font-size: 25px;
    height: 25px;
    width: 25px;
    margin-top: 5px;
  }

  .mt-0 {
    margin-top: 0;
  }
}

.header-font {
  font-family: 'Lato', sans-serif;
}

.header-link * {
  vertical-align: text-bottom;
}

.top-navbar {
  padding: 15px 30px;
  margin-bottom: 10px;
  font-size: 16px;
}

.section {
  width: 50%;
  max-width: 550px;
  margin-top: 20px;
}

.department-name {
  position: relative;
  margin-right: 20px;

  .category-menu {
    position: absolute;
    z-index: 100;
    background: #ffffff;
    display: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f2f4f3;
    border-radius: 4px;
    border-top-left-radius: 0;
    text-align: left;
    width: 275px;

    li {
      display: block;
      border-bottom: 1px solid #f2f4f3;

      &:last-child {
        border: none;
      }

      a {
        color: #0c1c31;
        padding: 7px 15px;
        display: block;

        &:hover {
          color: #ffcc00;
        }
      }
    }
  }

  div {
    transition: all 0.3s 0s ease-in;
  }

  &:hover {
    div {
      background: #ffcc00;
    }

    .category-menu {
      display: block;
    }
  }
}

.account-icon {
  color: #0c1c31;
  font-size: 24px;
}

.my-boards-link {
  color: #606060;
  font-weight: normal;
  font-family: "Open Sans";
  font-size: 18px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.mat-badge-content {
  background: #b76379;
}

@media screen and (max-width: 480px) {
  .mat-toolbar-row {
    height: 56px;
    width: 105%;
  }

  .header-link {
    display: none;
  }

  .top-navbar {
    overflow: scroll;
    padding: 0%;
  }

  .department-name {
    width: 10000px;
  }

  .justify-around {
    justify-content: flex-start;
    height: 55px;
  }
}

.boards-icon {
  display: none;
}

@media (max-width: 768px) {
  .section {
    margin-top: 0;
  }

  .top-navbar {
    font-size: 16px;
  }

  .department-name {
    position: relative;
    margin-right: 15px;
  }

  .my-boards-link {
    display: none;
  }

  .boards-icon {
    display: inline-flex;
  }
}

.center-logo {
  width: 160px;
}

@media (max-width: 1025px) {
  ::ng-deep .mat-menu-panel {
    height: 120px;
  }
}

.offer-rail {
  display: flex;
  background-color: #0c1c31;
  justify-content: center;
  padding: 0.5rem 0;

  a:focus {
    text-decoration: none;
    border: none;
    outline: none;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: #ffcc00;
    border: none;
    outline: none;
  }

  .offer-details {
    color: #ffcc00;
    font-family: Lato, sans-serif;
    font-size: 14px;
  }
}

.all-offers {
  color: #ffcc00;
  font-family: Lato, sans-serif;
  text-decoration: underline;
  font-size: 16px;
  margin-left: 2rem;
}

.sticky-rail {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.active-nav-link{
  color: #0c1c31;
  font-weight: bold;
  text-decoration: underline;
}