.mat-toolbar-row.w-75 {
  width: 75%;
}

.mat-toolbar-multiple-rows {
  min-height: 0rem;
}

.mat-toolbar-row.header {
  background-color: #0c1c31;
}

mat-icon.account-icon {
  color: #ffcc00;
}

.header-link {
  color: #ffcc00;
  margin-right: 15px;
  text-decoration: none;
}
.header-link * {
  vertical-align: text-bottom;
}
.top-navbar {
  padding: 15px 0;
  padding-left: 6%;
  padding-right: 5%;
  margin-bottom: 10px;
  font-size: 18px;
}

.section {
  width: 65%;
  margin-top: 28px;
}

.department-name {
  position: relative;

  .category-menu {
    position: absolute;
    z-index: 100;
    background: #ffffff;
    display: none;
    padding: 0;
    margin: 0;
    border: 1px solid #f2f4f3;
    border-radius: 4px;
    text-align: left;
    width: 275px;

    li {
      display: block;
      border-bottom: 1px solid #f2f4f3;

      &:last-child {
        border: none;
      }

      a {
        color: #0c1c31;
        padding: 7px 15px;
        display: block;

        &:hover {
          color: #ffcc00;
        }
      }
    }
  }
  &:hover {
    div {
      background: #ffcc00;
    }
    .category-menu {
      display: block;
    }
  }
}
.modal-dialog{
  width: 35%;
}

.modal-heading{
  text-align: center;
  margin-top: 15%;
  color: #ffcc00;
  font-size: 45px;
}

.socialButtons{
  text-align: center;
}

.close{
  width: 10%;
  margin-top: 1%;
}

.facebookBtn,
.googleBtn{
  margin-bottom: 2%;
  width: 60%;
  box-shadow: 2px 5px 8px 1px #a2a1a1;
  font-size: 18px;
}
.modal-body{
  padding: 0 !important;
  padding-bottom: 1rem !important;
}

.formGroup{
  width: 65%;
  padding-top: 5%;
}

.span-line
{
  margin-left: 32% !important;
  font-size: larger;
}

.resetPassword{
  font-size: larger;
  position: relative;
    top: 12px;
    left: 57%;
}

.text-input
{
  margin-left: 28%;
  font-size: 19px;
}

.submit{
  margin-left: 28%;
  border-radius: 7px;
    background: #06122d;
    color: #ffcc00;
    font-size: 20px;
}

.footer-content{
  font-size: 20px;
  margin-right: 20%;
}

.signup-footer-content{
  font-size: 20px;
  margin-right: 27% !important;
}

.signup-modal-heading{
  text-align: center;
  margin-top: 12%;
  color: #ffcc00;
  font-size: 45px;
}

.signUpformGroup{
  width: 65%;
  padding-top: 1% !important;
}

.opacity-animate{
  position: relative;
  top: -20px;
  animation:opt-animation3 1s ;
-moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes opt-animation3 {
0%   { opacity: 0; transform: scale(0.75);}
100% { opacity: 1; transform: scale(1);}
}
@-moz-keyframes opt-animation3 {
 0%   { opacity: 0; transform: scale(0.75);}
100% { opacity: 1; transform: scale(1);}
}
@-o-keyframes opt-animation3{
0%   { opacity: 0; transform: scale(0.75);}
100% { opacity: 1; transform: scale(1);}
}
@keyframes opt-animation3 {
0%   { opacity: 0; transform: scale(0.75);}
100% { opacity: 1; transform: scale(1);}
}

@media screen and (max-width: 480px) { 
  .mat-toolbar-row{
    height: 56px;
    width: 105%;
  }

  .header-link{
    display: none;
  }

  .top-navbar{
    overflow: scroll;  
    padding: 0%;
  }

  .department-name{
    width: 10000px;
  }

  .justify-around{
    justify-content: flex-start ;
  height: 55px; }
}