.spinner {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// TYPOGRAPHY
p {margin-bottom: 1.3em; font-family: Exo; font-weight: 300}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 3.998em;
}
h2 {font-size: 2.827em;}
h3 {font-size: 1.999em;}
h4 {font-size: 1.414em;}
small, .font_small {font-size: 0.707em;}
li {list-style-type: none}
a{text-decoration: none; color: inherit;}

.container {
  width: 100%;
  // height: 1000px;
  background-color: #fff;
  // margin-top: 400px;
  z-index: 1;
  .wrapper{
    width: 80%;
    margin: 0 auto;
    article{
      p{
        &:first-child{
          &:first-letter{
            text-decoration: none;
            font-size: 2.8em;
            float: left;
            color: white;
            padding: 5px 10px;
            margin: 7px 10px 0 0;
            background-color: #333;
            line-height: 1;
            border-radius: 5px;
          }
        }
        width: 95%;
        margin: 3em auto;
        font-size: 1.4em;
      }
    }
    h1{font-size: 3em;
    text-align: center;
    font-weight: 700; margin-top: 0.5em; margin-bottom: 0;}
    small{
      margin: 0 auto;
      display: block;
      width: 67.5%;
      font-size: 1em;
      font-weight: 600;
      position: relative;
      // top: -10px;
    }
  }
}
