<mat-expansion-panel *ngIf="selectionsExist">
  <mat-expansion-panel-header>
    <mat-panel-title class="title">
      More
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="flex flex-wrap variant-features-options-container">
    <div
      class="variant-feature-content relative"
      *ngFor="let item of inputSelections | keyvalue"
    >
      <div
        class="variant-feature-options"
        *ngIf="item.value.select_type === 'multi_select'"
      >
        <div class="feature-title pointer flex flex-wrap justify-between">
          <h6 class="selection-title">{{ item.key | titlecase }}</h6>
          <span class="arrow-icon"><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
        <div class="variant-feature-checkbox">
          <div *ngFor="let option of item.value.options">
            <mat-checkbox
              (change)="onCheckChange($event, option, item.key)"
              [checked]="
                selections[item.key] && selections[item.key].includes(option)
              "
              class="options"
            >
              {{ option }}
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" variant-features-options-container">
    <div
      class="variant-feature-content"
      *ngFor="let item of inputSelections | keyvalue"
    >
      <div
        class=" variant-feature-options"
        *ngIf="item.value.select_type === 'single_select'"
      >
        <h6 class="selection-title">{{ item.key | titlecase }}</h6>
        <div class="flex flex-wrap">
          <div
            class="variant-feature options pointer w-30"
            (click)="selectedOption(option, item.key)"
            [class.active]="
              selections[item.key] && selections[item.key] === option
            "
            *ngFor="let option of item.value.options"
          >
            {{ option }}
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-expansion-panel>
