<div class="variations-container" *ngIf="variations.length > 0">
  <span class="title">More Options</span>
  <div class="variation-options" *ngIf="isSwatchExist">
    <div
      *ngFor="let variation of variations; let i = index"
      class="variation-img-box"
      (click)="selectedVariation(variation, i, gallery)"
      [class.active]="selectedIndex === i"
    >
      <a>
        <span data-title="{{ variation.name }}">
          <img
            [src]="variation.swatch_image"
            [alt]="variation.name"
            class="variation-img"
          />
        </span>
      </a>
    </div>
  </div>
  <div class="variant-features-options-container">
    <div
      class="variant-feature-content"
      *ngFor="let item of product.selections | keyvalue"
    >
      <div
        class="variant-feature-options"
        *ngIf="item.value.select_type === 'single_select'; else multiSelect"
      >
        <span>{{ item.key | titlecase }}</span>
        <div
          class="variant-feature pointer"
          (click)="selectedOption(i, option, item.key)"
          [class.active]="selectedFeature === i && selectedAttribute === option"
          *ngFor="let option of item.value.options; let i = index"
        >
          {{ option }} {{ i }}
        </div>
      </div>
      <ng-template #multiSelect>
        <div class="flex items-center pa3 mr1 filter">
          <span class="filter-name grow pointer">{{
            item.key | titlecase
          }}</span>
          <div class="ml2 arrow-down "></div>
          <div class="filter-options">
            <div *ngFor="let option of item.value.options">
              <!-- <mat-checkbox
                class="pa2 menu-item"
                (change)="onCheckChange($event, option, item.key)"
              >
                {{ option }}</mat-checkbox
              > -->
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
