<ng-container *ngIf="!isHandset else handset">
    <ng-container *ngIf="!isWishlisted else alreadyWishlisted">
        <div class="flex items-center mb2" *ngIf="!showLogin else loginTemplate">
            <span class="mr3 stock-message">Out of Stock</span>
            <button class="flex-grow-1 waitlist-button" (click)="checkLogin()">Join Waitlist</button>
        </div>
        <ng-template #loginTemplate>
            <div class="flex items-center mb2">
                <input class="input" placeholder="Email" type="email" [(ngModel)]="email">
                <input class="input" placeholder="Password" type="password" [(ngModel)]="password">
                <button class="login-button" (click)="this.login()">Go</button>
            </div>
            <p *ngIf="error" class="error-message">{{errorMsg}}</p>
        </ng-template>
        <span class="hint-message"><mat-icon>error</mat-icon>Sign up and we'll be in touch.</span>
    </ng-container>
    <ng-template #alreadyWishlisted>
        <span class="finish-message">YOU'RE ON THE WAITLIST. WATCH YOUR INBOX FOR UPDATES.</span>
    </ng-template>
</ng-container>
<ng-template #handset>
    <ng-container *ngIf="!isWishlisted else alreadyWishlisted">
        <div class="flex flex-column mb2" *ngIf="!showLogin else loginTemplate">
            <div class="flex justify-between mb2">
                <span class="mr3 stock-message">Out of Stock</span>
                <span class="hint-message"><mat-icon>error</mat-icon>Sign up and we'll be in touch.</span>
            </div>
            <button class="flex-grow-1 waitlist-button" (click)="checkLogin()">Join Waitlist</button>
        </div>
        <ng-template #loginTemplate>
            <div class="flex flex-column mb2">
                <input class="input w-100 mb2" placeholder="Email" type="email" [(ngModel)]="email">
                <input class="input w-100 mb2" placeholder="Password" type="password" [(ngModel)]="password">
                <button class="login-button " (click)="this.login()">Go</button>
            </div>
            <p *ngIf="error" class="error-message">{{errorMsg}}</p>
        </ng-template>

    </ng-container>
    <ng-template #alreadyWishlisted>
        <span class="finish-message">YOU'RE ON THE WAITLIST. WATCH YOUR INBOX FOR UPDATES.</span>
    </ng-template>
</ng-template>