<div>
  <span class="title">Options</span>
  <div class="sets-container" *ngFor="let item of sets">
    <a href="/product/{{ item.sku }}"
      ><i class="fas fa-external-link-alt"></i
    ></a>
    <span class="w-60-ns w-50"> {{ item.name }} </span>

    <ng-container
      *ngIf="
        item.in_inventory && item.inventory_product_details.count > 0;
        else isOOS
      "
    >
      <div class="w-50">
        <span class="price w-10-ns">
          ${{ item.inventory_product_details.price }}
        </span>

        <span class="brand-button">
          <a class="pointer" (click)="openCartModal(item)">Add to cart </a>
        </span>
      </div>
    </ng-container>

    <ng-template #isOOS>
      <div class="w-50">
        <span class="price w-10-ns ">${{ item.price }}</span>

        <span
          *ngIf="item.price !== item.was_price"
          class="was-price w-10 {{
            item.price !== item.was_price ? 'strike' : ''
          }}"
          >${{ item.was_price }}</span
        >
        <span class="brand-button"
          ><a
            class=""
            (click)="openLink($event, item.link)"
            href="{{ item.link }}"
            >View at {{ brand }}</a
          ></span
        >
      </div>
    </ng-template>
  </div>
</div>
