<img *ngIf="isProductFetching" [src]="spinner" class="loader"/>
<ngx-json-ld [json]="schema"></ngx-json-ld>
<ng-container *ngIf="!isProductFetching">
    <div *ngIf="product || !invalidLink; else invalidProduct">
        <div class="images-container" #gallery>
            <div class="images">
                <img *ngFor="let image of items; index as i" [src]="image.data.src" (click)="openLightbox(i)"
                     class="prod-img"/>
            </div>
        </div>
        <div class="product-content">

            <div class="flex justify-between">
                <div class="product-site">{{ product.site }}</div>
                <div *ngIf="product && product.wishlisted; else elseBlock">
                    <div class="tile-icon wishlist-icon wishlist-container">
                        <mat-icon (click)="wishlistProduct(product.sku, false)">favorite
                        </mat-icon>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="tile-icon wishlist-icon wishlist-container">
                        <mat-icon (click)="wishlistProduct(product.sku, true)">favorite_border
                        </mat-icon>
                    </div>
                </ng-template>
            </div>
            <div class="product-name">{{ product.name }}</div>
            <div class="price-container flex items-center">
                <div class="padding-vertical-2 flex items-center">
                        <span class="product-price">
                            ${{ priceObject.is_price }}
                            &nbsp;
                            <span class="strike product-old-price" [ngClass]="{'dn':!isDiscounted}">
                                ${{ priceObject.was_price }}
                            </span>
                        </span>
                </div>
            </div>
            <div class="flex cart-actions">
                <button (click)="openLink($event, product.product_url)" mat-raised-button class="bg-red view-details-btn" *ngIf="
            product && !utils.hasInventory(activeProduct) && !product.redirect && product.product_url
          ">
                    <a  [href]="product.product_url"
                       class="tr-viewDetails no-underline yellow">
                        VIEW DETAILS
                    </a>
                </button>
                <select [(ngModel)]="quantity" #quantitySelector class="quantity-selector"
                        *ngIf="product && utils.hasInventory(activeProduct)">
                    <option *ngFor="
              let i of quantityLimit(
                activeProduct.inventory_product_details.count
              )
            " [value]="i">{{ i }}</option>
                </select>
                <div class="flex flex-column w-70"    *ngIf="product && utils.hasInventory(activeProduct)">
                    <button (click)="openCartModal()" mat-raised-button class="bg-red view-details-btn"
                         >
                        <a class="tr-addToCart no-underline yellow">
                            ADD TO BAG
                        </a>
                    </button>
                    <div  *ngIf="errorMessage !== ''" class="invalid-feedback">
                        <div>{{ errorMessage }}</div>
                    </div>
                </div>
            </div>

            <div class="stock-info" *ngIf="
          product &&
          utils.hasInventory(activeProduct) &&
          (activeProduct.inventory_product_details.is_low ||
            activeProduct.inventory_product_details.message)
        ">
                <div class="flex">
                    <span>
            <mat-icon class="info-icon">info</mat-icon>
          </span>
                    <div class="stock-msg" *ngIf="activeProduct && activeProduct.inventory_product_details.is_low">
                        Only {{ activeProduct.inventory_product_details.count > 10 ? '10' : activeProduct.inventory_product_details.count }}
                        left in stock.
                    </div>
                </div>
                <div class="shipping-msg">
                    {{ activeProduct.inventory_product_details.message }}
                </div>
            </div>
            <ng-container *ngIf="product && product.redirect; else allConditions">
                <hr class="modal-hr mt-3" *ngIf="product && product.set && product.set.length > 0"/>
            </ng-container>
            <ng-template #allConditions>
                <hr class="modal-hr mt-3" *ngIf="
            isVariationExist ||
            (product && product.set && product.set.length > 0)
          "/>
            </ng-template>
            <div *ngIf="!isSetItemInInventory">
                <app-redirect *ngIf="
            product && product.redirect && !utils.hasInventory(activeProduct)
          " [redirectUrl]="product.redirect_url" [redirectDetails]="product.redirect_details"
                              [category]="product.department_info[0].category_name"
                              [categoryUrl]="product.department_info[0].category_url" [isHandset]="true"></app-redirect>
            </div>

            <app-variations *ngIf="product && isVariationExist && !product.redirect" [variations]="variations"
                            [isSwatchExist]="isSwatchExist" [inputSelections]="product.selections"
                            [hasSelection]="hasSelection" (setPrice)="onSetPrice($event)"
                            (setImage)="onSetImage($event)"
                            (reload)="onVariationChange()" (setSelectionChecked)="onSetSelectionChecked($event)"
                            (clearSelection)="onClearSelection($event)"
                            (setSelection)="onSetSelection($event)"></app-variations>
            <app-sets *ngIf="product && product.set && product.set.length > 0" [sets]="product.set"
                      [brand]="product.site" [isHandset]="true">
            </app-sets>
            <hr class="modal-hr"/>
            <div class="pv2">
                <ul class="description-menu">
                    <li (click)="selectTab('desc')" *ngIf="descriptionExist"
                        class="{{ activeTab === 'desc' ? 'active b' : 'bg-white' }}">
                        <span class="nav-link">Description</span>
                    </li>
                    <li (click)="selectTab('features')" *ngIf="featuresExist"
                        class="{{ activeTab === 'features' ? 'active b' : 'bg-white' }}">
                        <span class="nav-link">Features</span>
                    </li>
                    <li (click)="selectTab('dimensions')" *ngIf="dimensionExist"
                        class="{{ activeTab === 'dimensions' ? 'active b' : 'bg-white' }}">
                        <span class="nav-link">Dimensions</span>
                    </li>
                </ul>
                <div class="menu-content">
                    <div *ngIf="descriptionExist" class="{{ activeTab === 'desc' ? '' : 'dn' }}">
                        <div [innerHTML]="description" class="nav-content"></div>
                    </div>
                    <div *ngIf="featuresExist" class="{{ activeTab === 'features' ? '' : 'dn' }}">
                        <div class="mt1 pl3">
                            <div [innerHTML]="features" class="nav-content"></div>
                        </div>
                    </div>
                    <div *ngIf="dimensionExist" class="{{ activeTab === 'dimensions' ? '' : 'dn' }}">
                        <div *ngIf="isArray(product.dimension); else showDimensions" class="dimension-container">
                            <div *ngFor="let dimension of product.dimension" class="fl w-50 pa2">
                                <div class="dimension-title">{{ dimension.description }}</div>
                                <div>Width: {{ dimension.width }}</div>
                                <div>Depth: {{ dimension.depth }}</div>
                                <div>Height: {{ dimension.height }}</div>
                                <br/>
                            </div>
                        </div>
                        <ng-template #showDimensions>
                            <div class="nav-content">
                                {{ product.dimension }}
                            </div>
                        </ng-template>
                    </div>
                    <div class="mb2" *ngIf="product.collections.length">
                        <hr class="modal-hr"/>
                        <span class="title">More in the Collection</span>
                        <div class="pt2">

                            <owl-carousel
                                    [options]="carousalOptions"
                                    [items]="product.collections"
                                    *ngIf="product.collections?.length"
                                    [carouselClasses]="['owl-theme']"
                            >
                                <ng-container *ngFor="let data of product.collections; let i = index">
                                    <div class="carousel-item" [routerLink]="['/product',data.sku]">
                                        <img [src]="'https://lazysuzy.com'+data.image"/>
                                        <span class="font-16 open-sans collection-product-name">{{data.name}}</span>
                                        <span class="is-price" [ngClass]="{'sale':isDiscountedCollectionPrice(data)}">
                                            {{renderPrice(data.price)}} &nbsp;
                                            <span *ngIf="isDiscountedCollectionPrice(data)" class="strike was-price">
                                                {{renderPrice(data.was_price)}}
                                            </span>
                                        </span>

                                    </div>
                                </ng-container>

                            </owl-carousel>
                            <!--                            <p-carousel-->
                            <!--                                    [numVisible]="2"-->
                            <!--                                    [numScroll]="1"-->
                            <!--                                    [value]="product.collections"-->
                            <!--                                    [circular]="false"-->
                            <!--                            >-->
                            <!--                                <ng-template let-data pTemplate="item">-->
                            <!--                                    <div class="carousel-item" [routerLink]="['/product',data.sku]" >-->
                            <!--                                        <img [src]="'https://lazysuzy.com'+data.image"/>-->
                            <!--                                        <span class="font-16 open-sans collection-product-name">{{data.name}}</span>-->
                            <!--                                        <span class="is-price" [ngClass]="{'sale':isDiscountedCollectionPrice(data)}">-->
                            <!--                                            {{renderPrice(data.price)}} &nbsp;-->
                            <!--                                            <span *ngIf="isDiscountedCollectionPrice(data)" class="strike was-price">-->
                            <!--                                                {{renderPrice(data.was_price)}}-->
                            <!--                                            </span>-->
                            <!--                                        </span>-->

                            <!--                                    </div>-->
                            <!--                                </ng-template>-->
                            <!--                            </p-carousel>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #invalidProduct>
        <div class="tc">
            <img [src]="invalidLinkImageSrc" class="invalid-url-image"/>
        </div>
    </ng-template>
</ng-container>
