<img *ngIf="isProductFetching" [src]="spinner" class="loader"/>
<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
    <ng-container *ngIf="type === 'imageViewer' && index === currIndex">
        <ngx-imageviewer [src]="data.src"></ngx-imageviewer>
    </ng-container>
</ng-template>
<ngx-json-ld [json]="schema"></ngx-json-ld>
<ng-container *ngIf="!isProductFetching">
    <div *ngIf="product || !invalidLink; else invalidProduct">
        <div class="images-container" #gallery>
            <div class="images">
                <img *ngFor="let image of items; index as i" [src]="image.data.src" (click)="openLightbox(i)"
                     class="prod-img"/>
            </div>
        </div>

        <div class="product-content">

            <div class="flex justify-between">
                <div class="product-site">{{ product.site }}</div>
                <ng-container *ngIf="
            product && !utils.hasInventory(activeProduct) && !product.redirect && product.product_url
          ">
                    <div *ngIf="product && product.wishlisted; else elseBlock">
                        <div class="tile-icon wishlist-icon wishlist-container">
                            <mat-icon (click)="wishlistProduct(product.sku, false)">favorite
                            </mat-icon>
                        </div>
                    </div>
                </ng-container>
                <ng-template #elseBlock>
                    <div class="tile-icon wishlist-icon wishlist-container">
                        <mat-icon (click)="wishlistProduct(product.sku, true)">favorite_border
                        </mat-icon>
                    </div>
                </ng-template>
            </div>
            <div class="product-name">{{ product.name }}</div>
            <div class="price-container flex items-center">
                <div class="padding-vertical-2 flex items-center">
                        <span class="product-price">
                            {{ priceObject.is_price }}
                            &nbsp;
                            <span class="strike product-old-price" [ngClass]="{'dn':!isDiscounted}">
                                {{ priceObject.was_price }}
                            </span>
                        </span>
                </div>
            </div>
            <div class="flex cart-actions mb2">
                <button (click)="openLink($event, product.product_url)" mat-raised-button
                        class="bg-red view-details-btn" *ngIf="
            product && !utils.hasInventory(activeProduct) && !product.redirect && product.product_url
          ">
                    <a [href]="product.product_url"
                       class="tr-viewDetails no-underline yellow">
                        VIEW DETAILS
                    </a>
                </button>
                <select [(ngModel)]="quantity" #quantitySelector class="quantity-selector"
                        *ngIf="product && utils.hasInventory(activeProduct)">
                    <option *ngFor="
              let i of quantityLimit(
                activeProduct.inventory_product_details.count
              )
            " [value]="i">{{ i }}</option>
                </select>
                <div class="flex flex-column w-70" *ngIf="product && utils.hasInventory(activeProduct)">
                    <button (click)="openCartModal()" mat-raised-button class="bg-red view-details-btn"
                    >
                        <a class="tr-addToCart no-underline yellow">
                            ADD TO BAG
                        </a>
                    </button>
                    <div *ngIf="errorMessage !== ''" class="invalid-feedback">
                        <div>{{ errorMessage }}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="!isSetItemInInventory">
                <app-redirect *ngIf="product && product.redirect && !utils.hasInventory(activeProduct)"
                              [isHandset]="true"
                              [isWishlisted]="product.wishlisted"
                              (wishlist)="wishlistProduct(product.sku,true)"
                ></app-redirect>
            </div>
            <div class="stock-info mb2" *ngIf="
          product &&
          utils.hasInventory(activeProduct) &&
          (activeProduct.inventory_product_details.is_low ||
            activeProduct.inventory_product_details.message)
        ">
                <div class="flex">
                    <span>
            <mat-icon class="info-icon">info</mat-icon>
          </span>
                    <div class="stock-msg" *ngIf="activeProduct && activeProduct.inventory_product_details.is_low">
                        Only {{ activeProduct.inventory_product_details.count > 10 ? '10' : activeProduct.inventory_product_details.count }}
                        left in stock.
                    </div>
                </div>
                <div class="shipping-msg">
                    {{ activeProduct.inventory_product_details.message }}
                </div>
            </div>


            <!--       Ship Status -- Only applies for CB2 and CAB Products for now-->
            <div class="ship-status mb2 flex" *ngIf="product.online_msg">
                <span class="ship-status-label">Status:</span>
                <span class="ship-status-details ml1">
                                <mat-icon
                                        [ngStyle]="{'color':product.is_back_order ?'#FFCC00':'#54AD32'}">lens</mat-icon>
                    {{product.online_msg}}</span>
            </div>
            <!--            End of Ship status-->
            <div class="ship-info mb2 flex"
                 *ngIf="product.inventory_product_details?.shipping_desc || utils.hasInventory(activeProduct)">
                <span class="shipping-label">Shipping: &nbsp;</span>
                <span class="shipping-details ml1">{{utils.getShippingDesc(product)}}</span>
            </div>
            <ng-container *ngIf="product && product.redirect; else allConditions">
                <hr class="modal-hr mt-3" *ngIf="product && product.set && product.set.length > 0"/>
            </ng-container>
            <ng-template #allConditions>
                <hr class="modal-hr mt-3" *ngIf="
            isVariationExist ||
            (product && product.set && product.set.length > 0)
          "/>
            </ng-template>


            <app-variations *ngIf="product && isVariationExist && !product.redirect" [variations]="variations"
                            [isSwatchExist]="isSwatchExist" [inputSelections]="product.selections"
                            [hasSelection]="hasSelection" (setPrice)="onSetPrice($event)"
                            (setImage)="onSetImage($event)"
                            (reload)="onVariationChange()" (setSelectionChecked)="onSetSelectionChecked($event)"
                            (clearSelection)="onClearSelection($event)"
                            (setSelection)="onSetSelection($event)"></app-variations>
            <app-sets *ngIf="product && product.set && product.set.length > 0" [sets]="product.set"
                      [brand]="product.site" [isHandset]="true">
            </app-sets>
            <hr class="modal-hr"/>
            <div class="pv2">
                <ul class="description-menu">
                    <li (click)="selectTab('desc')" *ngIf="descriptionExist"
                        class="{{ activeTab === 'desc' ? 'active b' : 'bg-white' }}">
                        <span class="nav-link">DESCRIPTION</span>
                    </li>
                    <li (click)="selectTab('features')" *ngIf="featuresExist"
                        class="{{ activeTab === 'features' ? 'active b' : 'bg-white' }}">
                        <span class="nav-link">FEATURES</span>
                    </li>
                    <li (click)="selectTab('dimensions')" *ngIf="dimensionExist"
                        class="{{ activeTab === 'dimensions' ? 'active b' : 'bg-white' }}">
                        <span class="nav-link">DIMENSIONS</span>
                    </li>
                </ul>
                <div class="menu-content">
                    <div *ngIf="descriptionExist" class="{{ activeTab === 'desc' ? '' : 'dn' }}">
                        <div [innerHTML]="description" class="nav-content"></div>
                    </div>
                    <div *ngIf="featuresExist" class="{{ activeTab === 'features' ? '' : 'dn' }}">
                        <div class="mt1 pl3">
                            <div [innerHTML]="features" class="nav-content"></div>
                        </div>
                    </div>
                    <div *ngIf="dimensionExist" class="{{ activeTab === 'dimensions' ? '' : 'dn' }}">
                        <div *ngIf="isArray(product.dimension); else showDimensions" class="dimension-container">
                            <div *ngFor="let dimension of product.dimension" class="w-50 pa2">
                                <div class="dimension-title">{{ dimension.description }}</div>
                                <div *ngIf="dimension.width">Width: {{ dimension.width }}</div>
                                <div *ngIf="dimension.depth">Depth: {{ dimension.depth }}</div>
                                <div *ngIf="dimension.height">Height: {{ dimension.height }}</div>
                                <br/>
                            </div>
                        </div>
                        <ng-template #showDimensions>
                            <div class="nav-content">
                                {{ product.dimension }}
                            </div>
                        </ng-template>
                    </div>

                </div>
                <div class="mb2" *ngIf="product.collections.length">
                    <hr class="modal-hr"/>
                    <span class="title">MORE IN THE COLLECTION</span>
                    <div class="pt2">

                        <owl-carousel
                                [options]="carousalOptions"
                                [items]="product.collections"
                                *ngIf="product.collections?.length"
                                [carouselClasses]="['owl-theme']"
                        >
                            <ng-container *ngFor="let data of product.collections; let i = index">
                                <div class="carousel-item" [routerLink]="['/product',data.sku]">
                                    <img [src]="'https://lazysuzy.com'+data.image"/>
                                    <span class="font-16 open-sans collection-product-name">{{data.name}}</span>
                                    <span class="is-price" [ngClass]="{'sale':isDiscountedCollectionPrice(data)}">
                                            {{renderPrice(data.price)}} &nbsp;
                                            <span *ngIf="isDiscountedCollectionPrice(data)" class="strike was-price">
                                                {{renderPrice(data.was_price, true)}}
                                            </span>
                                        </span>

                                </div>
                            </ng-container>

                        </owl-carousel>
                        <!--                            <p-carousel-->
                        <!--                                    [numVisible]="2"-->
                        <!--                                    [numScroll]="1"-->
                        <!--                                    [value]="product.collections"-->
                        <!--                                    [circular]="false"-->
                        <!--                            >-->
                        <!--                                <ng-template let-data pTemplate="item">-->
                        <!--                                    <div class="carousel-item" [routerLink]="['/product',data.sku]" >-->
                        <!--                                        <img [src]="'https://lazysuzy.com'+data.image"/>-->
                        <!--                                        <span class="font-16 open-sans collection-product-name">{{data.name}}</span>-->
                        <!--                                        <span class="is-price" [ngClass]="{'sale':isDiscountedCollectionPrice(data)}">-->
                        <!--                                            {{renderPrice(data.price)}} &nbsp;-->
                        <!--                                            <span *ngIf="isDiscountedCollectionPrice(data)" class="strike was-price">-->
                        <!--                                                {{renderPrice(data.was_price)}}-->
                        <!--                                            </span>-->
                        <!--                                        </span>-->

                        <!--                                    </div>-->
                        <!--                                </ng-template>-->
                        <!--                            </p-carousel>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #invalidProduct>
        <div class="tc">
            <img [src]="invalidLinkImageSrc" class="invalid-url-image"/>
        </div>
    </ng-template>
</ng-container>