<div class="flex filter-container">
  <ng-container *ngFor="let filter of objectKeys(filterData || {})">
    <div
      (click)="toggleFilterOption(filter)"
      class="flex items-center pa1 mr1 filter {{
        disableTab(filter) ? 'display-none' : ''
      }}"
    >
      <span
        class="filter-name grow pointer {{
          filter !== 'price'
            ? activeFilters[filter].length > 0
              ? 'active'
              : ''
            : isPriceChanged
            ? 'active'
            : ''
        }}"
        >{{ filter }}</span
      >
      <div
        class="ml2 arrow-down {{
          filter !== 'price'
            ? activeFilters[filter].length > 0
              ? 'active'
              : ''
            : isPriceChanged
            ? 'active'
            : ''
        }}"
      ></div>
    </div>
    <div class="filter-options {{ selectedFilter === filter ? 'open' : '' }}">
      <div class="price-menu" *ngIf="filter === 'price'; else elseBlock">
        <ng5-slider
          [(value)]="minValue"
          [(highValue)]="maxValue"
          [options]="silderOptions"
          (userChangeEnd)="onPriceChange()"
        ></ng5-slider>
      </div>
      <ng-template #elseBlock>
        <div *ngFor="let option of filterData[filter]">
          <mat-checkbox
            class="pa2 menu-item"
            *ngIf="option.enabled"
            [checked]="option.checked"
            [value]="option.value"
            (change)="onCheckChange($event, filter)"
          >
            {{ option.name }}</mat-checkbox
          >
        </div>
      </ng-template>
    </div>
  </ng-container>
</div>
<span
  class="flex items-center pointer f6 fw6 db silver
  link ml-1 {{ isClearAllVisible ? 'd-block' : 'd-none' }}"
  (click)="clearFilters()"
  >Clear All</span
>
