.snackbar-text {

}

button {
  border: none;
  background: transparent;
  color: #b76e79;
  white-space: nowrap;
}

::ng-deep.snackbar-container {
  background: #f2f4f3;
  color: #0c1c31;
  margin: 0 !important;
  border-radius: 0;
}

::ng-deep.visible-none {
  visibility: hidden;
}

::ng-deep.snackbar-container-handset {
  background: #f2f4f3;
  width: 100%;
  color: #0c1c31;
  margin: 0 !important;
  border-radius: 0;
}