.banner {
  //margin-bottom: 100px;
  position: relative;
}

.bannerCarousel {
  padding-top: 3%;
}
.navbar{
  position: absolute;
  z-index: 99;
  width: 100%;
}
.bannerCarousel .ui-button {
  margin: 0 !important;
}

@media (max-width: 767px) {
  .banner {
    margin-bottom: 50px;
  }
  .bannerCarousel .ui-button {
    font-size: 6px !important;
  }
}
