.pink-font {
    color: #b76e79;
}
.blue-font {
    color: #0c1c31;
}
.gray-font {
    color: #636363;
}
.brand-font {
    color: #606060;
}
.signup-card{
    display: inline-block;
    background-color: #fafafa;
    padding: 16px 32px;
    color: #676666;
    border: 1px solid #a3a3a3;
    .register-btn {
        background-color: #0c1c31;
        color: #f7c135;
        border: none;
        padding: 10px;
    }
    .form-input {
        width: 100%;
        padding: 8px 12px;
    }
}
.products-card {
    display: inline-block;
    border: 1px solid #a3a3a3;
    padding: 16px 32px;
    .section {
        border-bottom: 1px solid #dddddd;
    }
    .order-pricing {
        padding: 40px 100px;
    }
    .order-details {
        padding: 40px 0;
    }
}
.error-msg {
    font-size: 12px;
    color: #ff0000;
}
.success-msg {
    color: #008000;
}
@media only screen and (max-width: 767px) {
    .products-card {
        .order-pricing {
            padding: 20px 0;
        }
        .order-details {
            padding: 30px 0;
        }
    }
}
