.btn-dark{ background: black; color: #f8cb00; width: 70px; border-radius: 5px; font-size: 16px;}

.btn{width: 10%; color: #f8cb00; background: black; font-size: 20px;}

.product_detail{ text-align: left;}

.product{padding-right: 2%; padding-top: 2%;}

.product_image{ box-shadow: 3px 8px 8px #8f8e8e; }

.title-best-sellers{ font-weight: 600;}