<div class="search-result-title-bar">
  <h4 class="w-100 mt3" [ngClass]="{'ml3':isHandset}">
    Search results for: <span class="search-term">{{ query }}</span>
  </h4>
  <div class="w-100" *ngIf="isHandset">
    <span class="icon-container" (click)="toggleMobileView()">
      <mat-icon aria-hidden="false" aria-label="toggle">
        view_module
      </mat-icon>
      <span class="icon-title">Toggle</span>
    </span>
  </div>
</div>
<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div
    class="flex flex-wrap justify-center "
    *ngIf="isHandset; else isDesktop"
  >
    <app-search-product
      *ngFor="let product of products"
      [product]="product"
      [productsInRow]="productsInRow"
      [ngClass]="{
        'w-50': productsInRow === 2,
        'w-33': productsInRow === 3,
        'w-100': productsInRow === 1
      }"
    ></app-search-product>
  </div>

  <ng-template #isDesktop>
    <div class="tr w-100 results-text">
      <span> {{ totalCount }} Results </span>
    </div>
    <div class="flex flex-wrap justify-center">
      <app-search-product
        *ngFor="let product of products"
        [product]="product"
        class="w-25-ns"
      ></app-search-product>
    </div>
  </ng-template>
</div>
