.search-result-title-bar {
    display: flex;
    .icon-container {
        margin: 15px;
        display: flex;
        align-items: center;
        float: right;
    }
    .search-term {
        color: #b76e79;
    }
}

.results-text {
    margin: 5px 0;
    color: #606060;
}