<div class="wrapper">
    <div [ngClass]="{'content':!isHandset,'mobile-content':isHandset}">
        <div class="header">
            <span>TAKING CARE OF YOUR FURNITURE</span>
        </div>
        <div class="furniture-content mt5">
            <div class="furniture-type">
                <span> Wood & Veneer</span>
                <div class="flex flex-column mt3">
                    <div class="damage mb3">
                        <div class="damage-type">
                            Sun Damage
                        </div>
                        <div class="damage-care">
                            These materials are both sensitive to light. We'd recommend that you avoid leaving anything
                            on
                            the
                            surfaces for the first 6-8 weeks, if they're exposed to sunlight. This should help you avoid
                            any
                            marks or rings appearing if the furniture lightens in the sun.
                        </div>
                    </div>
                    <div class="damage mb3">
                        <div class="damage-type">
                            Cleaning
                        </div>
                        <div class="damage-care">
                            A damp (never soaking wet) cloth will do it. Dry the surfaces thoroughly afterwards. Both
                            wood
                            and veneer can be damaged by liquids, so if you spill anything on it, be sure to wipe it dry
                            immediately. If you need to remove any stains, go gently – use mild soap and warm water.
                        </div>
                    </div>
                </div>
            </div>

            <div class="furniture-type">
                <span> Upholstery</span>
                <div class="flex flex-column mt3">
                    <div class="damage mb3">
                        <div class="damage-type">
                            Sun Damage
                        </div>
                        <div class="damage-care">
                            Upholstered furniture will lighten over time if it's exposed to direct sunlight, so be
                            careful where you place your furniture pieces.
                        </div>
                    </div>
                    <div class="damage mb3">
                        <div class="damage-type">
                            Wear
                        </div>
                        <div class="damage-care">
                            To keep seat cushions looking their best and to help them wear evenly, be sure to regularly
                            turn them. Give foam, feather or fibre-filled cushions a shake as often as possible to help
                            them keep their shape.
                        </div>
                    </div>
                    <div class="damage mb3">
                        <div class="damage-type">
                            Feet
                        </div>
                        <div class="damage-care">
                            Make sure the feet on your chair or sofa are tightly fastened. Try not to drag them to avoid
                            damage to the feet, or your floor.
                        </div>
                    </div>
                </div>
            </div>

            <div class="furniture-type">
                <span> Leather</span>
                <div class="flex flex-column mt3">
                    <div class="damage mb3">
                        <div class="damage-type">
                            Sun and heat damage
                        </div>
                        <div class="damage-care">
                            Leather can lighten if it's exposed to direct sunlight, so be careful where you place it if
                            you want to avoid this. It can also be damaged if it's exposed to heat – don't put it too
                            close to a radiator.
                        </div>
                    </div>
                    <div class="damage mb3">
                        <div class="damage-type">
                            Cleaning
                        </div>
                        <div class="damage-care">
                            You can clean leather using a soft, dry cloth. Or a cloth and soapy water for a bit more
                            elbow grease. To keep your leather looking its best, we recommend you clean it regularly
                            with a leather cleaner.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>