<h1>Product Dashboard</h1>

<ng-container>
  <div class="filter-panel flex justify-around items-center">
    <app-product-filters
      [productFilters]="productFilters"
      (setFilters)="onSetFilters($event)"
      class="flex justify-start w-75"
    ></app-product-filters>
    <div>{{ total_count }} Results</div>
    <app-sort-type
      [sortTypeList]="sortTypeList"
      (setSortType)="onSetSortType($event)"
    >
    </app-sort-type>
  </div>
</ng-container>
<app-admin-product-listing
  [products]="products"
  [allBoards]="allBoards"
  [positions]="positions"
  (tagImage)="tagImage($event)"
>
</app-admin-product-listing>

<!-- <div class="flex flex-wrap" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <ng-container>
        
    </ng-container>
</div> -->
