<h1>Product Dashboard</h1>
<mat-form-field>
    <mat-select placeholder="BRAND" (selectionChange)="someMethod(item,$event.value)">
        <mat-option *ngFor="let position of positions" [value]="position.value">
            {{ position.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-select placeholder="CATEGORY" (selectionChange)="someMethod(item,$event.value)">
        <mat-option *ngFor="let position of positions" [value]="position.value">
            {{ position.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-select placeholder="STATUS" (selectionChange)="someMethod(item,$event.value)">
        <mat-option *ngFor="let position of positions" [value]="position.value">
            {{ position.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-select placeholder="CLASS" (selectionChange)="someMethod(item,$event.value)">
        <mat-option *ngFor="let position of positions" [value]="position.value">
            {{ position.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>

<app-admin-product-listing 
    [products]="products"
    [allBoards]="allBoards"
    [positions]="positions"
    (updates)="handleUpdates($event)">
</app-admin-product-listing>
