/* .cards {
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 */

 #main {
 
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
}

#main div {
  width: 20%;
  height: 20%;
}



/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 20%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 79%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
