<div
  class="flex flex-wrap pa1 ph4"
  *ngFor="let product of products; let i = index"
>
  <div class="w-20">
    <div class="flex">
      <div>{{ i }}</div>
      <div class="pl4">
        <div class="silver f6">{{ product.sku }}</div>
        <div>{{ product.name }}</div>
        <div class="silver f6">{{ product.site }}</div>
        <div class="prices">
          <span
            class="{{
              (product.is_price !== product.was_price && 'cprice sale') ||
                'cprice'
            }}"
            >${{ product.is_price }}</span
          >
          <span *ngIf="product.is_price !== product.was_price" class="oldprice">
            ${{ product.was_price }}
          </span>
        </div>
        <div>Create Date:</div>
        <div>Last Update Date:</div>
      </div>
    </div>
  </div>

  <div class="w-80 flex flex-wrap">
    <div *ngFor="let variation of product.on_server_images" class="card w-20">
      <mat-card>
        <mat-card-content>
          <div>
            <img [src]="variation.url || 'https://via.placeholder.com/150'" />
          </div>
          <mat-form-field>
            <mat-select
              [(value)]="variation.btag"
              placeholder="Board Tag"
              (selectionChange)="
                handleTagChange(product.sku, variation.url, $event.value)
              "
            >
              <mat-option *ngFor="let board of allBoards" [value]="board.value">
                {{ board.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- <div class="row">
	<div class="column1" style="background-color:#aaa;">
	  <h2>Column 1</h2>
	  <p>Some text..</p>
	</div>
	<div class="column2" style="background-color:#bbb;">
	  <h2>Column 2</h2>
	  <p>Some text..</p>
	</div>
  </div> -->
