<div class="loader" *ngIf="!bestSellers">
        <img src="../../../../assets/images/three-dots.svg" width="60" height="46" alt="">
</div>
<div class="seller-section row" *ngIf="bestSellers">
    <div class="image-cards col-md-3" *ngFor="let data of bestSellers">
        <button type="button" class="btn btn-light btn-living">
            <img class="img" [src]="data.main_image">

        </button>

        <div class="product_detail">
            <span>{{data.site}}</span>
            <br>
            <span>{{data.name}}</span>
            <br>
            <span>{{data.is_price}}</span>
        </div>
    </div>

</div>