@width: 15px;
@height: 15px;
@bounce_height: 25px;
@primary_color: #ffcc00;
.disable-browse {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #ccc;
}

.spinner {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
.board-action-icons {
  align-self: center;
  margin-right: 15px;
  font-size: 24px;
  border-radius: 5px;
  padding: 3px;
  transition: all 0.3s 0s ease;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  position: absolute;
  right: -10%;
  top: 44%;
  pointer-events: none;
}
.load-more-btn {
  background-color: #b76e79;
  color: #ffffff;
  &:hover {
    color: #FFC40D;
  }
}
.gray-bg {
  background-color: #f9f9f9;
}
.lazysuzy-board {
  display: flex;
  height: calc(100vh - 115px);
}
.b-100 {
  bottom: -100px;
}
.b-650 {
  bottom: -650px;
}
.b-577 {
  bottom: 577px;
}
.b-25 {
  bottom: 25px;
}
.transform-icon i:before {
  transform: rotate(45deg);
}
.position-fixed {
  position: fixed;
}
.position-absolute {
  position: absolute;
}
.loader-container {
  position: fixed;
  top: 50%;
  left: 200px;
}
.load-more-btn-container {
  text-align: center;
  padding-bottom: 7rem;
}
.msg-button-container {
  button {
    white-space: normal;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50%;
    color: #ffcc00;
    background-color: #0d1c31;
  }
}
.loader-box {
  border: 4px solid @primary_color;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
}

.loader-bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: @width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: @width;
    height: @height;
    border-radius: 50%;
    background-color: @primary_color;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: @bounce_height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: @height;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

.board-action-button {
  background-color: #ffffff;
  margin-right: 8px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 5px;
  border: 1px solid #cbcad0;

  cursor: pointer;
  .board-action-button-text {
    font-size: 14px;
    padding-left: 8px;
    font-weight: bold;
    color: #999999;
  }
  &:hover{
    background-color: #FFC40D;
    border-color: #000000;
    .board-action-button-text {
      color: #000000;
    }
  }
}
@media screen and (max-width: 991px) {
  .load-more-btn-container {
    padding-bottom: 0;
  }
  .top-position-60 {
    top: 60px;
  }
  .padding-top-30 {
    padding-top: 30px !important;
  }
  .loader-container {
    top: 70%;
    left: 420px;
  }
}

@media screen and (max-width: 767px) {
  .loader-container {
    top: 60%;
    left: 200px;
  }
}