.parent-wrapper {
    height: 90vh;
    border: 1px solid black;
  }
  
  .parent {
    display: flex;
    font-size: 0;
    flex-wrap: wrap;
    margin: -10px 0 0 -10px;
  }
  
  .child1 {
    display: inline-block;
    // background: blue;
    margin: 10px 0 0 10px;
    flex-grow: 1;
    height: 90vh;
    width: 10%;
  }
  
  .child2 {
    display: inline-block;
    // background: blue;
    margin: 10px 0 0 10px;
    flex-grow: 1;
    height: 90vh;
    width: 20%;
  }
  
  .child3 {
    display: inline-block;
    // background: blue;
    margin: 10px 0 0 10px;
    flex-grow: 1;
    height: 90vh;
    width: 65%;
  }
  