<div class="flex justify-between items-center white mh3">
  <p>© 2020 LazySuzy</p>
  <div class="w-25 mv1 tr">
    <div class="mv1 db">
      Connect with Us
      <a
        target="_blank"
        class="link white"
        href="//www.facebook.com/shoplazysuzy"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
    <div class="flex fr">
      
      <a class="link white" [routerLink]="['/privacypolicy']"
        >Privacy Policy
      </a>
      <span>&nbsp; | &nbsp;</span>
      <a class="link white" [routerLink]="['/termsofservice']"
        >Terms of Service</a
      >
    </div>
    <span>&nbsp; | &nbsp;</span>
      <a class="link white" [routerLink]="['/blog']"
        >Blog
      </a>
  </div>
  <!-- <div class="w-25 flex justify-around">
        
    </div> -->
</div>
