.left-link {
  color: #d6d6d6;
  text-decoration: none;
}

.white-link {
  text-decoration: none;

  &:hover {
    color: #ffcc00;
  }

  i {
    font-size: 24px;
    height: 24px;
    width: 24px;
    ;
  }
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}
.mr10p{
  margin-right: 10%;
}
.logo{
  width: 110px;
}