<div class="flex justify-between white mh3 mt113 mb56" style="padding: 0 5%;">
    <div class="flex flex-column">
        <div class="flex justify-between mb56">
            <div class="flex flex-column mr5">
                <span class="mb5">About Us</span>
                <div class="mb2">
                    <a class="link white white-link" [routerLink]="['/aboutus']">
                        Our Story
                    </a>
                </div>
                <div class="mb2">
                    <a class="link white white-link" [routerLink]="['/blog']">
                        Home Musings
                    </a>
                </div>
                <div class="mb2">
                    <a class="link white white-link" target="_blank" href="https://angel.co/company/lazy-suzy">
                        Careers
                    </a>
                </div>
            </div>
            <div class="flex flex-column mr5">
                <span class="mb5">Support</span>
                <div class="mb2">
                    <a class="link white white-link" [routerLink]="['/faq-order']">
                        FAQ - Ordering & Returns
                    </a>
                </div>
                <div class="mb2">
                    <a class="link white white-link" [routerLink]="['/furniture-care']">
                        Care & Maintenance Guide
                    </a>
                </div>
            </div>
            <div class="flex flex-column">
                <span class="mb5">Shop by Room</span>
                <ng-container *ngFor="let data of departments">
                    <div class="mb2">
                        <a class="link white white-link" href="{{data.link}}">
                            {{data.department}}
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="flex nowrap">
            <p class="left-link mr10p mv0">© 2020 LazySuzy</p>
            <a class="link left-link" [routerLink]="['/privacypolicy']"
            >Privacy Policy
            </a>
            <span>&nbsp; | &nbsp;</span>
            <a class="link left-link" [routerLink]="['/termsofservice']">
                Terms of Service
            </a>
        </div>
    </div>

    <div class="flex flex-column items-center">
        <div class="flex w-100 justify-between">
            <div>
                <a class="white white-link" href="mailto:hello@lazysuzy.com">
                    <mat-icon aria-hidden="false">email</mat-icon>
                </a>
            </div>
            <div>
                <a
                        target="_blank"
                        class="link white white-link"
                        href="//www.facebook.com/shoplazysuzy"
                >
                    <mat-icon aria-hidden="false">facebook</mat-icon>
                </a>
            </div>
            <div>
                <a
                        target="_blank"
                        class="link white white-link"
                        href="//www.instagram.com/shoplazysuzy/"
                >
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div>
            <img class="logo" [src]="logopath">
        </div>
    </div>

    <!-- <div class="w-25 flex justify-around">

      </div> -->
</div>
