<div class="flex justify-between white mh3 mv2" style="padding: 0 5%;">
    <div class="flex flex-column">
        <div class="flex justify-between mv2">
            <div class="flex flex-column">
                <div class="mb2">
                    <a class="link white white-link" [routerLink]="['/aboutus']">
                        About Us
                    </a>
                </div>
                <div class="mb2">
                    <a class="link white white-link" [routerLink]="['/blog']">
                        Home Musings
                    </a>
                </div>
            </div>
            <div class="flex flex-column">
                <div class="mb2">
                    <a class="link white white-link" [routerLink]="['/faq-order']">
                        FAQ - Ordering & Returns
                    </a>
                </div>
                <div class="mb2">
                    <a class="link white white-link" [routerLink]="['/furniture-care']">
                        Care & Maintenance Guide
                    </a>
                </div>
            </div>
        </div>

        <div class="flex nowrap" >
            <p class="left-link mr10p mv0">© 2020 LazySuzy</p>
            <a class="link left-link" [routerLink]="['/privacypolicy']"
            >Privacy Policy
            </a>
            <span>&nbsp; | &nbsp;</span>
            <a class="link left-link" [routerLink]="['/termsofservice']">
                Terms of Service
            </a>
        </div>
    </div>

    <div class="flex flex-column items-center mt2">
        <div class="flex w-100 justify-between">
            <div >
                <a class="white white-link" href="mailto:hello@lazysuzy.com">
                    <mat-icon aria-hidden="false">email</mat-icon>
                </a>
            </div>
            <div>
                <a
                        target="_blank"
                        class="link white white-link"
                        href="//www.facebook.com/shoplazysuzy"
                >
                    <mat-icon aria-hidden="false">facebook</mat-icon>
                </a>
            </div>
            <div>
                <a
                        target="_blank"
                        class="link white white-link"
                        href="//www.instagram.com/shoplazysuzy/"
                >
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div>
            <img class="logo" [src]="logopath">
        </div>
    </div>

    <!-- <div class="w-25 flex justify-around">

      </div> -->
</div>
