<div id="board" class="tab active">
  <div class="catalog-content mr-4">
    <h5 class="title mt-3 mb-3">Your Board List</h5>
    <div
      class="catalog-item mb-3"
      *ngFor="let product of boardProducts; let index = index"
    >
      <div class="product-tag icon">{{ index + 1 }}</div>
      <div class="w-100">
        <div class="row">
          <div class="col-8 pr-0">
            <div class="product-name">{{ product.name }}</div>
            <div class="subtle">{{ product.brand }}</div>
          </div>
          <div class="col-4 price-container" *ngIf="product.price">
            <div class="flex justify-content-end">
              <div
                class="{{
                  product.was_price && product.price !== product.was_price
                    ? 'is_price'
                    : 'price'
                }}"
              >
                {{ updatePriceFormat(product.price, false) }}
              </div>
              <div
                class="{{
                  product.was_price && product.price !== product.was_price
                    ? 'is_price'
                    : 'price'
                }}"
              >
                {{ updatePriceFormat(product.price, true) }}
              </div>
            </div>
            <div
              class="flex justify-content-end strike"
              *ngIf="product.price !== product.was_price"
            >
              <div class="price">
                {{ updatePriceFormat(product.was_price, false) }}
              </div>
              <div class="price">
                {{ updatePriceFormat(product.was_price, true) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
