.upload-container {
  border: dotted 3px #d6d6d6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #f2f4f3;
  border-radius: 7px;
  color: #0d1c31;
  font-size: 14px;
  font-family: 'Lato';
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.cloud-icon {
  margin: -10px 0;
  font-size: 44px;
  color: #b76e79;
}

.add-file-upload-container {
  padding-left: 5px;
  padding-right: 5px;
}
