<div class="flex flex-wrap top-deals">
  <div class="{{ isHandset ? 'w-100' : 'w-10-ns' }} top-deals-heading">
    <h2 class="title-top-deals">top deals</h2>
    <button type="button" class="btn btn-sm btn-dark" (click)="seeAll()">
      see all
    </button>
  </div>

  <div class="{{ isHandset ? 'w-100' : 'w-90-ns' }}">
    <div *ngIf="!topDeals">
      <img
        src="../../../../assets/images/three-dots.svg"
        width="60"
        height="46"
        alt=""
      />
    </div>
    <div *ngIf="topDeals">
      <p-carousel
        *ngIf="!isHandset"
        class="top-deal-slider"
        [value]="topDeals"
        [numVisible]="4"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-data pTemplate="item">
          <div class="product">
            <a (click)="openDialog(data.sku)">
              <img
                class="product_image"
                src="{{ data.main_image }}"
                alt="Owl Image"
              />
            </a>
            <div class="product_detail">
              <span class="product_brand">{{ data.site }}</span>
              <br />
              <span class="product_name">{{ data.name }}</span>
              <br />
              <span
                *ngIf="data.is_price == data.was_price"
                class="current-price"
                >${{ data.is_price }}</span
              >
              <span
                *ngIf="!(data.is_price == data.was_price)"
                class="current-price"
                >${{ data.is_price }} &nbsp;
                <s class="old-price"> ${{ data.was_price }}</s></span
              >
            </div>
          </div>
        </ng-template>
      </p-carousel>
      <div *ngIf="isHandset">
        <app-products-carousal
          [data]="topDeals"
          (updates)="handleEvtProductCarousal($event)"
        ></app-products-carousal>
      </div>
    </div>
  </div>
</div>
