@button-backgroud: white;
@button-color: #b76e79;
@brand-old: #898989;
@heading-color: #0c1c31;

.top-deals {
  padding-top: 10%;
}

.top-deals-heading {
  margin-top: 5%;
  text-align: left;
}

.btn {
  color: @button-color;
  background: @button-backgroud;
  font-size: 18px;
  border: none;
}

.product_detail {
  text-align: left;
  margin-top: 3%;
}

.product {
  padding-right: 2%;
  padding-top: 2%;
}

.product_detail {
  margin-left: 2%;
}

.product_name {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: @heading-color;
  font-weight: 600;
}

.title-top-deals {
  font-weight: 700;
  color: @heading-color;
}

.current-price {
  color: @button-color;
  font-size: 15px;
  font-weight: 600;
}

.old-price,
.product_brand {
  color: @brand-old;
  font-size: 15px;
}

@media only screen and (max-width: 876px) {
  .top-deals-heading {
    padding: 0;
  }

  .title-top-deals {
    font-size: 25px;
    font-weight: 700;
    float: left;
    padding-left: 0%;
  }

  .btn {
    font-size: 16px;
    background: @button-backgroud;
    border: none;
    color: @button-color;
    float: right;
  }

  .product {
    padding-right: 0%;
  }

  .product_detail {
    margin-left: 2%;
  }

  .product_name {
    font-size: 16px;
    font-weight: 600;
  }

  .body .ui-helper-reset {
    visibility: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .title-top-deals {
    padding-left: 3%;
  }
  .top-deals-heading {
    padding: 0 15px;
  }
  .btn {
    font-size: 22px;
    padding-right: 5%;
  }
}

.banner {
  margin-top: 40px;
  width: 80%;
  margin: 20px auto;
}

.bannerCarousel {
  padding-top: 3%;
}

.bannerCarousel .ui-button {
  margin: 0 !important;
}

@media (max-width: 767px) {
  .bannerCarousel .ui-button {
    font-size: 6px !important;
  }
}

:host {
  ::ng-deep 
  
  .ui-carousel-prev{
    display: none !important;
    }
}

:host {
  ::ng-deep 
  
  .ui-carousel-next{
    display: none !important;
    }
}

