<div class="review-container" *ngIf="!isPageLoading">
    <div class="flex mb2">
        <img (click)="openProductPage()" class="review-image" [src]="product?.main_image">
        <div class="ml2 flex flex-column">
            <span class="open-sans-14 dark-blue upper-case">{{product?.name}}</span>
            <span class="open-sans-14 light-gray">by {{product?.site}}</span>
        </div>
    </div>
    <div class="flex justify-between items-center mb2">
        <div class="flex items-center">
            <div class="star-rating-outer yellow mr-auto">
                <div [style.width.%]="(reviewData?.totalRatings)" class="star-rating-inner">
                </div>
            </div>
            <span class="open-sans-14 dark-blue">&nbsp;{{renderPercentage(reviewData?.totalRatings)}}
                out of 5</span>
        </div>
        <span class="open-sans-14 light-gray">{{reviewData?.totalReviews}} total ratings</span>
    </div>
    <div class="flex mb2">
        <a class="w-100 bold open-sans-12 add-review-btn" (click)="goToReview(product?.sku)">
            Write a review
            <span style="float: right">
                                    <mat-icon style="vertical-align: middle;font-size: 18px;height: 20px;width: 20px">
                                    chevron_right
                                    </mat-icon>
                                </span>
        </a>
    </div>
    <span class="open-sans-14 light-gray upper-case bold db mb2">Review</span>
    <div class="w-100 mb2">
        <select class="custom-select" (change)="changeReview($event)">
            <option value="">MOST RECENT</option>
            <option value="rating_high_to_low">HIGHEST RATED</option>
            <option value="rating_low_to_high">LOWEST RATED</option>
        </select>
    </div>

    <div class="flex flex-column"
         infinite-scroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollUpDistance]="scrollUpDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown()"
    >
        <ng-container *ngFor="let review of reviews;let i = index">
            <app-review-mobile [review]="review" [galleryId]="'review'+i"></app-review-mobile>
        </ng-container>
    </div>
</div>

<img *ngIf="isReviewFetching || isPageLoading" [src]="spinner" class="loader"/>