.flash-sales-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  text-align: left;
  background: #000000;
  margin-bottom: 100px;
}

.deals-heading {
  text-align: left;
  font-size: 40px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

.product-image {
  // width: 18rem;
}

.product {
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  //  border: 1px solid lightgrey;
  width: calc(100%/6);
  padding: 2% 1%;
  background: #ffffff;
  border-radius: 5px;
  margin: 0.5rem 0;
}

.product-container {
  //justify-content: center;
}


