<div class="board-list-container container">
  <div class="welcome-msg-container">
    <ng-container *ngIf="user.name; else guest">
      <div class="welcome-msg-block">
        <span class="welcome-msg">WELCOME </span>
        <span class="welcome-msg">&nbsp;BACK</span>,
        <span class="welcome-msg">{{ user.first_name | uppercase }}</span>
        <span class="welcome-msg">!</span>
      </div>
    </ng-container>
    <ng-template #guest>
      <div class="flex items-center justify-between signup-message">
        <span>Sign up or Login to save your Boards to your account</span>
        <button class="btn" (click)="openSignupDialog()">SIGN UP</button>
      </div>
    </ng-template>
  </div>
  <div class="board-list-header">
    <h5 class="title">YOUR BOARDS</h5>
  </div>
  <app-board-loader *ngIf="isFetching"></app-board-loader>
  <div class="row" id="board-list" *ngIf="!isFetching">
    <div class="col-sm-4 mb-sm-4">
      <div class="board-card box-shadow-0">
        <div class="canvas-preview mb-4">
          <div class="add-board" (click)="add()">
            <div class="add-board-icon">
              <i
                class="mdi mdi-plus-box-outline js-open-config cursor-pointer"
                aria-hidden="true"
              ></i>
            </div>
            <div>
              Start new design
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngFor="let board of boards; index as i"
      class="col-sm-4 mb-sm-4 {{ board.type_privacy === 0 ? '' : 'dn' }}"
    >
      <div class="board-card">
        <div class="canvas-preview">
          <img
            width="100%"
            class="edit-board"
            [src]="getPreviewImagePath(board)"
          />
          <div class="overlay"></div>
          <div class="board-card-icons">
            <span
              data-title="Edit"
              routerLink="../{{ boardViewLink }}/{{ board.uuid }}"
            >
              <i class="mdi mdi-pencil" aria-hidden="true"></i>
            </span>
            <span data-title="Delete" (click)="delete(board)">
              <i class="mdi mdi-delete" aria-hidden="true"></i>
            </span>
            <span data-title="Share" (click)="share(board)" data-action="share">
              <i class="mdi mdi-share-variant" aria-hidden="true"></i>
            </span>
            <span
              data-title="Duplicate"
              data-action="duplicate"
              (click)="add(board)"
            >
              <i class="mdi mdi-content-copy" aria-hidden="true"></i>
            </span>
            <span
              data-title="Shop"
              routerLink="../{{ boardPreviewLink }}/{{ board.uuid }}"
            >
              <i class="mdi mdi-cart" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="preview-title">
          {{ board.title }}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isAnyPublished" class="board-list-header">
    <h5 class="title">YOUR PUBLISHED BOARDS</h5>
  </div>
  <div class="row">
    <div
      *ngFor="let board of boards; index as i"
      class="col-sm-4 mb-sm-4 {{ board.type_privacy === 1 ? '' : 'dn' }}"
    >
      <div class="board-card">
        <div class="canvas-preview">
          <img
            width="100%"
            class="edit-board"
            [src]="getPreviewImagePath(board)"
          />
          <div class="overlay"></div>
          <div class="board-card-icons">
            <span
              data-title="Edit"
              routerLink="../{{ boardViewLink }}/{{ board.uuid }}"
            >
              <i class="mdi mdi-pencil" aria-hidden="true"></i>
            </span>
            <span data-title="Delete" (click)="delete(board)">
              <i class="mdi mdi-delete" aria-hidden="true"></i>
            </span>
            <span data-title="Share" (click)="share(board)" data-action="share">
              <i class="mdi mdi-share-variant" aria-hidden="true"></i>
            </span>
            <span
              data-title="Duplicate"
              data-action="duplicate"
              (click)="add(board)"
            >
              <i class="mdi mdi-content-copy" aria-hidden="true"></i>
            </span>
            <span
              data-title="Shop"
              routerLink="../{{ boardPreviewLink }}/{{ board.uuid }}"
            >
              <i class="mdi mdi-cart" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="preview-title">
          {{ board.title }}
        </div>
      </div>
    </div>
  </div>
</div>
