<div class="browse-header">
    <div class="item-search-bar">
        <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Search">
            <div class="input-group-append">
                <div class="input-group-text icon">
                    <i class="mdi mdi-magnify" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="browse-title">
        <i class="mdi mdi-chevron-left" aria-hidden="true"></i>
        <h5 class="title js-category-title">
            Sofas
        </h5>
    </div>
    <div class="browse-filter">
        <div class="filter-bar-container">
            <div class="filter-bar js-filter-section" id="desktop-filter">
                <div class="tabs">

                    <p-overlayPanel [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'200ms'" [dismissable]="false" [showCloseIcon]="true" #op1 [appendTo]="'body'">
                        <ng-template pTemplate>
                            <app-browse-filter></app-browse-filter>
                        </ng-template>
                    </p-overlayPanel>
                    
                    <button type="text" pButton class="btn btn-primary" label="Custom Target"
                        (click)="op1.show($event, actualTarget1)">Filters</button>
                    <div #actualTarget1></div>                    

                </div>
            </div>
        </div>
        <div class="clear-all d-none d-md-block">Clear All</div>
    </div>
</div>

<app-loader *ngIf="showLoader"></app-loader>

<div class="products">
    <div class="flex-grid">
        <div class="flex-grid-item" *ngFor="let product of products">
            <div class="product-image" type="default">
                <img src={{product.main_image}} />
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn red-button js-load-more">
            Load more
        </button>
    </div>
</div>
