<form [formGroup]="step">
  <ng-template matStepLabel>Add Image</ng-template>
  <mat-form-field>
    <input
      matInput
      placeholder="Product Title"
      formControlName="productTitle"
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Price" formControlName="price"  />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Product Listing Url"
      formControlName="productListingUrl"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Additional Tags"
      formControlName="additionalTags"
    />
  </mat-form-field>
  <mat-checkbox color="primary" matInput formControlName="keepPrivate">
    Keep Private
  </mat-checkbox>
</form>

<button mat-button (click)="cancelAddImgViaUrl()">Cancel</button>
<button mat-button [disabled]="!step.valid" (click)="saveAddViaUrl()">
  Add
</button>
