<div class="flex flex-column offer-list">
    <div>
        <mat-icon (click)="close();">close</mat-icon>
    </div>
    <div class="pa3">
        <span class="offer-list-header">Sale & Offers</span>
        <div>
            <div class="flex flex-column offer-list-item">
                <span class="offer-name">Upto 25% Off Today</span>
                <span class="offer-end">Ends Today</span>
            </div>
            <div class="flex flex-column offer-list-item">
                <span class="offer-name">Upto 25% Off Today</span>
                <span class="offer-end">Ends Today</span>
            </div>
            <div class="flex flex-column offer-list-item">
                <span class="offer-name">Upto 25% Off Today</span>
                <span class="offer-end">Ends Today</span>
            </div>
            <div class="flex flex-column offer-list-item">
                <span class="offer-name">Upto 25% Off Today</span>
                <span class="offer-end">Ends Today</span>
            </div>
        </div>
    </div>

</div>
