<ng-container *ngIf="!isProductFetching">
  <div class="product-details-container">
    <button class="close-icon" mat-dialog-close>
      <mat-icon>close </mat-icon>
    </button>
    <div class="fl w-50">
      <div class="flex flex-column gallery-container" #gallery>
        <img
          *ngFor="let image of items; index as i"
          [src]="image.data.src"
          (click)="openLightbox(i)"
          class="br2"
        />
      </div>
    </div>
    <div class="fl w-50 pa3 product-details-container">
      <div #topContainer>
        <div class="flex w-100 justify-between items-end">
          <span class="mb1">{{ product.site }}</span>
          <div *ngIf="product.wishlisted; else elseBlock">
            <div class="tile-icon wishlist-icon wishlist-container">
              <mat-icon (click)="wishlistProduct(product.sku, false)"
                >favorite
              </mat-icon>
              <span>Saved</span>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="tile-icon wishlist-icon wishlist-container">
              <mat-icon (click)="wishlistProduct(product.sku, true)"
                >favorite_border </mat-icon
              ><span> Save</span>
            </div>
          </ng-template>
        </div>
        <h3>{{ product.name }}</h3>

        <div class="price-container">
          <div class="w-60 price-font">
            <span class="product-price mr3">${{ productPrice }}</span>
            <span
              class="strike {{ productPrice !== productWasPrice ? '' : 'dn' }}"
              >${{ productWasPrice }}</span
            >
          </div>
          <div class="w-40">
            <button
              mat-raised-button
              class="bg-red view-details-btn"
              *ngIf="
                !(
                  product.in_inventory &&
                  product.inventory_product_details.count > 0
                ) && !product.redirect
              "
            >
              <a
                (click)="openLink($event, product.product_url)"
                [href]="product.product_url"
                class="tr-viewDetails no-underline"
              >
                View Details
              </a>
            </button>

            <select
              [(ngModel)]="quantity"
              class="quantity-selector w-30 ml2"
              *ngIf="
                product.in_inventory &&
                product.inventory_product_details.count > 0
              "
            >
              <option *ngFor="let item of quantityArray" [value]="item.value">{{
                item.value
              }}</option>
            </select>

            <button
              mat-raised-button
              class="bg-red view-details-btn"
              *ngIf="
                product.in_inventory &&
                product.inventory_product_details.count > 0
              "
            >
              <a (click)="openCartModal()" class="tr-addToCart no-underline">
                Add to Cart
              </a>
            </button>
          </div>
        </div>
        <ng-container *ngIf="product.redirect; else allConditions">
          <hr
            class="modal-hr mt-3"
            *ngIf="product.set && product.set.length > 0"
          />
        </ng-container>
        <ng-template #allConditions>
          <hr
            class="modal-hr mt-3"
            *ngIf="isVariationExist || (product.set && product.set.length > 0)"
          />
        </ng-template>
      </div>

      <div class="product-description-container" [ngStyle]="topHeight">
        <div *ngIf="!isSetItemInInventory">
          <app-redirect
            *ngIf="
              product.redirect &&
              !(
                product.in_inventory &&
                product.inventory_product_details.count > 0
              )
            "
            [redirectUrl]="product.redirect_url"
            [redirectDetails]="product.redirect_details"
            [category]="product.department_info[0].category_name"
            [categoryUrl]="product.department_info[0].category_url"
            [isHandset]="false"
          >
          </app-redirect>
        </div>
        <app-variations
          *ngIf="isVariationExist && !product.redirect"
          [variations]="product.variations"
          [isSwatchExist]="isSwatchExist"
          [inputSelections]="product.selections"
          (setPrice)="onSetPrice($event)"
          (setImage)="onSetImage($event)"
        ></app-variations>
        <app-sets
          *ngIf="product.set && product.set.length > 0"
          [sets]="product.set"
          [brand]="product.site"
        ></app-sets>
        <hr class="modal-hr mt-3" />
        <div class="mb2 pt-1" *ngIf="descriptionExist">
          <span class="title">Overview</span>
          <div class="mt1" [innerHTML]="description"></div>
        </div>
        <div *ngIf="featuresExist" class="mb2">
          <hr class="modal-hr" />
          <span class="title">Feature</span>
          <div class="mt1">
            <div [innerHTML]="features"></div>
          </div>
        </div>

        <div *ngIf="dimensionExist" class="mb2">
          <hr class="modal-hr" />
          <span class="title">Dimension</span>
          <div
            class="mt1 pb1 flex flex-wrap"
            *ngIf="isArray(product.dimension); else showDimensions"
          >
            <div
              *ngFor="let dimension of product.dimension"
              class="fl w-50 pa2"
            >
              <div class="dimension-title">{{ dimension.description }}</div>
              <div *ngIf="dimension.width > 0">
                Width: {{ dimension.width }}
              </div>
              <div *ngIf="dimension.depth > 0">
                Depth: {{ dimension.depth }}
              </div>
              <div *ngIf="dimension.height > 0">
                Height: {{ dimension.height }}
              </div>
              <br />
            </div>
          </div>
          <ng-template #showDimensions>
            <div class="pb1">
              {{ product.dimension }}
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<img
  *ngIf="isProductFetching; else showDetails"
  [src]="spinner"
  class="loader"
/>
