<ngx-json-ld [json]="schema"></ngx-json-ld>
<ng-container *ngIf="!isProductFetching">
    <div *ngIf="product || !invalidLink; else invalidProduct">
        <div class="product-details-container">
            <button class="close-icon" mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
            <div class="fl w-50">
                <div class="flex flex-column gallery-container" #gallery>
                    <img *ngFor="let image of items; index as i" [src]="image.data.src" (click)="openLightbox(i)"
                         class="br2"/>
                </div>
            </div>
            <div class="fl w-50 pa3 product-details-container">
                <div #topContainer>
                    <div class="flex flex-column">
                        <span class="mb1 lato font-16">{{ product.site }}</span>
                        <span class="open-sans font-18 mb1">{{ product.name }}</span>
                        <div class="price-container mb2">
                            <div class="price-font mb2" style="margin-left:-0.5rem;">
                                <div class="flex justify-between">
                                    <span class="product-price ml2 open-sans font-18"
                                          [ngClass]="{'sale':hasValidWasPrice,'product-price':!hasValidWasPrice}">
                                {{ renderPrice(productPrice) }}
                                        <span
                                                class="ml2 product-price strike open-sans font-16 {{hasValidWasPrice ? '' : 'dn' }}">
                                    {{renderPrice(productWasPrice) }}
                                    </span>
                                </span>
                                    <div *ngIf="product.reviews != null && product.reviews != 0"
                                         class="rating-container">
                                        <div class="rating pr2">
                                            <mat-icon *ngFor="let icon of starIcons" class="yellow">
                                                {{ icon }}
                                            </mat-icon>
                                            <span class="total-ratings">{{ product.reviews }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-column"
                                 *ngIf="!product.redirect || utils.hasInventory(activeProduct)">
                                <div class="flex">
                                    <button (click)="openLink($event, product.product_url)" mat-raised-button
                                            class="bg-red w-90 view-details-btn"
                                            *ngIf="!utils.hasInventory(activeProduct) && !product.redirect && product.product_url">
                                        <a [href]="product.product_url"
                                           class="tr-viewDetails no-underline">
                                            VIEW DETAILS
                                        </a>
                                    </button>
                                    <div class="w-20 pr3" id="newSelect" *ngIf="utils.hasInventory(activeProduct)">
                                        <select [(ngModel)]="quantity" class="quantity-selector mr2"
                                        >
                                            <option *ngFor="let i of quantityLimit(activeProduct.inventory_product_details.count)"
                                                    [value]="i">{{ i }}</option>
                                        </select>
                                    </div>

                                    <button (click)="openCartModal()" mat-raised-button
                                            class=" mb1 bg-red w-90 view-details-btn"
                                            *ngIf="utils.hasInventory(activeProduct)">
                                        <a class="tr-addToCart no-underline">
                                            ADD TO BAG
                                        </a>
                                    </button>
                                    <div *ngIf="product.wishlisted; else elseBlock">
                                        <div class="tile-icon wishlist-icon wishlist-container"
                                             (click)="wishlistProduct(product.sku, false)">
                                            <mat-icon style="font-size: 28px">favorite
                                            </mat-icon>
                                        </div>

                                    </div>
                                    <ng-template #elseBlock>
                                        <div class="tile-icon wishlist-icon wishlist-container">
                                            <mat-icon style="font-size: 28px"
                                                      (click)="wishlistProduct(product.sku, true)">favorite_border
                                            </mat-icon>
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="errorMessage !== ''" class="invalid-feedback">
                                    <div>{{ errorMessage }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="price-container-tabs mt1">
                            <div class="price-font" style="margin-left:-0.5rem;">
                            <span class="product-price ml2 open-sans font-18"
                                  [ngClass]="{'sale':hasValidWasPrice,'product-price':!hasValidWasPrice}">
                                {{ renderPrice(productPrice) }} &nbsp;
                                <span class="product-price strike open-sans font-16 {{hasValidWasPrice ? '' : 'dn' }}">
                                   {{ renderPrice(productWasPrice) }}
                                </span>
                            </span>
                            </div>
                            <div class="flex" *ngIf="!product.redirect || utils.hasInventory(activeProduct)">
                                <button mat-raised-button class="bg-red view-details-btn"
                                        *ngIf="!utils.hasInventory(activeProduct) && !product.redirect">
                                    <a (click)="openLink($event, product.product_url)" [href]="product.product_url"
                                       class="tr-viewDetails no-underline">
                                        VIEW DETAILS
                                    </a>
                                </button>

                                <select [(ngModel)]="quantity" class="quantity-selector mr2"
                                        *ngIf="utils.hasInventory(activeProduct)">
                                    <option *ngFor="let i of quantityLimit(activeProduct.inventory_product_details.count)"
                                            [value]="i">{{ i }}</option>
                                </select>

                                <button mat-raised-button class="bg-red view-details-btn"
                                        *ngIf="utils.hasInventory(activeProduct)">
                                    <a (click)="openCartModal()" class="tr-addToCart no-underline">
                                        ADD TO BAG
                                    </a>
                                </button>
                                <div *ngIf="errorMessage !== ''" class="invalid-feedback">
                                    <div>{{ errorMessage }}</div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!isSetItemInInventory">
                            <app-redirect *ngIf="product.redirect && !utils.hasInventory(activeProduct)"
                                          [isWishlisted]="product.wishlisted"
                                          [isHandset]="false"
                                          (wishlist)="wishlistProduct(product.sku,true)"

                            >
                            </app-redirect>
                        </div>
                        <div class="stock-info" *ngIf="utils.hasInventory(activeProduct) &&
                        (activeProduct.inventory_product_details.is_low || activeProduct.inventory_product_details.message)">
                            <div class="flex">
                            <span>
                                <mat-icon class="info-icon">info</mat-icon>
                            </span>
                                <div class="stock-msg" *ngIf="activeProduct.inventory_product_details.is_low">
                                    Only {{ activeProduct.inventory_product_details.count > 10 ? '10' : activeProduct.inventory_product_details.count }}
                                    left in stock.
                                </div>
                            </div>
                            <div class="shipping-msg">
                                {{ activeProduct.inventory_product_details.message }}
                            </div>
                        </div>
                        <div class="ship-status mb1 flex" *ngIf="product.online_msg">
                            <span class="ship-status-label">Status:</span>
                            <span class="ship-status-details ml1">
                                <mat-icon
                                        [ngStyle]="{'color':product.is_back_order ?'#FFCC00':'#54AD32'}">lens</mat-icon>
                                {{product.online_msg}}</span>
                        </div>
                        <div class="ship-info mb1 flex"
                             *ngIf="product.inventory_product_details?.shipping_desc || utils.hasInventory(activeProduct)">
                            <span class="shipping-label">Shipping: &nbsp;</span>
                            <span class="shipping-details">{{utils.getShippingDesc(product)}}</span>
                        </div>
                    </div>

                    <ng-container *ngIf="product.redirect; else allConditions">
                        <hr class="modal-hr mt3" *ngIf="product.set && product.set.length > 0"/>
                    </ng-container>
                    <ng-template #allConditions>
                        <hr class="modal-hr mt3"
                            *ngIf="(isVariationExist && product.variations.length>1) || (product.set && product.set.length > 0)"/>
                    </ng-template>
                </div>
                <div class="product-description-container" [ngStyle]="topHeight">

                    <app-variations
                            *ngIf="isVariationExist && !product.redirect && product.variations?.length>1"
                            [variations]="product.variations"
                            [isSwatchExist]="isSwatchExist"
                            [inputSelections]="product.selections"
                            [hasSelection]="hasSelection"
                            (setPrice)="onSetPrice($event)"
                            (setImage)="onSetImage($event)"
                            (setSelectionChecked)="onSetSelectionChecked($event)"
                            (clearSelection)="onClearSelection($event)"
                            (setSelection)="onSetSelection($event)">
                    </app-variations>
                    <app-sets *ngIf="product.set && product.set.length > 0" [sets]="product.set" [brand]="product.site">
                    </app-sets>
                    <hr class="modal-hr mt-3"/>
                    <div class="mb2 pt-1" *ngIf="descriptionExist">
                        <span class="title">Overview</span>
                        <div class="mt1" [innerHTML]="description"></div>
                    </div>
                    <div *ngIf="featuresExist" class="mb2">
                        <hr class="modal-hr"/>
                        <span class="title">Features</span>
                        <div class="mt1">
                            <div [innerHTML]="features"></div>
                        </div>
                    </div>

                    <div *ngIf="dimensionExist" class="mb2">
                        <hr class="modal-hr"/>
                        <span class="title">Dimensions</span>
                        <div class="mt1 pb1 flex flex-wrap">
                            <div *ngFor="let key of product.dimension" class="fl pa2"
                                 [ngClass]="{'w-100':this.isSingleDimension,'w-50':!this.isSingleDimension}">
                                <ng-container *ngIf="!this.isSingleDimension">
                                    <div class="dimension-header upper-case bold mb1">{{ key.groupName }}</div>
                                </ng-container>
                                <div class="flex flex-wrap"
                                >
                                    <ng-container *ngFor="let dimension of key.groupValue">
                                        <div [ngClass]="{'w-100':!this.isSingleDimension,'w-50':this.isSingleDimension}">
                                            <div class="dimension-title mt2">{{ dimension.name }}</div>
                                            <ng-container *ngIf="dimension.value.NULL">
                                                <span class="dimensions-details">{{dimension.value.NULL}}</span>
                                            </ng-container>
                                            <div class="dimensions-details" *ngIf="dimension.value.width">
                                                Width: {{ dimension.value.width }}"
                                            </div>
                                            <div class="dimensions-details" *ngIf="dimension.value.depth">
                                                Depth: {{ dimension.value.depth }}"
                                            </div>
                                            <div class="dimensions-details" *ngIf="dimension.value.height">
                                                Height: {{ dimension.value.height }}"
                                            </div>
                                            <div class="dimensions-details" *ngIf="dimension.value.length">
                                                Length: {{ dimension.value.length }}"
                                            </div>
                                            <div class="dimensions-details" *ngIf="dimension.value.diameter">
                                                Diameter: {{ dimension.value.diameter }}"
                                            </div>
                                            <div class="dimensions-details" *ngIf="dimension.value.weight">
                                                Weight: {{ dimension.value.weight }} lbs
                                            </div>
                                        </div>

                                    </ng-container>
                                </div>

                                <br/>
                            </div>
                        </div>
                        <ng-template #showDimensions>
                            <div class="pb1">
                                {{ product.dimension }}
                            </div>
                        </ng-template>
                    </div>

                    <!-- ***************************************  -->

                    <div *ngIf="assemblyExist" class="mb2">
                        <hr class="modal-hr"/>
                        <span class="title">ASSEMBLY</span>
                        <div class="mt1" [innerHTML]="assembly"></div>
                    </div>


                    <div *ngIf="careExist" class="mb2">
                        <hr class="modal-hr"/>
                        <span class="title">CARE</span>
                        <div class="mt1" [innerHTML]="care"></div>
                    </div>


                    <!-- ***************************************  -->


                    <div class="mb2" *ngIf="product.collections.length">
                        <hr class="modal-hr"/>
                        <span class="title">More in the Collection</span>
                        <div class="pt2">
                            <p-carousel
                                    [numVisible]="2"
                                    [numScroll]="1"
                                    [value]="product.collections"
                                    [circular]="false"
                                    [ngClass]="{
                                    'hide-nav-arrows':product.collections.length<3
                                    }"
                            >
                                <ng-template let-data pTemplate="item">
                                    <div class="" [ngClass]="{
                                    'carousel-single-item w-33':product.collections.length === 1,
                                    'carousel-item': product.collections.length > 1
                                    }" (click)="toCollectionProduct(data.sku)">
                                        <img [src]="'https://lazysuzy.com'+data.image"/>
                                        <span class="font-16 open-sans collection-product-name">{{data.name}}</span>
                                        <span class="font-14 open-sans" [ngClass]="{'sale':isDiscounted(data)}">
                                            {{renderPrice(data.price)}} &nbsp;
                                            <span *ngIf="isDiscounted(data)"
                                                  class="strike product-price font-14 open-sans">
                                                {{renderPrice(data.was_price)}}
                                            </span>
                                        </span>

                                    </div>
                                </ng-template>
                            </p-carousel>
                        </div>
                    </div>
                    <div class="mb2" *ngIf="recentProducts.length">
                        <hr class="modal-hr"/>
                        <span class="title">Recently Viewed</span>
                        <div class="pt2">
                            <p-carousel
                                    [numVisible]="2"
                                    [numScroll]="1"
                                    [value]="recentProducts"
                                    [circular]="false"
                                    [ngClass]="{
                                    'hide-nav-arrows':recentProducts.length<3
                                    }"
                            >
                                <ng-template let-data pTemplate="item">
                                    <div class="" [ngClass]="{
                                    'carousel-single-item w-33':recentProducts.length === 1,
                                    'carousel-item': recentProducts.length > 1
                                    }" (click)="toCollectionProduct(data.product_sku)">
                                        <img [src]="data.image"/>
                                        <span class="open-sans font-14 gray-color">{{data.brand_name}}</span>
                                        <span class="font-14 open-sans">{{data.product_name}}</span>
                                    </div>
                                </ng-template>
                            </p-carousel>
                        </div>
                    </div>
                    <div>
                        &nbsp;
                    </div>

                </div>
            </div>
        </div>
    </div>
    <ng-template #invalidProduct>
        <div class="tc">
            <img [src]="invalidLinkImageSrc" class="invalid-url-image"/>
        </div>
    </ng-template>
</ng-container>
<img *ngIf="isProductFetching; else showDetails" [src]="spinner" class="loader"/>
