<div class="flex w-100 justify-between items-end">
    <div class="flex items-end">
        <h1 class="mr4">{{ product.site }}</h1>
        <h2>{{ product.name }}</h2>
    </div>
    <div class="flex">
        <span class="dark-red mr3">${{ product.is_price }}</span>
        <span class="strike">${{ product.was_price }}</span>
    </div>
</div>
<div class="flex mb3">
    <div class="flex overflow-scroll h-50">
        <img *ngFor="let variation of product.variations" [src]="variation.image" [alt]="variation.name" class="w5">
    </div>
</div>

<div class="mb2">
    <span class="b">More Options</span>
    <div class="mt1">
        <img *ngFor="let variation of product.variations" [src]="variation.swatch_image" [alt]="variation.name"
            class="w2 mr1">
    </div>
</div>

<div class="mb2">
    <span class="b">Overview</span>
    <div class="mt1">There's a reason it's called Lounge. This extra-long sofa, part of our ultimate family room
        collection,
        features super-deep, low seats and super-soft back cushions that invite family to pile on and sink in. </div>
</div>

<div class="mb2">
    <span class="b">Feature</span>
    <div class="mt1">There's a reason it's called Lounge. This extra-long sofa, part of our ultimate family room
        collection,
        features super-deep, low seats and super-soft back cushions that invite family to pile on and sink in.
    </div>
</div>

<div class="mb2">
    <span class="b">Dimension</span>
    <div class="mt1">There's a reason it's called Lounge. This extra-long sofa, part of our ultimate family room
        collection,
        features super-deep, low seats and super-soft back cushions that invite family to pile on and sink in.
    </div>
</div>