<app-loader *ngIf="showLoader"></app-loader>

<div class="gray-bg" *ngIf="!showLoader">
    <div>

        <div class="left-panel">
            <div class="d-lg-none">
                <div class="toggle-icon">
                    <i class="mdi mdi-plus" aria-hidden="true"></i>
                </div>
            </div>

            <div class="mobile-filter">
                <div class="filter-header">
                    <div class="filter-title">
                        Filters
                    </div>
                    <div class="clear-all-btn">
                        Clear All
                        <i class="mdi mdi-arrow-up-bold filter-bar-arrow" aria-hidden="true"></i>
                    </div>
                    <div class="close-btn js-filter-close">
                        <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="filter-section" id="mobile-filter"></div>
            </div>

            <app-board-side-nav (updates)="handleBoardSideNavUpdates($event)"></app-board-side-nav>

            <app-mid-panel #midpanel [selectedItem]="selectedItem" (updates)="handleMidPanelUpdates($event)" (addProduct)="handleAddProduct($event)">
            </app-mid-panel>
             
        </div>


        <div class="main-content container-fluid">
            <div class="row">
                <div class="col-md-12 tool-bar-holder">
                    <app-toolbar></app-toolbar>
                    <div class="canvas-content">
                        <div class="d-flex">
                            <div class="canvas-title-bar">
                                <div class="canvas-icons">
                                    <!-- <a data-title="Edit Board Settings">
<i
class="mdi mdi-settings js-open-config"
aria-hidden="true"
></i>
</a> -->
                                </div>
                            </div>
                            <div class="w-38">
                                <input class="form-control board-title" placeholder="Board title"  />
                            </div>
                        </div>
                        <div class="canvas">
                            <div id="canvas-droparea">
                                <app-canvas id="canvas-area" class="main-content container-fluid" #canvas>
                                </app-canvas>
                            </div>
                        </div>
                        <div class="col-sm-2 col-5 state-icons d-lg-none">
                            <i class="mdi mdi-magnify-minus" onclick="zoomOut()" aria-hidden="true"></i>
                            <i class="mdi mdi-magnify-plus" onclick="zoomIn()" aria-hidden="true"></i>
                            <i class="mdi mdi-undo" onclick="undo()" aria-hidden="true"></i>
                            <i class="mdi mdi-redo" onclick="redo()" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <app-canvas class="main-content container-fluid" #canvas></app-canvas> -->

    </div>
</div>