.delivery-detail-container {
  background: #faebd5;

  .header {
    font-size: 24px;
    color: #0c1c31;
  }

  .delivery-detail {
    background: #FFFFFF;
    border-radius: 6px;
    max-width: 15rem;
  }

  .thick-hr {
    width: 100%;
    border-top: 4px solid #faebd5;
  }

  .shipping-type {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #3b4754;
  }

  .shipping-detail {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #3b4754;
  }

  .shipping-value {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 30px;
    color: #3b4754;
  }

  .shipping-value-details {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: #798da3;
  }
}

#handset {
  .delivery-detail {
    background: #FFFFFF;
    border-radius: 6px;
    max-width: 15rem;
    padding: 2rem;
  }
  .header {
    color: #0c1c31;
    font-size: 20px;
  }

  .shipping-type {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #3b4754;
  }

  .shipping-detail {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #3b4754;
  }

  .shipping-value {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 30px;
    color: #3b4754;
    font-weight: bolder;
  }

  .shipping-value-details {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #798da3;
  }
}