<div class="delivery-detail-container pa5">
    <h2>Easy Checkout: One Cart + Transparent Delivery Charges</h2>
    <div class="flex justify-around mt4 ph7">
        <div class=" delivery-detail flex flex-column">
            <h4 class="shipping-type">UPS/Fedex</h4>
            <p class="shipping-detail">Ground Delivery</p>
            <hr class="thick-hr">
            <span class="shipping-value">5 <sub>%</sub></span>
            <p class="shipping-value-details">of Item Value</p>
        </div>
        <div class=" delivery-detail flex flex-column">
            <h4 class="shipping-type">IN-HOME DELIVERY</h4>
            <p class="shipping-detail">Single Brand</p>
            <hr class="thick-hr">
            <span class="shipping-value"><sup>$</sup>99</span>
            <p class="shipping-value-details">/ order</p>
        </div>
        <div class=" delivery-detail flex flex-column">
            <h4 class="shipping-type">IN-HOME DELIVERY</h4>
            <p class="shipping-detail">Multiple Brands</p>
            <hr class="thick-hr">
            <span class="shipping-value"><sup>$</sup>149</span>
            <p class="shipping-value-details">/ order</p>
        </div>
    </div>
</div>