<div>
    <div>
        <div class="p-5 w-100">
            <div class="canvas-config pb-0">
                <div class="row">
                    <div class="col-12">
                        <!-- <h4 class="board-header">Board Configuration</h4> -->
                        <h5 class="title ml-2">Select Layout Style</h5>
                    </div>
                    <div class="col-6" (click)="handleSelection('board')">
                        <div class="canvas-style" [class.selected]="currentTab == 'board'">
                            <div class="canvas-layout"></div>
                            <h5>BOARD</h5>
                        </div>
                    </div>
                    <div class="col-6" (click)="handleSelection('room')">
                        <div class="canvas-style" [class.selected]="currentTab == 'room'">
                            <div class="canvas-layout canvas-layout-room"></div>
                            <h5>ROOM</h5>
                        </div>
                    </div>
                    <div *ngIf="showBoardPanel" class="col-12" id="board-options-modal">
                        <h5 class="title ml-2 mt-4">Select Canvas Color</h5>
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div *ngFor="let backgroundColor of backgroundColors" (click)="handleChange('color', backgroundColor)" [style.background-color]="backgroundColor" class="canvas-pallete-color col-2"></div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showRoomPanel" class="col-12 canvas-options" id="room-options-modal">
                        <h5 class="title ml-2 mt-4">Select Canvas Background</h5>
                        <div class="row justify-content-center canvas-pallete">
                            <div class="col-6">
                                <img *ngFor="let backgroundImage of backgroundImages" (click)="handleChange('background', backgroundImage)" [src]="backgroundImage" class="col-3" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-3">
                    <div class="col-6 text-right">
                        <button (click)="cancel()" class="btn btn-cancel js-close-publish-board">Cancel</button>
                    </div>
                    <div class="col-6">
                        <button (click)="save()" class="btn red-button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>