.board-modal {
  height: 90vh;
  position: relative;
  padding-top: 22px;
}
.canvas-layout-room {
  background-image: url('https://sotafoundations1.files.wordpress.com/2018/11/empty-room-source-file.jpg?w=600&h=424');
}
.board-options img {
  max-height: 45px;
}
.board-action-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 15px;
  margin-bottom: 38px;
  margin-left: -15px;
}
.font-size-10 {
  font-size: 10px;
}

@media screen and (max-width: 991px) {
  h5 {
    font-size: 14px;
  }
  .font-size-12 {
    font-size: 12px;
  }
  .board-options {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  .board-modal {
    height: 85vh;
    padding-top: 10px;
  }
  br {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
  .board-modal {
    height: 70vh;
    padding-top: 40px !important;
  }
  .board-action-buttons {
    margin-bottom: 50px;
  }
  .title {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .board-modal {
    height: 54vh;
  }
}