.board-modal {
    height: 90vh;
    position: relative;
    padding-top: 22px;
}
.board-action-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 15px;
    margin-bottom: 32px;
}
@media screen and (max-width: 991px) {
    h5 {
        font-size: 14px;
    }
    .font-size-10 {
        font-size: 12px;
    }
}