.lazy-story {
  margin: 0.6rem 0;
  display: block;
}

p {
  margin: 1rem 0;
}

a :hover {
  color: #ffffff;
}
.font-size-14{
  font-size: 14px;
}

.font-size-12{
  font-size: 12px;
}
.icon {
  margin: 0 0.25rem;
}
