<div class="flex white mh3 font-size-14 mb2">
    <div class="w-80 font-size-16">
        <a class="white lazy-story" [routerLink]="['/aboutus']">The Lazy Story</a>
        <a class="white lazy-story" [routerLink]="['/blog']">Home Musings</a>
        <div class="font-size-12">
            <a class="white" [routerLink]="['/privacypolicy']">Privacy Policy </a>
            <span>|</span>
            <a class="white" [routerLink]="['/termsofservice']"> Terms of Service</a>
            <span> ©2020 LazySuzy</span>
        </div>
    </div>
    <!--        <a class="link white lazy-story fr" [routerLink]="['/blog']">Blog</a>-->
    <div class="w-20">
        <div class="mv3">
            <a target="_blank" class="font-size-16 icon white" href="mailto:hello@lazysuzy.com">
                <i class="fas fa-envelope"></i>
            </a>
            <a target="_blank" class="icon font-size-16 white" href="//www.facebook.com/shoplazysuzy">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </div>
</div>
