<div class="flex white mh3 mb2">    
    <div class="w-60">
        <p>© 2020 LazySuzy</p>
        <div class="">
            <a class="link white" [routerLink]="['/privacypolicy']" >Privacy Policy </a>
            <span>|</span>
            <a class="link white" [routerLink]="['/termsofservice']"> Terms of Service</a>
        </div>
    </div>
    <div class="w-40">
        <a class="link white lazy-story fr" [routerLink]="['/aboutus']">The Lazy Story</a>
<!--        <a class="link white lazy-story fr" [routerLink]="['/blog']">Blog</a>-->
        <div class="mh1 fr">Connect with Us 
            <a target="_blank" class="link white" href="//www.facebook.com/shoplazysuzy">
                <i class="fab fa-facebook-f"></i>
            </a> 
        </div>
    </div>
</div>
