<div *ngIf="!isCartLoading">
  <ng-container *ngIf="isHandset; else isBrowser">
    <ng-container *ngIf="emptyCart; else showCart">
      <div class="empty-cart-section">
        <div class="empty-cart-msg pink-font b">
          Your LazySuzy cart is empty
        </div>
        <div class="tc pt3">
          <button
            class="login-btn b"
            (click)="openSignupDialog(true)"
            *ngIf="!isLoggedIn"
          >
            LOG IN or SIGN UP
          </button>
          <div class="other-deals-msg">
            <span
              >SEE
              <span class="pink-font pointer" (click)="seeMore('sale')"
                >TOP DEALS </span
              >or
              <span class="pink-font pointer" (click)="seeMore('new')"
                >NEW ARRIVALS</span
              >
            </span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #showCart>
      <div class="cart-container">
        <div class="cart-header pv4">
          <!-- <div class="pink-font">My Cart</div> -->
          <div class="subtotal-card ma4">
            <div class="title pv2 flex justify-between b">
              <div class="blue-font">
                Subtotal ({{ cartProducts.length }} items):
              </div>
              <div class="pink-font">${{ subTotal | number: '1.2-2' }}</div>
            </div>
            <div class="tc">
              <button
                class="btn-checkout blue-font"
                [routerLink]="['/checkout']"
              >
                SECURE CHECKOUT
              </button>
            </div>
          </div>
        </div>
        <div class="cart-content" *ngFor="let product of cartProducts">
          <div class="product-card pa4">
            <div class="flex">
              <img class="prod-image" [src]="product.image" />
              <div class="prod-details w-100 pl4">
                <div class="gray-font fs14">{{ product.product_sku }}</div>
                <div
                  class="blue-font"
                  (click)="openProductPage(product.product_sku)"
                >
                  {{ product.product_name }}
                </div>
                <div class="gray-font fs14">by {{ product.site }}</div>
                <div class="pink-font b">
                  ${{ product.retail_price | number: '1.2-2' }}
                </div>
              </div>
            </div>
            <div class="flex pt3">
              <div class="quantity w-30">
                <span
                  class="btn-quantity-operation b w-20"
                  (click)="decreaseQuantity(product, 1)"
                >
                  -
                </span>
                <span class="value w-60"> {{ product.count }} </span>
                <span
                  class="btn-quantity-operation b w-20"
                  (click)="increaseQuantity(product, 1)"
                >
                  +
                </span>
              </div>
              <div
                class="btn-remove gray-font ml4"
                (click)="removeProduct(product, product.count)"
              >
                REMOVE
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #isBrowser>
    <ng-container *ngIf="emptyCart; else showCart">
      <div class="empty-cart-section">
        <div class="empty-cart-msg pink-font b">
          Your LazySuzy cart is empty
        </div>
        <div class="flex items-center pt3">
          <button
            class="login-btn b"
            (click)="openSignupDialog(false)"
            *ngIf="!isLoggedIn"
          >
            LOG IN or SIGN UP
          </button>
          <div class="other-deals-msg">
            <span
              >SEE
              <span class="pink-font pointer" (click)="seeMore('sale')"
                >TOP DEALS </span
              >or
              <span class="pink-font pointer" (click)="seeMore('new')"
                >NEW ARRIVALS</span
              >
            </span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #showCart>
      <div class="cart-container flex ph5">
        <div class="w-70">
          <div class="cart-content-container">
            <div class="cart-header">
              <div class="title">
                My Cart
              </div>
              <div class="tr pb2">
                PRICE
              </div>
            </div>
            <div class="cart-content" *ngFor="let product of cartProducts">
              <div class="product-card flex pv4">
                <img class="prod-image" [src]="product.image" />
                <div class="prod-details w-100 pl5">
                  <div class="gray-font fs14">{{ product.product_sku }}</div>
                  <div class="flex justify-between product-name pv1">
                    <div
                      class="blue-font pointer"
                      (click)="openProductDetail(product)"
                    >
                      {{ product.product_name }}
                    </div>
                    <div class="pink-font b">
                      ${{ product.retail_price | number: '1.2-2' }}
                    </div>
                  </div>
                  <div class="pb4 gray-font fs14">by {{ product.site }}</div>
                  <select
                    class="quantity-selector w-30"
                    (change)="
                      onQuantityChanged(
                        product,
                        product.count,
                        $event.target.value
                      )
                    "
                  >
                    <option
                      *ngFor="
                        let item of counter(product.max_available_count);
                        let i = index
                      "
                      [attr.value]="i + 1"
                      [attr.selected]="i + 1 == product.count ? true : null"
                      >{{ i + 1 }}</option
                    >
                  </select>
                  <div
                    class="pt3 gray-font b pointer fs14"
                    (click)="removeProduct(product, product.count)"
                  >
                    REMOVE
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-30 ph3">
          <div class="subtotal-card">
            <div class="title pv2 flex justify-between b">
              <div class="blue-font">
                Subtotal ({{ cartProducts.length }} items):
              </div>
              <div class="pink-font">${{ subTotal | number: '1.2-2' }}</div>
            </div>
            <div class="tc">
              <button
                class="btn-checkout blue-font"
                [routerLink]="['/checkout']"
              >
                SECURE CHECKOUT
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
<img
  *ngIf="isProductFetching || isCartLoading"
  [src]="spinner"
  class="loader"
/>
