/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #ffffff;
}
body {
  margin: 0;
  font-family: 'Fenix', Roboto, 'Helvetica Neue', sans-serif;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -50px;
  top: 18%;
  padding-left: 40px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -30px;
  padding-right: 20px;
  top: 18%;
}