<div class="row">
    <div class="column col-1">
        <span>{{index}}</span>
    </div>
    <div class="column col-3">
        <div class="row">
            <div class="col-12">
                <a [href]="product.product_url" target="_blank">{{product.product_sku}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>{{product.product_name}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>{{product.site_name}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="price-font">
                    <span class="product-price mr3">${{ product.price }}</span>
                    <span class="strike {{
                  product.price !== product.was_price ? '' : 'dn'
                }}">${{ product.was_price }}</span>
                </div>
                <!-- <h5>${{product.price}}</h5> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Create date: {{product.created_date}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Last updated date: {{product.updated_date}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>Is Backordered</label>
                <mat-radio-group [(ngModel)]="product.is_back_order" aria-label="Select an option">
                    <div class="flex">
                        <mat-radio-button color="warn" [value]="1">Yes</mat-radio-button>
                        <mat-radio-button class="ml3" color="warn" [value]="0">No</mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="column col-8">
        <div class="row" style="font-size: 14px;">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="select-height" appearance="fill">
                            <mat-label>Color</mat-label>
                            <mat-select [(ngModel)]="product.color" multiple>
                                <mat-option [value]="key.filter_value" *ngFor="let key of color_filter">
                                    {{key.filter_value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Shape</mat-label>
                            <mat-select [(ngModel)]="product.shape" multiple>
                                <mat-option [value]="key.filter_value" *ngFor="let key of shape_filter">
                                    {{key.filter_value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Material</mat-label>
                            <mat-select [(ngModel)]="product.material" multiple>
                                <mat-option [value]="key.filter_value" *ngFor="let key of material_filter">
                                    {{key.filter_value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Seating</mat-label>
                            <mat-select [(ngModel)]="product.seating" multiple>
                                <mat-option [value]="key.filter_value" *ngFor="let key of seating_filter">
                                    {{key.filter_value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>LS_IDs</mat-label>
                            <mat-select [(ngModel)]="product.ls_id" multiple (selectionChange)="setCategoryDetail()">
                                <mat-option [value]="key.LS_ID" *ngFor="let key of mapping_core">
                                    {{key.LS_ID}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Country</mat-label>
                            <mat-select [(ngModel)]="product.mfg_country" multiple>
                                <mat-option [value]="key.filter_value" *ngFor="let key of country_filter">
                                    {{key.filter_value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Style</mat-label>
                            <mat-select [(ngModel)]="product.style" multiple>
                                <mat-option [value]="key.filter_value" *ngFor="let key of style_filter">
                                    {{key.filter_value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Firmness</mat-label>
                            <mat-select [(ngModel)]="product.firmness" multiple>
                                <mat-option [value]="key.filter_value" *ngFor="let key of firmness_filter">
                                    {{key.filter_value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label>Is Handmade</label>
                    </div>
                    <div class="col-6">
                        <mat-radio-group [(ngModel)]="product.is_handmade" aria-label="Select an option">
                            <div class="flex">
                                <mat-radio-button color="warn" [value]="1">Yes</mat-radio-button>
                                <mat-radio-button class="ml3" color="warn" [value]="0">No</mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row ">
                    <div class="col-4">
                        <h5> Master ID</h5>
                    </div>
                    <div class="col-4 ">
                        <input [(ngModel)]="product.master_id">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 input-label">
                        <h5>Set ID</h5>
                    </div>
                    <div class="col-4">
                        <input [(ngModel)]="product.set_id">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 input-label">
                        <h5>Designer</h5>
                    </div>
                    <div class="col-4">
                        <input [(ngModel)]="product.designer">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 input-label">
                        <h5>Product Collection</h5>
                    </div>
                    <div class="col-4">
                        <input [(ngModel)]="product.collection">
                    </div>
                </div>
                <div class="row mt-3">
                    <ng-container *ngFor="let category of category_detail">
                        <div class="col-12">
                            <span>{{category}}</span>
                        </div>
                    </ng-container>
                </div>

                <div class="row mt-3">
                    <div class="col-4 input-label">
                        <h5>Back order msg</h5>
                    </div>
                    <div class="col-6">
                        <textarea class="w-100" rows="2" [(ngModel)]="product.back_order_msg"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 input-label">
                        <h5>Back order date</h5>
                    </div>
                    <div class="col-6">
                        <textarea class="w-100" rows="2" [(ngModel)]="product.back_order_msg_date"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 input-label">
                        <h5>Online msg</h5>
                    </div>
                    <div class="col-6">
                        <textarea class="w-100" rows="2" [(ngModel)]="product.online_msg"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row" style="margin-top:15px">
    <div class="col-1"></div>
    <div class="col-3">
        <div class="row">
            <mat-radio-group [(ngModel)]="product.status" aria-label="Select an option">
                <div class="col-12">
                    <mat-radio-button color="warn" value="approved">Accept</mat-radio-button>
                </div>
                <div class="col-12">
                    <mat-radio-button color="warn" value="rejected">Reject</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-12">
                <h4>New Arrivals Group </h4>
            </div>
            <mat-radio-group [(ngModel)]="product.new_group" value="one" aria-label="Select an option">
                <div class="col-12">
                    <mat-radio-button color="warn" [value]="1">One</mat-radio-button>
                </div>
                <div class="col-12">
                    <mat-radio-button color="warn" [value]="2">Two</mat-radio-button>
                </div>
                <div class="col-12">
                    <mat-radio-button color="warn" [value]="3">Three</mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </div>
    <div class="col-8">
        <div class="flex flex-wrap">
            <ng-container *ngFor="let image of product.main_product_images.split(',');let index = index">
                <div class="flex flex-column mh3">
                    <img src="{{image}}" height="150px" width='150px'>
                    <mat-radio-group *ngIf="product.status ==='approved'"
                                     (change)="tagImage(product.product_sku,image,$event.value)">
                        <div class="flex justify-between">
                            <mat-radio-button value="primary">B1</mat-radio-button>
                            <mat-radio-button value="secondary">B2</mat-radio-button>
                        </div>
                    </mat-radio-group>
                    <div class="flex justify-center mt1">
                        <button class="btn" (click)="cropImage(image,'main_product_images')">Crop</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngFor="let image of product.product_images.split(',');let index = index">
                <div class="flex flex-column mh3">
                    <img src="{{image}}" height="150px" width='150px'>
                    <mat-radio-group *ngIf="product.status ==='approved'"
                                     (change)="tagImage(product.product_sku,image,$event.value)">
                        <div class="flex justify-between">
                            <mat-radio-button value="primary">B1</mat-radio-button>
                            <mat-radio-button value="secondary">B2</mat-radio-button>
                        </div>
                    </mat-radio-group>
                    <div class="flex justify-center mt1">
                        <button class="btn" (click)="cropImage(image,'product_images')">Crop</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="row" style="margin-top:15px">
    <div class="col-4">
        <h4>Description</h4>
        <p [innerHTML]='product.product_description'></p>
        <textarea [(ngModel)]="product.product_description" style="width: 100%;height: 10rem;">

        </textarea>
    </div>
    <div class="col-4">
        <h4>Features</h4>
        <p [innerHTML]='product.product_feature'></p>
        <textarea [(ngModel)]="product.product_feature" style="width: 100%;height: 10rem;">
        </textarea>
    </div>
    <div class="col-12">
        <div class="flex justify-between">
            <h4>Dimensions</h4>
            <button mat-raised-button color="accent" (click)="addDimensionGroup()">Add Dimension Group</button>
        </div>


        <div class="row" *ngIf="product.product_dimension">
            <ng-container *ngIf="isObject(product.product_dimension);else otherDimensions">
                <div class="col-6 mt-5" *ngFor="let key of objKeys(product.product_dimension)">
                    <span style="font-size: 16px;font-weight: bold">{{key}}</span> <br/>
                    <input (input)="changeDimensionKey(key)" [(ngModel)]="key">
                    <ng-container *ngIf="isArray(product.product_dimension[key])">
                        <div class="flex flex-wrap justify-between">
                            <div class="flex flex-column w-33 mb3" *ngFor="let dimension of product.product_dimension[key]">
                                <div>
                                    <label class="bold">{{dimension.name}}</label> <br/>
                                    <span *ngIf="dimension.value.height">Height: {{dimension.value.height}} <br/></span>
                                    <span *ngIf="dimension.value.width">Width: {{dimension.value.width}}<br/></span>
                                    <span *ngIf="dimension.value.depth">Depth: {{dimension.value.depth}}<br/></span>
                                    <span *ngIf="dimension.value.diameter">Diameter: {{dimension.value.diameter}}
                                        <br/></span>
                                    <span *ngIf="dimension.value.length">Length: {{dimension.value.length}}<br/></span>
                                    <span *ngIf="dimension.value.weight">Weight: {{dimension.value.weight}}<br/></span>
                                    <span *ngIf="dimension.value.NULL">:{{dimension.value.NULL}}<br/></span>
                                </div>
                                <div style="margin-top:auto">
                                    <input style="width: 100%" [(ngModel)]="dimension.name">
                                    <div class="flex flex-column">
                                        <div class="flex justify-between mv2">
                                            <label>Height</label>
                                            <input [(ngModel)]="dimension.value.height"/>
                                        </div>
                                    </div>
                                    <div class="flex flex-column">
                                        <div class="flex justify-between mv2">
                                            <label>Width</label>
                                            <input [(ngModel)]="dimension.value.width"/>
                                        </div>
                                    </div>
                                    <div class="flex flex-column">
                                        <div class="flex justify-between mv2">
                                            <label>Depth</label>
                                            <input [(ngModel)]="dimension.value.depth"/>
                                        </div>
                                    </div>
                                    <div class="flex flex-column">
                                        <div class="flex justify-between mv2">
                                            <label>Diameter</label>
                                            <input [(ngModel)]="dimension.value.diameter"/>
                                        </div>
                                    </div>
                                    <div class="flex flex-column">
                                        <div class="flex justify-between mv2">
                                            <label>Length</label>
                                            <input [(ngModel)]="dimension.value.length"/>
                                        </div>
                                    </div>
                                    <div class="flex flex-column">
                                        <div class="flex justify-between mv2">
                                            <label>Weight</label>
                                            <input [(ngModel)]="dimension.value.weight"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!--                    <div class="mt1">-->
                    <!--                        <input style="width: 100%" [(ngModel)]="dimension.description">-->
                    <!--                        <div class="flex flex-column">-->
                    <!--                            <div class="flex justify-between mv2">-->
                    <!--                                <label>Height</label>-->
                    <!--                                <input [(ngModel)]="dimension.height">-->
                    <!--                            </div>-->
                    <!--                            <div class="flex justify-between mv2">-->
                    <!--                                <label>Width</label>-->
                    <!--                                <input [(ngModel)]="dimension.width">-->
                    <!--                            </div>-->
                    <!--                            <div class="flex justify-between mv2">-->
                    <!--                                <label>Depth</label>-->
                    <!--                                <input [(ngModel)]="dimension.depth">-->
                    <!--                            </div>-->
                    <!--                            <div class="flex justify-between mv2">-->
                    <!--                                <label>Diameter</label>-->
                    <!--                                <input [(ngModel)]="dimension.diameter">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </ng-container>
            <ng-template #otherDimensions>
                <div class="col-6 m-t-5">
                    {{product.product_dimension}}
                </div>
            </ng-template>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <label class="bold">Product Assembly</label>
        <p>{{product.product_assembly}}</p>
        <textarea rows="6" class="w-100" [(ngModel)]="product.product_assembly"></textarea>
    </div>
    <div class="col-6">
        <label class="bold">Product Care</label>
        <p>{{product.product_care}}</p>
        <textarea rows="6" class="w-100" [(ngModel)]="product.product_care"></textarea>
    </div>
</div>
<div class="row mt3">
    <div class="col-3">
        <label class="bold">Product Sub 1</label>
        <div class="flex mt2 justify-between">
            <label>Header</label>
            <textarea [(ngModel)]="product.product_sub_header_1"></textarea>
        </div>
        <div class="flex mt2 justify-between">
            <label>Description</label>
            <textarea [(ngModel)]="product.product_sub_desc_1"></textarea>
        </div>
        <div class="flex mt2 justify-between">
            <label>Image</label>
            <textarea [(ngModel)]="product.product_image_sub_1"></textarea>
        </div>
    </div>
    <div class="col-3">
        <label class="bold">Product Sub 2</label>
        <div class="flex mt2 justify-between">
            <label>Header</label>
            <textarea [(ngModel)]="product.product_sub_header_2"></textarea>
        </div>
        <div class="flex mt2 justify-between">
            <label>Description</label>
            <textarea [(ngModel)]="product.product_sub_desc_2"></textarea>
        </div>
        <div class="flex mt2 justify-between">
            <label>Image</label>
            <textarea [(ngModel)]="product.product_image_sub_2"></textarea>
        </div>
    </div>
    <div class="col-3">
        <label class="bold">Product Sub 3</label>
        <div class="flex mt2 justify-between">
            <label>Header</label>
            <textarea [(ngModel)]="product.product_sub_header_3"></textarea>
        </div>
        <div class="flex mt2 justify-between">
            <label>Description</label>
            <textarea [(ngModel)]="product.product_sub_desc_3"></textarea>
        </div>
        <div class="flex mt2 justify-between">
            <label>Image</label>
            <textarea [(ngModel)]="product.product_image_sub_3"></textarea>
        </div>
    </div>
    <div class="col-3">
        <label class="bold">Product Sub 4</label>
        <div class="flex mt2 justify-between">
            <label>Header</label>
            <textarea [(ngModel)]="product.product_sub_header_4"></textarea>
        </div>
        <div class="flex mt2 justify-between">
            <label>Description</label>
            <textarea [(ngModel)]="product.product_sub_desc_4"></textarea>
        </div>
        <div class="flex mt2 justify-between">
            <label>Image</label>
            <textarea [(ngModel)]="product.product_image_sub_4"></textarea>
        </div>
    </div>
</div>
