<div class="flex flex-column mh3-ns" *ngIf="products">
    <ng-container *ngIf="isHandset">
        <div class="{{
        showBar === true ? 'mobile-filter-panel fixed' : 'mobile-filter-panel'
      }}" (scroll)="(checkScroll)">
      <span class="icon-container" (click)="toggleMobileFilter()">
        <mat-icon aria-hidden="false" aria-label="Filter">
          filter_list
        </mat-icon>
        <span class="icon-title">Filter</span>
      </span>
            <span class="icon-container" (click)="toggleMobileView()">
        <mat-icon aria-hidden="false" aria-label="toggle">
          view_module
        </mat-icon>
        <span class="icon-title">Toggle</span>
      </span>
            <span class="icon-container" (click)="toggleMobileSort()">
        <mat-icon aria-hidden="false" aria-label="Sort">
          import_export
        </mat-icon>
        <span class="icon-title">Sort</span>
      </span>
            <app-product-filter-mobile *ngIf="showMobileFilter" (setMobileToggle)="onSetMobileToggle($event)"
                                       [productFilters]="productFilters" [isProductFetching]="isProductFetching"
                                       [totalCount]="totalCount"
                                       [isBrandPage]="isBrandPage"
                                       (setFilters)="onSetFilters($event)">
            </app-product-filter-mobile>
            <app-product-sort-mobile *ngIf="showMobileSort" (setSortToggle)="onSetSortToggle($event)"
                                     [sortTypeList]="sortTypeList" (setSortType)="onSetSortType($event)">
            </app-product-sort-mobile>
        </div>
    </ng-container>


    <div [ngClass]="{'flex-wrap flex': isHandset}"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">

        <ng-container *ngIf="isHandset">
            <app-product-mobile *ngFor="let product of products" [product]="product" [productsInRow]="productsInRow"
                                [ngClass]="{
          'w-50': productsInRow === 2,
          'w-33': productsInRow === 3,
          'w-100': productsInRow === 1
        }" class="w-50"></app-product-mobile>
        </ng-container>


        <ng-container *ngIf="!isHandset">
            <div class="row">
                <!-- brandlist -->
                <div class="col-md-2">
                    <div class="pr3">
                        <app-brand-list [selectedBrandValue]="selectedBrandValue" [isBrandPage]="isBrandPage"
                                        (setBrand)="getProductwithBrandName($event)"></app-brand-list>
                        <app-collection-list [collectionsList]="collectionsList"></app-collection-list>
                    </div>
                    <!-- / brandlist -->
                </div>
                <div class="col-md-8">
                    <div class="row mb-10">
                        <!-- show brand data -->
                        <div class="col-md-12">
                            <ng-container *ngIf="filters && isBrandPage">
                                <div class="branddata-container w-100">
                                    <p class="brand-name">{{ brandData.name }}</p>
                                    <p class="brand-description">{{ brandData.description }}</p>
                                </div>
                            </ng-container>
                        </div>
                        <!-- / show brand data -->

                    </div>
                    <div class="row sticky-row ">
                        <div class="col-md-12 filter-panel">
                            <div class="flex justify-between" style="padding: 10px;">
                                <div>
                               <span style="font-size: 14px" class="pointer" (click)="toggleFilterBar()">
                                         <mat-icon class="filter-icon">
                                             <svg width="15px" height="1em" viewBox="0 0 16 16" class="bi bi-sliders"
                                                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
</svg>
                                         </mat-icon>&nbsp;Filters
                                    </span>
                                </div>
                                <div class="flex">
                                    <div class="pt1 text-right">
                                        <h4 style="font-size: 14px;">{{ totalCount }} Results</h4>
                                    </div>
                                    <div style="min-width: 10rem">
                                        <app-sort-type [sortTypeList]="sortTypeList" [sortType]="sortType"
                                                       (setSortType)="onSetSortType($event)">
                                        </app-sort-type>
                                    </div>
                                </div>
                            </div>
                            <div class="row slide-down" style="padding: 10px;" *ngIf="showFilters">
                                <div class="col-md-12">
                                    <app-product-filters #productFiltersComponent [productFilters]="productFilters"
                                                         (setFilters)="onSetFilters($event)" [isBrandPage]="isBrandPage"
                                                         [isChangingBrandList]="isChangingBrandList"
                                                         class="flex flex-wrap justify-start"
                                                         style="margin-top: -0.4rem"></app-product-filters>
                                </div>
                            </div>
                            <!-- class="flex justify-start w-75" -->
                        </div>
                    </div>
                    <div class="row">
                        <ng-container *ngIf="products.length>0;else emptyProductsMessage">
                            <app-product *ngFor="let product of products" [product]="product" class="col-md-4"
                                         style="margin-bottom: 15px;">
                            </app-product>
                        </ng-container>
                        <ng-template #emptyProductsMessage>
                            <div class="col-md-12" style="text-align: center;">
                                <p>Oops. No Products Found :( Try removing some filters or
                                    <a class="clear-filter-text" (click)="clearFilters()">Click
                                        Here</a>
                                    to clear all
                                    filters </p>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>


    </div>
</div>
<img *ngIf="isProductFetching" [src]="spinner" class="loader"/>
<button class="scroll-to-btn f6 dib white bg-near-black" *ngIf="isIconShow" (click)="gotoTop()">
    <mat-icon class="account-icon pointer" aria-hidden="false" aria-label="Account">
        arrow_upward
    </mat-icon>
</button>
