<div class="flex flex-column mh3-ns" *ngIf="products">
    <ng-container *ngIf="isHandset">
        <div class="{{
        showBar === true ? 'mobile-filter-panel fixed' : 'mobile-filter-panel'
      }}" (scroll)="(checkScroll)">
      <span class="icon-container" (click)="toggleMobileFilter()">
        <mat-icon aria-hidden="false" aria-label="Filter">
          filter_list
        </mat-icon>
        <span class="icon-title">Filter</span>
      </span>
            <span class="icon-container" (click)="toggleMobileView()">
        <mat-icon aria-hidden="false" aria-label="toggle">
          view_module
        </mat-icon>
        <span class="icon-title">Toggle</span>
      </span>
            <span class="icon-container" (click)="toggleMobileSort()">
        <mat-icon aria-hidden="false" aria-label="Sort">
          import_export
        </mat-icon>
        <span class="icon-title">Sort</span>
      </span>
            <app-product-filter-mobile *ngIf="showMobileFilter" (setMobileToggle)="onSetMobileToggle($event)"
                                       [productFilters]="productFilters" [isProductFetching]="isProductFetching"
                                       [totalCount]="totalCount"
                                       (setFilters)="onSetFilters($event)">
            </app-product-filter-mobile>
            <app-product-sort-mobile *ngIf="showMobileSort" (setSortToggle)="onSetSortToggle($event)"
                                     [sortTypeList]="sortTypeList" (setSortType)="onSetSortType($event)">
            </app-product-sort-mobile>
        </div>
    </ng-container>


    <div [ngClass]="{'flex-wrap flex': isHandset}"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">

        <ng-container *ngIf="isHandset">
            <app-product-mobile *ngFor="let product of products" [product]="product" [productsInRow]="productsInRow"
                                [ngClass]="{
          'w-50': productsInRow === 2,
          'w-33': productsInRow === 3,
          'w-100': productsInRow === 1
        }" class="w-50"></app-product-mobile>
        </ng-container>


        <ng-container *ngIf="!isHandset">
            <div class="row">
                <!-- brandlist -->
                <div class="col-md-2">
                    <div class="pr3">
                        <app-brand-list [selectedBrandValue]="selectedBrandValue" [isBrandPage]="isBrandPage"
                                        (setBrand)="getProductwithBrandName($event)"></app-brand-list>
                        <app-collection-list [collectionsList]="collectionsList"></app-collection-list>
                    </div>
                    <!-- / brandlist -->
                </div>
                <div class="col-md-8">
                    <div class="row mb-10">
                        <!-- show brand data -->
                        <div class="col-md-12">
                            <ng-container *ngIf="filters && isBrandPage">
                                <div class="branddata-container w-100">
                                    <p class="brand-name">{{ brandData.name }}</p>
                                    <p class="brand-description">{{ brandData.description }}</p>
                                </div>
                            </ng-container>
                        </div>
                        <!-- / show brand data -->
                       
                    </div>
                    <div class="row">
                        <div class="col-md-12 pr2 text-right">
                            <h4 style="font-size: 14px;">{{ totalCount }} Results</h4>
                        </div>
                    </div>
                    <div class="row sticky-row">
                        <div class="col-md-12 filter-panel">
                            <div class="row" style="padding: 10px;">
                                <div class="col-sm-8 col-md-10 ">
                                    <app-product-filters #productFiltersComponent [productFilters]="productFilters"
                                                         (setFilters)="onSetFilters($event)" [isBrandPage]="isBrandPage"
                                                         [isChangingBrandList]="isChangingBrandList"
                                                         class="flex flex-wrap justify-start" style="margin-top: -0.4rem"></app-product-filters>
                                </div>

                                <div class="col-sm-4 col-md-2 ">
                                    <app-sort-type [sortTypeList]="sortTypeList" [sortType]="sortType"
                                                   (setSortType)="onSetSortType($event)">
                                    </app-sort-type>
                                </div>
                            </div>
                            <!-- class="flex justify-start w-75" -->
                        </div>
                    </div>
                    <div class="row">
                        <ng-container *ngIf="products.length>0;else emptyProductsMessage">
                            <app-product *ngFor="let product of products" [product]="product" class="col-md-4"
                                         style="margin-bottom: 15px;">
                            </app-product>
                        </ng-container>
                        <ng-template #emptyProductsMessage>
                            <div class="col-md-12" style="text-align: center;">
                                <p>Oops. No Products Found :( Try removing some filters or
                                    <a class="clear-filter-text" (click)="productFiltersComponent.clearFilters()">Click Here</a>
                                    to clear all
                                    filters </p>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>


    </div>
</div>
<img *ngIf="isProductFetching" [src]="spinner" class="loader"/>
<button class="scroll-to-btn f6 dib white bg-near-black" *ngIf="isIconShow" (click)="gotoTop()">
    <mat-icon class="account-icon pointer" aria-hidden="false" aria-label="Account">
        arrow_upward
    </mat-icon>
</button>
