<div class="w-50-ns reset-container">
  <h4 class="mb4">Reset Password</h4>

  <div>
    <form>
      <div class="form-group flex items-center">
        <label for="email" class="mr2">E-Mail Address</label>

        <div class="w-70">
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="email"
            required
          />
        </div>
      </div>
      <div class="error-msg {{ error ? 'visible' : 'invisible' }}">
        {{ message }}
      </div>
      <div *ngIf="isSuccess" class="success tc">
        {{ message }}
      </div>
      <div class="form-group mb-0 tc">
        <button type="submit" class="btn" (click)="sendPasswordReset()">
          Send Password Reset Link
        </button>
      </div>
    </form>
  </div>
</div>
