<div class="reset-container">
  <h4 class="mb4">
    <span class="b mr2">Reset your password</span>
    <span
      ><a class="login-link" (click)="openSignin()">or back to login</a></span
    >
  </h4>

  <div>
    <form>
      <div class="form-group mb4">
        <div>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="email"
            placeholder="Enter your email address"
            required
          />
        </div>
        <div class="error-msg {{ error ? 'visible' : 'invisible' }}">
          {{ message }}
        </div>
      </div>

      <div class="form-group mb-0 tc">
        <button type="submit" class="btn w-100" (click)="sendPasswordReset()">
          RESET PASSWORD
        </button>
      </div>
    </form>
    <div *ngIf="isSuccess" class="success tc">
      {{ message }}
    </div>
  </div>
</div>
