<div class="ls-product-div">
  <div class="ls-product" (click)="openDialog()">
    <img
      class="{{ isVariationImageVisible ? 'prod-img' : 'prod-img show' }}"
      [src]="product.main_image"
      [alt]="product.name"
    />
    <img
      class="{{
        isVariationImageVisible ? 'variation-img show' : 'variation-img'
      }}"
      [src]="variationImage || product.main_image"
      [alt]="product.name"
    />
    <div *ngIf="product.wishlisted; else elseBlock">
      <div class="tile-icon wishlist-icon">
        <mat-icon (click)="wishlistProduct(product.sku, false, $event)"
          >favorite
        </mat-icon>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="tile-icon wishlist-icon">
        <mat-icon (click)="wishlistProduct(product.sku, true, $event)"
          >favorite_border
        </mat-icon>
      </div>
    </ng-template>
  </div>
  <div class="prod-info">
    <span class="site">
      <span *ngIf="product.is_new" class="new-tag"><strong>NEW</strong></span>
      {{ product.site }}
    </span>
    <div
      *ngIf="product.reviews != null && product.reviews != 0"
      class="rating-container"
    >
      <span class="total-ratings">{{ product.reviews }}</span>
      <div class="rating">
        <mat-icon *ngFor="let icon of starIcons" class="yellow">
          {{ icon }}
        </mat-icon>
      </div>
    </div>
  </div>
  <div class="name">{{ product.name }}</div>
  <div class="prices">
    <div
      *ngIf="product?.percent_discount > 0"
      class="discount-percentage"
      [ngClass]="[product?.percent_discount > 0 ? 'orange-bg' : 'yellow-bg']"
    >
      {{ product?.percent_discount | number: '1.0-0' }}% off
    </div>
    <ng-container
      *ngIf="
        product.in_inventory && product.inventory_product_details.count > 0;
        else isOOS
      "
    >
      <span class="cprice">${{ product.inventory_product_details.price }}</span>
    </ng-container>
    <ng-template #isOOS>
      <span
        class="{{
          (product.is_price !== product.was_price && 'cprice sale') || 'cprice'
        }}"
        >${{ product.is_price }}</span
      >
      <span *ngIf="product.is_price !== product.was_price" class="oldprice">
        ${{ product.was_price }}
      </span>
    </ng-template>
  </div>
  <div class="swatch-list">
    <div
      *ngFor="let variation of product.variations | slice: 0:numbOfSwatchItems"
      class="swatch-item"
      (click)="openSwatchDialog(variation)"
    >
      <img
        *ngIf="variation.swatch_image"
        class="carousel-img img-fluid"
        [src]="variation.swatch_image"
        (mouseover)="showVariationImage(variation.image)"
        (mouseout)="hideVariationImage()"
      />
    </div>
    <div
      (click)="openDialog()"
      *ngIf="product.variations.length > numbOfSwatchItems"
    >
      + more
    </div>
  </div>
</div>
