<div class="left-tab-pane">
  <div class="tab active components tab-0-pad">
    <div class="flex-grid">
      <div class="browse-header w-100">

        <div *ngIf="selectedItem?.value === 'Select'">

          <app-select (goToCategory)="handleGoToCategory($event)"></app-select>

        </div>

        <div *ngIf="selectedItem?.value === 'Browse'">

          <app-browse (updatesFromBrowse)="handleUpdatesFromBrowse($event)"
            (previewProduct)="handlePreviewProductToBoardUpdates($event)" (goToSelect)="handleGoToSelect($event)">
          </app-browse>

        </div>

        <div *ngIf="selectedItem?.value === 'Add'">

          <app-add (previewProduct)="handlePreviewProductToBoardUpdates($event)"></app-add>

        </div>

        <div *ngIf="selectedItem?.value === 'Favorites'">

          <app-favorites></app-favorites>

        </div>

        <div *ngIf="selectedItem?.value === 'Text'">

          <app-text (updates)="handleUpdatesFromText($event)"></app-text>

        </div>

        <div *ngIf="selectedItem?.value === 'Board'">

          <app-board></app-board>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="static-bottom-panel-wrapper" *ngIf="productForPreview" style="z-index: 9999999;">
  <div class="static-bottom-panel selected">
    <app-product-preview [data]="productForPreview" (clearProductPreview)="handleClearProductPreview($event)"
      (addProductBoard)="handleAddProductBoardPreview($event)"></app-product-preview>
  </div>
</div>
