@product-price: #b76e79;

.ls-product-div {
  .ls-product {
    position: relative;

    .tile-icon {
      position: absolute;
      color: #929292;
      top: 5px;
      margin: 0 10px;
      font-size: 20px;
    }

    .wishlist-icon {
      right: 0px;

      &.marked {
        .icon {
          font-weight: 900;
        }
      }
    }

    .variation-icon {
      right: 30px;
    }

    .free-shipping-container {
      position: absolute;
      display: inline-block;
      bottom: 0;
      background: white;
      font-size: 12px;
      color: @product-price;
      opacity: 75%;

      span {
        padding: 0 0.2rem;
      }
    }

    .discount-percentage {
      position: absolute;
      right: 0;
      padding: 0;
      margin: 0;
      bottom: 0;
      color: #ffffff;
      font-size: 14px;

      .percentage-box {
        padding: 2px;
        display: inline-block;
      }
    }
  }
}

.product-detail-container {
  padding: 0 0 1rem 0.5rem;
}

.brand-name {
  font-size: 12px;
  color: rgb(96, 96, 96);;
}

.product-name {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(12, 28, 49);
}

.prices {
  bottom: 0;
  font-size: 14px;
  color: #0c1c31;
  max-width: 100%;

  .sale {
    color: @product-price;
    margin-right: 0.5rem;
  }
}

.font-size-14 {
  font-size: 14px;
}

.condition-tag-container {
  z-index: 96;
  position: absolute;
  top: 5px;
  left: 5px
}

.condition-icon {
  position: relative;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 5px;
  margin: 0 5px 0 0;
  padding: 3px 5px;
  color: #B76E79;
  background-color: #f2f4f3;
}

.new-condition {
  background-color: #f2f4f3;
  color: #B76E79;
}

.low-stock-condition {
  background-color: #ffcc00;
  color: #0C1C31;
}

.clearance-condition {
  background-color: #ffcc00;
  color: #0C1C31;
}

.exclusive-condition {
  background-color: #0c1c31;
  color: #ffcc00;
}

.hot-condition {
  background-color: #e61610;
  color: #f7f6f6;
}