<div class="profile-container">
    <div>&nbsp;</div>
    
    <div class="product-description-container" style="max-height: calc(100vh - 60px);"><button class="close-icon" mat-dialog-close>
    <mat-icon>close</mat-icon>
</button>
        <div class="product-details-container">

            <form name="review-form" class="w-100 flex-ns gallery-container" #reviewForm="ngForm">

                <div class="avatar-container" (click)="gotoProduct()">

                    <div class="w-100 tc">
                        <img [src]="image" class="product-image" />
                    </div>
                    <div class="w-100">
                        {{product.name| uppercase}}
                    </div>
                    <div class="w-100" style="font-size: 14px;">
                        <span style="color: #606060;">by {{brand}}</span>
                    </div>

                </div>


                <!--<div class="product-description-container" style="max-height: calc(100vh - 60px);">-->
                <div class="form-input-container">
                    <div class="header">
                        <div class="title b">My Review<br /><div class="require">*Required Field</div></div>


                    </div>

                    <div class="w-100 input-container">
                        <div class="flex justify-between items-center">
                            <label class="db">Overall Rating* </label>
                            <span class="star-cb-group">
                                <input type="radio" id="rating-5" name="rating" value="5" (change)="starCount(5)" /><label for="rating-5">5</label>
                                <input type="radio" id="rating-4" name="rating" value="4" (change)="starCount(4)" /><label for="rating-4">4</label>
                                <input type="radio" id="rating-3" name="rating" value="3" (change)="starCount(3)" /><label for="rating-3">3</label>
                                <input type="radio" id="rating-2" name="rating" value="2" (change)="starCount(2)" /><label for="rating-2">2</label>
                                <input type="radio" id="rating-1" name="rating" value="1" (change)="starCount(1)" /><label for="rating-1">1</label>
                                <input type="radio" id="rating-0" name="rating" value="0" (change)="starCount(0)" checked="checked" class="star-cb-clear" /><label for="rating-0">0</label>
                            </span>
                            <span *ngIf="ratingerror" class="error-msg">
                                Please select a rating to submit.
                            </span>
                        </div>

                        <div class="border" style="clear:both;">&nbsp;</div>
                    </div>


                    <div class="w-100 input-container">
                        <div class="flex justify-between items-center">
                            <label class="db">Headline</label>

                        </div>
                        <input class="form-input w-100"
                               name="reviewHeader"
                               #reviewUserName="ngModel"
                               [(ngModel)]="reviewHeader" placeholder="Example: Love this couch!" />
                        <!--<span *ngIf="headererror" class="error-msg">
            This field is required.
        </span>-->
                    </div>
                    <!-- [checked]="rateval ==1" -->



                    <div class="w-100 input-container">
                        <div class="flex justify-between items-center">
                            <label class="db">Review</label>

                        </div>
                        <textarea class="form-textarea w-100"
                                  name="reviewText"
                                  #reviewUserName="ngModel"
                                  [(ngModel)]="reviewText" style="height:120px;" placeholder="What did you like or dislike? How do you use this product? What met your expectations and what surprised you?"></textarea>


                        <!--<span *ngIf="rtexterror" class="error-msg">
            This field is required.
        </span>-->
                        <div class="border mr-top">&nbsp;</div>
                    </div>

                    <div class="">
                        <div class="flex justify-between items-center">
                            <label class="db">
                                Add a Photo
                                <div class="require">Inspire others to highlight features or share your unique style.</div>
                            </label>



                        </div>

                        <span *ngIf="imageSrc.length>0" style="float:left;">
                            <div class="img-block" *ngFor="let url of imageSrc; let i= index" style="float: left;  margin-right: 10px;">
                                <img [src]="url" height="60" alt="">
                                <div class="close" style="font-size: 10px; cursor: pointer;"><i class="icon-lab_cross" (click)="deleteUploadedImage(i)">Remove</i></div>
                            </div>
                        </span>
                        <span class="upload-btn-wrapper" style="float:left; margin-left:10px;">
                            <button class="btn">+</button>
                            <input type="file"
                                   accept=".jpg,.png,.jpeg,.gif,.svg"
                                   name="reviewImage"
                                   id="file"
                                   multiple
                                   (mouseover)="over()"
                                   (mouseout)="out()"
                                   (change)="readFile($event)" />

                        </span>


                        <div class="border  mr-top" style="clear:both;margin-top:85px;">&nbsp;</div>
                    </div>




                    <div class="w-100 input-container" style="clear:both;" *ngIf="presentUserName==''">
                        <div class="flex justify-between items-center">
                            <label class="db">Name</label>

                        </div>
                        <input class="form-input w-100"
                               name="reviewUserName"
                               #reviewUserName="ngModel"
                               [(ngModel)]="username" placeholder="Enter your name or an alias" />

                    </div>



                    <div class="w-100 input-container" *ngIf="presentUserName==''">
                        <div class="flex justify-between items-center">
                            <label class="db">      Email</label>

                        </div>
                        <input class="form-input w-100" style=" margin-bottom: 0 !important;"
                               name="reviewUserEmail"
                               #reviewUserName="ngModel"
                               [(ngModel)]="useremail" placeholder="Enter your email for verification. Not shared publicly " />
                        <span *ngIf="emailerror" class="error-msg">
                            {{emailmsg}}
                        </span>
                        <div>&nbsp;</div>
                    </div>

                    <div class="w-100 input-container" *ngIf="presentLocation==''">
                        <label class="db">Location</label>
                        <input class="form-input w-100"
                               name="reviewLocation"
                               #reviewLocation="ngModel"
                               [(ngModel)]="location" placeholder="Ex. San Francisco, CA" />
                    </div>
                    <div class="mr-bottom" style="clear:both;">&nbsp;</div>
                    <div class="require" style="font-size:17px;">Thanks for sharing your feedback!</div>
                    <div class="action-buttons-row">
                        <!--<button class="profile-cancel-btn b" mat-dialog-close>
            CANCEL
        </button>-->
                        <button class="profile-update-btn b ml3" (click)="reviewUpdate()">
                            POST REVIEW
                        </button>
                    </div>
                </div>
                <!--</div>-->
            </form>
        </div>
        </div>
    </div>
    <img *ngIf="isLoading" [src]="spinner" class="loader" />
