.brand-footer {
  background: #e9dcde;
  // width: 106%;
  // margin-left: -2rem;
  margin-top: 8%;
  //padding: 30px 0 0 0;
}

.brand-text {
  margin-top: 1%;
  text-align: left;
  margin-left: 1%;
  font-size: 30px;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #0c1c31;
}

.brand {
  background: #b76e79;
  z-index: 3;
}

.image {
  margin-bottom: 8%;
  height: 80px;
  margin-left: -25%;
  // margin-left: 15%;
}

@media only screen and (max-width: 768px) {
  .brand-box {
    justify-content: center;
  }

  .brand-text {
    font-size: 22px;
    margin-left: 0;
    text-align: center;
  }

  .brand-footer {
    width: 100%;
    margin-top: 16%;
  }

  .image {
    height: 50px;
    margin: 0;
    margin-right: 10px;
  }
}
.featured-brand-image{
  object-fit: contain;
}
.featured-brand-name {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  text-align: left;
  margin-top: auto;
}

.featured-brand-location {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #e9dcde;
  text-align: left;
}

.wavy-loops-bottom {
  transform: rotateY(180deg) translateY(5%);
  z-index: 2;

  text {
    transform: rotateY(180deg);
  }
}

.wavy-loops-bottom-mobile {
  transform: rotateY(180deg) translateY(10%);
  z-index: 2;

  text {
    transform: rotateY(180deg);
  }
}

#handset {
  .featured-brand-image {
    border-radius: 5px;
  }

  .featured-brand-name {
    color: #FFFFFF;
    text-align: left;
    margin-top: auto;
  }

  .featured-brand-location {
    color: #e9dcde;
    text-align: left;
  }
}