<div class="brand-footer delay-2s" [ngClass]="{'mtstandard ptstandard':!isHandset,'mt56 pt56':isHandset}">
    <div class="flex justify-between items-center black brands">
        <h3 class="brand-text w-100 ml2 mr2">
            Top home brands and local makers
        </h3>
    </div>
    <div class="flex justify-center brand-box ph1 mv1" [ngClass]="{'flex-wrap':isHandset}">
        <ng-container *ngFor="let data of brands">
            <div class="mh2 brand-logo-container" *ngIf="data.logo">
                <img onerror="this.style.display='none'" class="image" src="{{ data.logo }}" alt="Brand Image"/>&nbsp;
            </div>
        </ng-container>
    </div>
    <div *ngIf="featuredBrands.length">
        <div [ngClass]="{'wavy-loops-bottom':!isHandset,'wavy-loops-bottom-mobile': isHandset}">
            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 500 57.01">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #b76e79;
                        }

                        .font-text {
                            font-family: "Open Sans", sans-serif;
                            fill: white;
                            font-size: 10px;
                            font-weight: normal;
                        }

                        .font-text-mobile {
                            font-family: "Open Sans", sans-serif;
                            fill: white;
                            font-size: 24px;
                            font-weight: normal;
                        }
                    </style>

                </defs>
                <path class="cls-1"
                      d="M500,200H0V173a281.22,281.22,0,0,1,89-14c34.3.27,52.92,7,75,11,85.69,15.67,118.55-27.92,205-27,30.2.32,75.43,6.17,131,35"
                      style="fill: rgb(183, 110, 121);" transform="translate(0 -142.99)"/>
                <ng-container *ngIf="!isHandset else handsetText">
                    <text class="font-text"
                          x="-413"
                          y="48">Featured Brands
                    </text>
                </ng-container>
                <ng-template #handsetText>
                    <text class="font-text-mobile"
                          x="-449"
                          y="54">Featured Brands
                    </text>
                </ng-template>

            </svg>
        </div>
        <div class="brand justify-center flex pt3 pl3 pr3 pb113"
             *ngIf="!isHandset else handsetFeaturedBrand">
            <ng-container *ngFor="let image of featuredBrands;let i = index">
                <div class="flex  flex-column ma3 pa3 some-name"
                     [attr.data-aos]="'fade-up'"
                     [attr.data-aos-duration]="'750'"
                     [attr.data-aos-once]="'false'"
                     [attr.data-aos-anchor-placement]="'top-center'"
                >
                    <img (click)="toLink(image.value)" [src]='image.cover_image' class="featured-brand-image"

                         alt="{{image.name}}">
                    <span class="featured-brand-name" (click)="toLink(image.value)">{{image.name}}</span>
                    <span class="featured-brand-location" (click)="toLink(image.value)">{{image.location}}</span>
                </div>
            </ng-container>
        </div>
        <ng-template #handsetFeaturedBrand>
            <div id="handset" class="brand flex flex-column pt3 pl3 pr3 pb56">
                <ng-container *ngFor="let image of featuredBrands let i = index">
                    <div class="flex mb4" *ngIf="i%2==0">
                        <img class="w-70 featured-brand-image" [src]='image.cover_image' alt="{{image.name}}" (click)="toLink(image.value)">
                        <div class="w-30 ml2 flex flex-column">
                            <span class="open-sans-14 bold featured-brand-name" (click)="toLink(image.value)">{{image.name}}</span>
                            <span class="lato-12 bold featured-brand-location" (click)="toLink(image.value)">{{image.location}}</span>
                        </div>
                    </div>
                    <div class="flex mb4" *ngIf="!(i%2==0)">
                        <div class="w-30 flex flex-column">
                            <span class="open-sans-14 bold featured-brand-name">{{image.name}}</span>
                            <span class="lato-12 bold featured-brand-location">{{image.location}}</span>
                        </div>
                        <img class="w-70 featured-brand-image" [src]='image.cover_image' alt="{{image.name}}">

                    </div>
                </ng-container>
            </div>
        </ng-template>
    </div>
</div>
