<!-- <div class="room-container">
  <img [src]="placeholder" />
  {{ department.display }}
</div> -->

<div id="owl-demo" class="room-container">
  <div class="item">
    <img src="assets/image/placeholder.png" alt="Owl Image" />{{
      department.display
    }}
  </div>
  <div class="item">
    <img src="assets/image/placeholder.png" alt="Owl Image" />{{
      department.display
    }}
  </div>
  <div class="item">
    <img src="assets/image/placeholder.png" alt="Owl Image" />{{
      department.display
    }}
  </div>
  <div class="item">
    <img src="assets/image/placeholder.png" alt="Owl Image" />{{
      department.display
    }}
  </div>
  <div class="item">
    <img src="assets/image/placeholder.png" alt="Owl Image" />{{
      department.display
    }}
  </div>
  <div class="item">
    <img src="assets/image/placeholder.png" alt="Owl Image" />{{
      department.display
    }}
  </div>
  <div class="item">
    <img src="assets/image/placeholder.png" alt="Owl Image" />{{
      department.display
    }}
  </div>
</div>
