<div class="mobile-filter-container">
    <div class="mobile-filter-bar">
    <span class="back-icon" (click)="closeFilters()">
      <mat-icon aria-hidden="false" aria-label="Arrow_Back">
        arrow_back
      </mat-icon>
    </span>
        <span class="container-title">
      Filters
    </span>
        <span class="clear-all" (click)="clearFilters()">
      Clear All
    </span>
    </div>
    <div class="mobile-filter-content-container">
        <div class="content-row">
            <div class="w-25 tabs-col">
                <div class="filter-tabs">
                    <ul class="filter-list">
                        <ng-container *ngFor="let filter of objectKeys(productFilters)">
                            <li *ngIf="checkValidFilter(filter)"
                                class="filter-item {{ activeTab === filter ? 'active' : '' }} {{
                disableTab(filter) ? 'disabledTab' : ''
              }}"
                                (click)="selectTab(filter)"
                            >
                                {{ renderFilterName(filter)}}
                            </li>
                        </ng-container>
                        <li class="filter-item"
                            [ngClass]="{
                                'active':activeTab==='size'
                            }"
                            (click)="selectTab('size')">
                            {{ 'Size' | uppercase }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-75 content-col">
                <div class="total-results">
                    <button class="filter-results-button" (click)="closeFilters()">
                        <div
                                class="lds-ellipsis"
                                *ngIf="isProductFetching; else showResult"
                        >
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <ng-template #showResult>
                            <span>See {{ totalCount }} products </span>
                        </ng-template>
                    </button>
                </div>
                <div class="filter-content">
                    <div class="clear-btn
                        {{ clearOptionVisible[activeTab] ? 'visible' : 'invisible'}}"
                         (click)="clearBtn(activeTab)">
                        clear
                    </div>
                    <ul
                            *ngFor="let filter of productFilters | keyvalue"
                            class="filters-list-container {{
              activeTab === filter.key && activeTab !== 'price'
                ? 'show'
                : 'hide'
            }}">
                        <ng-container *ngIf="isDimensionFilter(filter.key);else normalFilters">
                            <li *ngFor="let option of activeFilterTabData" class="filters-list">
                                <label class="filter-label">
                                    <mat-checkbox
                                            class="pa2 menu-item"
                                            [checked]="option.checked"
                                            [value]="option"
                                            [disabled]="isValueProcessing"
                                            (change)="onCheckChange($event, filter.key)"
                                    >
                                        {{ renderOptions(option) }}
                                    </mat-checkbox>
                                </label>
                            </li>
                        </ng-container>
                        <ng-template #normalFilters>
                            <li *ngFor="let option of activeFilterTabData" class="filters-list">
                                <label class="filter-label">
                                    <mat-checkbox
                                            class="pa2 menu-item"
                                            *ngIf="option.enabled"
                                            [checked]="option.checked"
                                            [value]="option.value"
                                            [disabled]="isValueProcessing"
                                            (change)="onCheckChange($event, filter.key)"
                                    >
                                        {{ option.name }}
                                    </mat-checkbox>
                                </label>
                            </li>
                        </ng-template>

                    </ul>
                    <div *ngIf="activeTab === 'price'">
                        <ng5-slider
                                [(value)]="minValue"
                                [(highValue)]="maxValue"
                                [options]="silderOptions"
                                (userChangeEnd)="onPriceChange()"
                        ></ng5-slider>
                    </div>
                    <div *ngIf="activeTab==='size'">
                        <div *ngFor="let filter of this.displayDimensionFilter">
                            <ng-container *ngIf="filter.values.length>0">
                                <div class="flex flex-column">
                                    <span class="dimension-filter-label">{{filter.name | uppercase}}</span>
                                    <div *ngFor="let option of filter.values" class="flex justify-between">
                                        <label class="dimension-filter-items menu-item pr3">{{renderOptions(option)}}</label>
                                        <mat-checkbox
                                                [checked]="option.checked"
                                                [value]="option"
                                                (change)="onCheckChange($event,filter.name.toLowerCase())"
                                                [disabled]="isValueProcessing"
                                        >
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
